force-app/main/default/flows/Account_Extension_Paysuite_AFTER_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_chatter_update</name>
        <label>Post chatter update</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>EazyCollect_SUN_Live_Date_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The following message has been sent to Mel Sutherland:  This is a reminder to configure the following Client to Live status:   Account name: {!$Record.Account_c__r.Name}  SUN Live Date: {!$Record.SUN_Live_Date__c}   Service Supplied: {!$Record.Service_Supplied__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Group</name>
        <label>Post to Chatter Group</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_to_Chatter_to_Update_Account_Extension</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Please note that {!$Record.Account_c__r.Name} is now live:   Organisation Type: {!$Record.Organisation_Type__c}   Service Supplied: {!$Record.Service_Supplied__c}   Sign Up Date: {!$Record.Sign_up_Date__c}   Client Live Date: {!$Record.Client_Live_Date__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>EazyCollect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Group_0</name>
        <label>Post to Chatter Group</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_to_Chatter_to_Update_Account_Extension</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Please note that {!$Record.Account_c__r.Name} is a new client:  Organisation Type: {!$Record.Organisation_Type__c}   Service Supplied: {!$Record.Service_Supplied__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>EazyCollect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Group_Type_Update</name>
        <label>Post to Chatter Group Type Update</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Account_Extension_with_Chatter_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi Everyone   The following customer has given notice to cancel their account:   Account Name: {!$Record.Account_c__r.Name}   The reason for leaving: {!$Record.Reason_Left__c}   Notice Date: {!$Record.Notice_Date__c}   Notice Preference: {!$Record.Notice_Preference__c}   1st Response Sent: {!$Record.First_Response_Sent__c}   Ave monthly transactions in last 6 months: {!$Record.Ave_monthly_transactions_in_last_6_month__c}   Agreed Final Collection Date: {!$Record.Final_Collection_Date__c}   Final Invoice Date: {!$Record.Final_Invoice_Date__c}   Notes:  {!$Record.Notes__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>EazyCollect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_on_Account_Extension</name>
        <label>Post to Chatter on Account Extension</label>
        <locationX>446</locationX>
        <locationY>3311</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Untick_SUN_Request_Box0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A SUN Request Notification email for @{!$Record.Account_c__r.Name} has been sent to the bank</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_re_SUN_Live_Date_email</name>
        <label>Post to Chatter  re SUN Live Date email</label>
        <locationX>446</locationX>
        <locationY>2735</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_SUN_Request_To_Bank</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A SUN Live Date notification e-mail has been sent to Becca Clark</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_to_re_Past_Client_Notification</name>
        <label>Post to Chatter to re Past Client Notification</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Organisation_Type_Changed_to_Given_Notice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A Past Client Notification email has been sent to Dave Carr, Andy Stalsberg &amp; Norma Mercer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_to_Update_Account_Extension</name>
        <label>Post to Chatter to Update Account Extension</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>EazyCollect_Client_Tech_Config_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The following message has been sent to the &apos;Eazy Collect All Staff&apos; Chatter Group:   Please note that {!$Record.Account_c__r.Name} is now live:   Organisation Type: {!$Record.Organisation_Type__c}   Service Supplied: {!$Record.Service_Supplied__c}   Sign Up Date: {!$Record.Sign_up_Date__c}   Client Live Date: {!$Record.Client_Live_Date__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_update_to_Chatter_Group</name>
        <label>Post update to Chatter Group</label>
        <locationX>446</locationX>
        <locationY>3191</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_to_Chatter_on_Account_Extension</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A SUN Request Notification email for @{!$Record.Account_c__r.Name} has been sent to the bank</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>EazyCollect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reminder_to_Configure_Client_to_Live_status</name>
        <label>Reminder to Configure Client to Live status</label>
        <locationX>314</locationX>
        <locationY>2159</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_chatter_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This is a reminder to configure the following Client to Live status:   Account name: {!$Record.Account_c__r.Name}  SUN Live Date: {!$Record.SUN_Live_Date__c}   Service Supplied: {!$Record.Service_Supplied__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Label.UserId_EasyCollect_Account_Extension_Playsuit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Past_Client_Notification</name>
        <label>Send Past Client Notification</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <actionName>Account_Extension_Eazy_Collect__c.Past_Customer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_to_Chatter_to_re_Past_Client_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SUN_Live_Date_Notification</name>
        <label>Send SUN Live Date Notification</label>
        <locationX>446</locationX>
        <locationY>2615</locationY>
        <actionName>Account_Extension_Eazy_Collect__c.SUN_Live_Date_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_to_Chatter_re_SUN_Live_Date_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SUN_Request_to_Bank_Email</name>
        <label>Send SUN Request to Bank Email</label>
        <locationX>446</locationX>
        <locationY>3071</locationY>
        <actionName>Account_Extension_Eazy_Collect__c.Bank_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_update_to_Chatter_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Tech_Config_Email</name>
        <label>Send Tech Config Email</label>
        <locationX>446</locationX>
        <locationY>1823</locationY>
        <actionName>Account_Extension_Eazy_Collect__c.Technical_Configuration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Client_Setup_Reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_Extension_with_Chatter_Update</name>
        <label>Update Account Extension with Chatter Update</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Eazy_Collect_Client_Live_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The following Chatter post has been sent to the Eazy Collect Chatter Group:   Hi Everyone   The following customer has given notice to cancel their account:   Account Name: {!$Record.Account_c__r.Name}   The reason for leaving: {!$Record.Reason_Left__c}   Notice Date: {!$Record.Notice_Date__c}   Notice Preference: {!$Record.Notice_Preference__c}   1st Response Sent: {!$Record.First_Response_Sent__c}   Ave monthly transactions in last 6 months: {!$Record.Ave_monthly_transactions_in_last_6_month__c}   Agreed Final Collection Date: {!$Record.Final_Collection_Date__c}   Final Invoice Date: {!$Record.Final_Invoice_Date__c}   Notes:  {!$Record.Notes__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Client_Setup_Reminder</name>
        <label>Client Setup Reminder</label>
        <locationX>578</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>EazyCollect_SUN_Live_Date_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eazy_Corporate_Enterprise</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eazy Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eazy Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_to_Configure_Client_to_Live_status</targetReference>
            </connector>
            <label>Eazy Corporate/Enterprise</label>
        </rules>
        <rules>
            <name>Eazy_Managed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUN_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eazy Managed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Reminder_to_Configure_Client_to_Live_status</targetReference>
            </connector>
            <label>Eazy Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eazy_Collect_Client_Live_Notification</name>
        <label>Eazy Collect Client Live Notification</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>EazyCollect_Client_Tech_Config_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Client_is_Live</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SystemModstamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Group_0</targetReference>
            </connector>
            <label>New Client is Live</label>
        </rules>
        <rules>
            <name>Client_is_Live_EazyDD</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EazyDD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Group</targetReference>
            </connector>
            <label>Client is Live EazyDD</label>
        </rules>
        <rules>
            <name>Client_is_Live_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eazy Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Post_to_Chatter_Group</targetReference>
            </connector>
            <label>Client is Live Enterprise</label>
        </rules>
        <rules>
            <name>Client_is_Live_Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Supplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eazy Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sign_up_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Post_to_Chatter_Group</targetReference>
            </connector>
            <label>Client is Live Corporate</label>
        </rules>
    </decisions>
    <decisions>
        <name>EazyCollect_Client_Tech_Config_Email</name>
        <label>EazyCollect Client Tech Config Email</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Client_Setup_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_with_Optional_Services</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Optional_Services__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Optional_Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Tech_Config_Email</targetReference>
            </connector>
            <label>Client with Optional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>EazyCollect_SUN_Live_Date_Notification</name>
        <label>EazyCollect SUN Live Date Notification</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Send_SUN_Request_To_Bank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUN_Live_Date_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SUN_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUN_Live_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUN_Number_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUN_Number_Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>419105</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SUN_Live_Date_Notification</targetReference>
            </connector>
            <label>SUN Live Date Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>EazyCollectPastCustomerNotification</name>
        <label>EazyCollect Past Customer Notification</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Organisation_Type_Changed_to_Given_Notice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organisation_Type_Past_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Past_Client_Notification</targetReference>
            </connector>
            <label>Organisation Type = Past Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Type_Changed_to_Given_Notice</name>
        <label>Organisation Type Changed to Given Notice</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Eazy_Collect_Client_Live_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Given_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Given Notice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Group_Type_Update</targetReference>
            </connector>
            <label>Given Notice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_SUN_Request_To_Bank</name>
        <label>Send SUN Request To Bank</label>
        <locationX>578</locationX>
        <locationY>2951</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_SUN_Request_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_SUN_Request_to_Bank__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUN_Number_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BACS_Shortname__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SUN_Request_to_Bank_Email</targetReference>
            </connector>
            <label>Send SUN Request checked</label>
        </rules>
    </decisions>
    <interviewLabel>Account Extension Paysuite - AFTER Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Extension Paysuite - AFTER Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Untick_SUN_Request_Box0</name>
        <label>Untick SUN Request Box</label>
        <locationX>446</locationX>
        <locationY>3431</locationY>
        <inputAssignments>
            <field>Send_SUN_Request_to_Bank__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EazyCollectPastCustomerNotification</targetReference>
        </connector>
        <object>Account_Extension_Eazy_Collect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
