force-app/main/default/flows/AcloudSurveyPROD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CRMAbove_15</name>
        <choiceText>Above 15</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Above 15</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRMElectronic_system</name>
        <choiceText>Electronic system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic system</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRMNA</name>
        <choiceText>NA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRMNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRMX0_5</name>
        <choiceText>0-5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-5</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRMX6_to_15</name>
        <choiceText>6 to 15</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6 to 15</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOCElectronic</name>
        <choiceText>Electronic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOCOver_250</name>
        <choiceText>Over 250</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Over 250</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOCPaper</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOCUnder_100</name>
        <choiceText>Under 100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under 100</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOCX101_to_250</name>
        <choiceText>101 to 250</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>101 to 250</stringValue>
        </value>
    </choices>
    <choices>
        <name>EX50_150</name>
        <choiceText>50-150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-150</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXAbove_150</name>
        <choiceText>Above 150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Above 150</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXCLAIMSAbove_150</name>
        <choiceText>Above 150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Above 150</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXCLAIMSX0_49</name>
        <choiceText>0-49</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-49</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXCLAIMSX50_150</name>
        <choiceText>50-150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-150</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXElectronic_system</name>
        <choiceText>Electronic system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic system</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXNA</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXPaper_based_system_Excel</name>
        <choiceText>Paper based system / Excel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper based system / Excel</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXX0_49</name>
        <choiceText>0-49</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-49</stringValue>
        </value>
    </choices>
    <choices>
        <name>HRElectronic_system</name>
        <choiceText>Electronic system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic system</stringValue>
        </value>
    </choices>
    <choices>
        <name>HRPaper_based_system</name>
        <choiceText>Paper based system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper based system</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAElectronic</name>
        <choiceText>Electronic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAmanual</name>
        <choiceText>manual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manual</stringValue>
        </value>
    </choices>
    <choices>
        <name>PANo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAOver_250</name>
        <choiceText>Over 250</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Over 250</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAUnder_100</name>
        <choiceText>Under 100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under 100</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAX101_to_250</name>
        <choiceText>101 to 250</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>101 to 250</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS2Electronic_system</name>
        <choiceText>Electronic system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic system</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS2Paper_based_system_email</name>
        <choiceText>Paper based system / email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper based system / email</stringValue>
        </value>
    </choices>
    <choices>
        <name>TSAbove_150</name>
        <choiceText>Above 150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Above 150</stringValue>
        </value>
    </choices>
    <choices>
        <name>TSElectronic_system</name>
        <choiceText>Electronic system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic system</stringValue>
        </value>
    </choices>
    <choices>
        <name>TSPaper_based_system_email</name>
        <choiceText>Paper based system / email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper based system / email</stringValue>
        </value>
    </choices>
    <choices>
        <name>TSX0_50</name>
        <choiceText>0-50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-50</stringValue>
        </value>
    </choices>
    <choices>
        <name>X50_15TS0</name>
        <choiceText>50-150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-150</stringValue>
        </value>
    </choices>
    <interviewLabel>AcloudSurveyPROD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AcloudSurveyPROD</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewTask</name>
        <label>NewTask</label>
        <locationX>508</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CorrectAnswers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Acloud Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ACCID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Acloud_Questions</name>
        <label>Acloud Questions</label>
        <locationX>511</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Answers</targetReference>
        </connector>
        <fields>
            <name>ExpenseTITLE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Expense&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EXHow_do_you_currently_process_your_expenses</name>
            <choiceReferences>EXPaper_based_system_Excel</choiceReferences>
            <choiceReferences>EXElectronic_system</choiceReferences>
            <choiceReferences>EXNA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you currently process your expenses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EXHow_many_users</name>
            <choiceReferences>EXX0_49</choiceReferences>
            <choiceReferences>EX50_150</choiceReferences>
            <choiceReferences>EXAbove_150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many users</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EXHow_many_claims_per_month</name>
            <choiceReferences>EXCLAIMSX0_49</choiceReferences>
            <choiceReferences>EXCLAIMSX50_150</choiceReferences>
            <choiceReferences>EXCLAIMSAbove_150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many claims per month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CRMTITLE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;CRM&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRMWhat_CRM_system_do_you_currently_use</name>
            <choiceReferences>CRMNone</choiceReferences>
            <choiceReferences>CRMElectronic_system</choiceReferences>
            <choiceReferences>CRMNA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What CRM system do you currently use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CRMHow_many_CRM_users_do_you_have</name>
            <choiceReferences>CRMX0_5</choiceReferences>
            <choiceReferences>CRMX6_to_15</choiceReferences>
            <choiceReferences>CRMAbove_15</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many CRM users do you have</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TeamSeerTITLE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;TeamSeer&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRMHow_do_you_currently_record_approve_holidays</name>
            <choiceReferences>TSPaper_based_system_email</choiceReferences>
            <choiceReferences>TSElectronic_system</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you currently record / approve holidays</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TSHow_do_you_currently_record_sickness</name>
            <choiceReferences>TS2Paper_based_system_email</choiceReferences>
            <choiceReferences>TS2Electronic_system</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you currently record sickness</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TSHow_many_employees_do_you_have</name>
            <choiceReferences>TSX0_50</choiceReferences>
            <choiceReferences>X50_15TS0</choiceReferences>
            <choiceReferences>TSAbove_150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many employees do you have</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HR</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;HR&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HRHow_do_you_record_employee_information</name>
            <choiceReferences>HRPaper_based_system</choiceReferences>
            <choiceReferences>HRElectronic_system</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you record employee information</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PurchaseAutomationTITLE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Purchase Automation&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PAHow_many_invoices_do_you_currently_process_each_month</name>
            <choiceReferences>PAUnder_100</choiceReferences>
            <choiceReferences>PAX101_to_250</choiceReferences>
            <choiceReferences>PAOver_250</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many invoices do you currently process each month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PADo_you_currently_have_an_invoice_approval_process</name>
            <choiceReferences>PANo</choiceReferences>
            <choiceReferences>PAmanual</choiceReferences>
            <choiceReferences>PAElectronic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you currently have an invoice approval process.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DocumentsTITLE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Documents&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PAHow_do_you_store_documents</name>
            <choiceReferences>DOCPaper</choiceReferences>
            <choiceReferences>DOCElectronic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you store documents</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DOCHow_many_documents_do_you_receive_a_month</name>
            <choiceReferences>DOCUnder_100</choiceReferences>
            <choiceReferences>DOCX101_to_250</choiceReferences>
            <choiceReferences>DOCOver_250</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many documents do you receive a month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Answers</name>
        <label>Check Answers</label>
        <locationX>513</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewTask</targetReference>
        </connector>
        <fields>
            <name>CorrectAnswers</name>
            <fieldText>Expense

How do you currently process your expenses : {!EXHow_do_you_currently_process_your_expenses}
How many users : {!EXHow_many_users}
How many claims per month : {!EXHow_many_claims_per_month}
	
CRM	

What CRM system do you currently use : {!CRMWhat_CRM_system_do_you_currently_use}
How many CRM users do you have : {!CRMHow_many_CRM_users_do_you_have}
	
TeamSeer	

How do you currently record / approve holidays : 
{!CRMHow_do_you_currently_record_approve_holidays} 
How do you currently record sickness : {!TSHow_do_you_currently_record_sickness}
How many employees do you have : {!TSHow_many_employees_do_you_have}
	
HR	

How do you record employee information : {!HRHow_do_you_record_employee_information}
	
Purchase Automation	

How many invoices do you currently process each month : {!PAHow_many_invoices_do_you_currently_process_each_month}
Do you currently have an invoice approval process : {!PADo_you_currently_have_an_invoice_approval_process}
	
Documents	

How do you store documents : {!PAHow_do_you_store_documents}
How many documents do you receive a month : {!DOCHow_many_documents_do_you_receive_a_month}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>297</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewRecords</name>
            <fieldText>A new task record has been created againt the account 

New ACloud Survey task will need to be reassigned to the correct user

Thank you</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Acloud_Questions</startElementReference>
    <status>Active</status>
    <variables>
        <name>ACCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
