force-app/main/default/flows/Case_Learning_Services_AFTER_SAVE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Learning_Services_Case_Open_Contact</name>
        <label>Learning Services - Case Open - Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Case.Learning_Services_Case_Open_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Learning_Services_Case_Open_No_Contact</name>
        <label>Learning Services - Case Open - No Contact</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Case.Learning_Services_Case_Open_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Learning_Services_Case_Resolved_Contact</name>
        <label>Learning Services - Case Resolved - Contact</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>Case.Learning_Services_Case_Resolved_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Learning_Services_Case_Resolved_No_Contact</name>
        <label>Learning Services - Case Resolved - No Contact</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>Case.Learning_Services_Case_Resolved_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Email send when the case is created</description>
        <name>Case_Open_Email</name>
        <label>Case Open Email</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Learning_Services_Case_Open_Contact</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Learning_Services_Case_Open_No_Contact</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send an email when the case is resolved</description>
        <name>Case_Resolved</name>
        <label>Case Resolved</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Resolved_Email</targetReference>
            </connector>
            <label>IsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send an email when the case is resolved</description>
        <name>Case_Resolved_Email</name>
        <label>Case Resolved Email</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Learning_Services_Case_Resolved_Contact</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Learning_Services_Case_Resolved_No_Contact</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Updated</name>
        <label>Created/Updated</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Case_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Open_Email</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>The logic for Cases when are created/updated with Record type = Learning Services</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case - Learning Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Learning Services - AFTER SAVE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000Xd56AAC</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
