force-app/main/default/flows/Case_Created_Updated_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Comment_Quick_Action</name>
        <label>Case Comment Quick Action</label>
        <locationX>3944</locationX>
        <locationY>2112</locationY>
        <actionName>Case.New_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <elementReference>CaseCommentPublishedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsPublished</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Apex Class - Run_Assignment__Invocable_StandardAssignmentFuture (Part of a Managed Package)</description>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture1</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Updates the current record with the output from the Case - Add Named Agent subflow.</description>
        <name>Add_Named_Agent</name>
        <label>Add Named Agent</label>
        <locationX>2690</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Set_Named_Agent.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Passes back the value from the Case - Updated Related Product back to the current record.</description>
        <name>Add_Product</name>
        <label>Add Product</label>
        <locationX>2426</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Update_Related_Product_Range.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Closed Values</description>
        <name>Assign_back_Closed_Values</name>
        <label>Assign back Closed Values</label>
        <locationX>1898</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Closed_Value.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Closed Values</description>
        <name>Assign_back_Closed_Values_0</name>
        <label>Assign back Closed Values</label>
        <locationX>1458</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Closed_Value_0.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Case_Resolved_Closed_Values</name>
        <label>Assign Updated Case Resolved/Closed Values</label>
        <locationX>4450</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Resolve_Close_values.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates Record with the trimmed value</description>
        <name>Assin_Trim_back_to_record</name>
        <label>Assin Trim back to record</label>
        <locationX>2360</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trim_Case_Description.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Resolve_Count_0</name>
        <label>Increase Resolve Count</label>
        <locationX>4208</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolved_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreaseResolveCountBy1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Business_Hours_on_Case</name>
        <label>Set Business Hours on Case</label>
        <locationX>3416</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Business_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_owner_to_the_Current_Flow_User</name>
        <label>Set Case owner to the Current Flow User</label>
        <locationX>2624</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.Jira_Original_Case_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Resolved_Date</name>
        <label>Set Case Resolved Date</label>
        <locationX>4208</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Resolved_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Case_Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Reply_3rd_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Resolve_Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Case_Business_Hours</name>
        <label>Set Default Case Business Hours</label>
        <locationX>798</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_UK_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EA_Related_Product_Range</name>
        <label>Set EA Related Product Range</label>
        <locationX>3680</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.EA_Related_Product_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Jira Linked Field to the Current Date/Time</description>
        <name>Set_Jira_Linked_Field</name>
        <label>Set Jira Linked Field</label>
        <locationX>3152</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.JIRA_Linked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Jira Status Timestamp to the same current Date/Time.</description>
        <name>Set_Jira_Status_Timestamp</name>
        <label>Set Jira Status Timestamp</label>
        <locationX>2888</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.JiraStatusTimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Owner Id from the Issues and Actions Case Types</description>
        <name>Set_Owner_Id</name>
        <label>Set Owner Id</label>
        <locationX>4626</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Issues_and_Actions_Case_Actions.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Account and Entitlement on the Case</description>
        <name>Sets_the_Account_and_Entitlement</name>
        <label>Sets the Account and Entitlement</label>
        <locationX>3218</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Add_Account_and_Entitlement.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Passes the update from the Case - Clear Email Fields back to the Record Variable.</description>
        <name>Update_Email_Fields</name>
        <label>Update Email Fields</label>
        <locationX>1502</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Clear_Email_Fields.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_From_Clear_Sub_Analysis</name>
        <label>Update Record From Clear Sub Analysis</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Clear_Sub_Anlysis_Field.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the record with the changed values</description>
        <name>Update_Record_from_End_User_No_Reply_Action</name>
        <label>Update Record from End User No Reply Action</label>
        <locationX>4186</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Set_End_User_Case_No_Reply_1st_Date.IncommingCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the record with the changed values</description>
        <name>Update_Record_from_Internal_Salesforce_No_Reply_Action</name>
        <label>Update Record from Internal Salesforce No Reply Action</label>
        <locationX>3482</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Set_Internal_Salesforce_Case_No_Reply_1st_Date.IncommingCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Status_Field_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the record with the changed values</description>
        <name>Update_Record_from_Milestone_Pause_Unpause</name>
        <label>Update Record from Milestone Pause/Unpause</label>
        <locationX>2954</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pause_Unpause_Milestone.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the record with the changed values</description>
        <name>Update_Record_from_Support_actions</name>
        <label>Update Record from Support actions</label>
        <locationX>1194</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Pause_Milestone_CO.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the record with the changed values</description>
        <name>Update_Record_from_Support_actions_0</name>
        <label>Update Record from Support actions</label>
        <locationX>1590</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Status_Pause_Milestone_Support.CaseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Resolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Status Field on the Case to the value of the Case_Status field.</description>
        <name>Update_Status_Field</name>
        <label>Update Status Field</label>
        <locationX>3746</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Set_Status_Field.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Status Field on the Case to the value of the Case_Status field.</description>
        <name>Update_Status_Field_0</name>
        <label>Update Status Field</label>
        <locationX>3482</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Set_Status_Field.caseIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Case_Closed_By_Fields</name>
        <label>Updated Case Closed By Fields</label>
        <locationX>4472</locationX>
        <locationY>2112</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reporting_Case_Closed_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Wipe set outstanding Value</description>
        <name>Wipe_Set_Outstanding_0</name>
        <label>Wipe Set Outstanding</label>
        <locationX>1238</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference>$Record.SetStatustoSupportOutstandingon__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Description_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Resolved</name>
        <label>Case Resolved?</label>
        <locationX>1590</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Prior_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Value_0</targetReference>
            </connector>
            <label>Is Case Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if &quot;Something&quot; has updated to perform a write back to the case object</description>
        <name>Check_an_update_has_happened</name>
        <label>Check an update has happened</label>
        <locationX>3416</locationX>
        <locationY>2904</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assin_Trim_back_to_record</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_from_End_User_No_Reply_Action</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_from_Internal_Salesforce_No_Reply_Action</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_from_Support_actions</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_from_Support_actions_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Wipe_Set_Outstanding_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_back_Closed_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_from_Milestone_Pause_Unpause</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Record_From_Clear_Sub_Analysis</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Email_Fields</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Status_Field</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sets_the_Account_and_Entitlement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Jira_Status_Timestamp</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Jira_Linked_Field</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Product</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Named_Agent</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Owner_Id</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Case_owner_to_the_Current_Flow_User</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Business_Hours_on_Case</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_EA_Related_Product_Range</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Case_Resolved_Date</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Increase_Resolve_Count_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Updated_Case_Closed_By_Fields</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Default_Case_Business_Hours</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Updated_Case_Resolved_Closed_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Business_Hours_Found_and_Different</name>
        <label>Check Business Hours Found and Different</label>
        <locationX>798</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Get_Default_UK_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Hours_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_UK_Record</targetReference>
            </connector>
            <label>Is Business Hours Null</label>
        </rules>
        <rules>
            <name>Has_the_Business_Hours_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BusinessHoursId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Bussiness_Hours</targetReference>
            </connector>
            <label>Has the Business Hours Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the description has changed</description>
        <name>Check_Description_Changed</name>
        <label>Check Description Changed</label>
        <locationX>3416</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_It_Customers_First_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CustomerLastContacted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerLastContacted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Profiles_Update_Milestones</targetReference>
            </connector>
            <label>Is It Customers First Contact</label>
        </rules>
        <rules>
            <name>Trim_Descirption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trim_Case_Description</targetReference>
            </connector>
            <label>Trim Description</label>
        </rules>
        <rules>
            <name>Jira_Case_Owner_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Owner__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>zDev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_owner_to_the_Current_Flow_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Jira Case Owner Field</label>
        </rules>
        <rules>
            <name>Check_Jira_Field_Has_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JIRA_Summary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRA_Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRA_Fix_Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRA_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRAPriority__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRA_Release_Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRA_Resolution__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JIRAStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Jira_Status_Timestamp</targetReference>
            </connector>
            <label>Check Jira Field Has Changed</label>
        </rules>
        <rules>
            <name>Jira_Record_Is_Linked_To_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JIRA_Summary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Jira_Linked_Field</targetReference>
            </connector>
            <label>Jira Record Is Linked To Case</label>
        </rules>
        <rules>
            <name>Is_Business_Hours_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_Business_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessHoursId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact.Business_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Business_Hours_on_Case</targetReference>
            </connector>
            <label>Is Business Hours Different</label>
        </rules>
        <rules>
            <name>Is_EA_Related_Product_Range_Equal_TO_Related_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EA_Related_Product_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EA_Related_Product_Range__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RelatedProduct__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EA_Related_Product_Range</targetReference>
            </connector>
            <label>Is EA Related Product Range Equal TO Related Product</label>
        </rules>
        <rules>
            <name>Has_the_Solution_Field_Been_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solution__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LinkedProblem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Comment_Quick_Action</targetReference>
            </connector>
            <label>Has the Solution Field Been Updated</label>
        </rules>
        <rules>
            <name>Solution_No_Longer_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Resolved_Date</targetReference>
            </connector>
            <label>Solution No Longer Resolved</label>
        </rules>
        <rules>
            <name>Is_Case_Closed_By_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_If_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unassigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Case_Closed_By_Fields</targetReference>
            </connector>
            <label>Is Case Closed By Customer</label>
        </rules>
    </decisions>
    <decisions>
        <description>End User Case Actions</description>
        <name>End_User_Case_Actions</name>
        <label>End User Case Actions</label>
        <locationX>4450</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Description_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_No_Reply_1st_End_User_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Outstanding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_End_User_Case_No_Reply_1st_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set No Reply 1st End User Support</label>
        </rules>
        <rules>
            <name>Is_Case_Resolved_or_Closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resolve_Close_values</targetReference>
            </connector>
            <label>Is Case Resolved or Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_Is_Not_Null1</name>
        <label>Entitlement Is Not Null</label>
        <locationX>3416</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>Check_an_update_has_happened</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Entitlement_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>integration.user@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Update_Milestones_0</targetReference>
            </connector>
            <label>Is Entitlement Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Internal Salesforce Case Actions</description>
        <name>Internal_Salesforce_Case_Actions</name>
        <label>Internal Salesforce Case Actions</label>
        <locationX>3614</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Description_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Add_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Add_Account_and_Entitlement</targetReference>
            </connector>
            <label>Case Add Entitlement</label>
        </rules>
        <rules>
            <name>Set_No_Reply_1st_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Internal_Salesforce_Case_No_Reply_1st_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set No Reply 1st Internal</label>
        </rules>
        <rules>
            <name>Case_Status_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Status_Field</targetReference>
            </connector>
            <label>Case Status Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Actions for the Issues And Actions Cases</description>
        <name>Issues_And_Actions_Cases</name>
        <label>Issues And Actions Cases</label>
        <locationX>4758</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Description_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Logged_Via_Community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Issues_and_Actions_Case_Actions</targetReference>
            </connector>
            <label>Logged Via Community</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the prior status to see what it was where needed</description>
        <name>Prior_Status_Check</name>
        <label>Prior Status Check</label>
        <locationX>1502</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Check_Description_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wipe_Return_To_Support_Outstanding_Decsion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SetStatustoSupportOutstandingon__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wipe_Set_Outstanding_0</targetReference>
            </connector>
            <label>Wipe Return To Support Outstanding</label>
        </rules>
        <rules>
            <name>Check_Case_Status_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Clear_Email_Fields</targetReference>
            </connector>
            <label>Check Case Status Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision routing for Record Types</description>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>3416</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Check_Description_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Actions</targetReference>
            </connector>
            <label>Support or Support New</label>
        </rules>
        <rules>
            <name>Internal_Salesforce_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesForce_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Salesforce_Case_Actions</targetReference>
            </connector>
            <label>Internal Salesforce Support</label>
        </rules>
        <rules>
            <name>End_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_User_Case_Actions</targetReference>
            </connector>
            <label>End User</label>
        </rules>
        <rules>
            <name>Issues_And_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issues_and_Actions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issues_And_Actions_Cases</targetReference>
            </connector>
            <label>Issues And Actions</label>
        </rules>
    </decisions>
    <decisions>
        <description>Support Actions</description>
        <name>Support_Actions</name>
        <label>Support Actions</label>
        <locationX>1502</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Pause_Unpause_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Live_Chat_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G58000003ExN8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture</targetReference>
            </connector>
            <label>Live Chat - Blocked</label>
        </rules>
        <rules>
            <name>Awaiting_Your_Call_Product_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web - Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G58000003ExN8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture1</targetReference>
            </connector>
            <label>Awaiting Your Call Product Assignment</label>
        </rules>
        <rules>
            <name>Changed_Account_and_Entitlement</name>
            <conditionLogic>(3 AND 1 AND 2) OR ((4 OR 5) AND 1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EntitlementId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Hours</targetReference>
            </connector>
            <label>Changed Account and Entitlement</label>
        </rules>
        <rules>
            <name>Set_1st_Reply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Outstanding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Support_Case_No_Reply_1st_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set 1st No Reply</label>
        </rules>
        <rules>
            <name>Pause_Milestone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Fix Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Status_Pause_Milestone_Support</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pause Milestone</label>
        </rules>
        <rules>
            <name>Is_Case_Closed_Or_Resolved</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Value</targetReference>
            </connector>
            <label>Is Case Closed Or Resolved</label>
        </rules>
        <rules>
            <name>Check_Entitlement_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubAnalysis__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SubAnalysis__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Clear_Sub_Anlysis_Field</targetReference>
            </connector>
            <label>Check Entitlement Has Changed</label>
        </rules>
        <rules>
            <name>Check_Case_Has_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.AssociatedProductRange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.AssociatedProductRange__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RelatedProduct__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_Related_Product_Range</targetReference>
            </connector>
            <label>Check Case Has Entitlement</label>
        </rules>
        <rules>
            <name>Check_Named_Agent_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.NamedAgentEntitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.PlanType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.NamedAgentEntitlement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NamedAgentLookup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Named_Agent</targetReference>
            </connector>
            <label>Check Named Agent is Present</label>
        </rules>
    </decisions>
    <description>Case Created and Updated actions
SFAE-287 - Added Closed/Resolved Subflow for End User Support Cases (used base version - v6)
v9 - Created from v6, SFAE-417 - Added Case Record Type filter- &apos;Support New&apos; with existing Support record type</description>
    <formulas>
        <name>CaseCommentPublishedBody</name>
        <dataType>String</dataType>
        <expression>&quot;Saved Solution:&quot; + {!$Record.Solution__c}</expression>
    </formulas>
    <formulas>
        <name>IncreaseResolveCountBy1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Resolved_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SetBussinessHoursName</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Entitlement_Plan_Level__c},
&quot;Classic&quot;, TEXT({!$Record.Account.Service_Region__c}) + &quot; : Classic/Essential&quot;,
&quot;Essential&quot;, TEXT({!$Record.Account.Service_Region__c}) + &quot; : Classic/Essential&quot;,
&quot;Standard&quot;, TEXT({!$Record.Account.Service_Region__c}) + &quot; : Standard/Premier&quot;,
&quot;Premier&quot;, TEXT({!$Record.Account.Service_Region__c}) + &quot; : Standard/Premier&quot;,
TEXT({!$Record.Account.Service_Region__c}) + &quot; : Classic/Essential&quot;
)</expression>
    </formulas>
    <interviewLabel>Case - Created/Updated Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Created/Updated Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>798</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Business_Hours_Found_and_Different</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetBussinessHoursName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_UK_Record</name>
        <label>Get Default UK Record</label>
        <locationX>798</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Case_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Revert case to support outstanding.</description>
        <name>Revert_Case_to_Support_Outstanding</name>
        <label>Revert Case to Support Outstanding</label>
        <locationX>5242</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>SetStatustoSupportOutstandingon__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Bussiness_Hours</name>
        <label>Set Case Bussiness Hours</label>
        <locationX>754</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Get_Business_Hours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update record with changes</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>3284</locationX>
        <locationY>3024</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4335</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Set_Status_To_Support_Outstanding_On</name>
            <connector>
                <targetReference>Revert_Case_to_Support_Outstanding</targetReference>
            </connector>
            <label>Set Status To Support Outstanding On</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SetStatustoSupportOutstandingon__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Resolve_Close_values</name>
        <label>Assign Resolve/Close values</label>
        <locationX>4450</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Assign_Updated_Case_Resolved_Closed_Values</targetReference>
        </connector>
        <flowName>Case_Update_Resolve_Close_Details</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Case_Add_Account_and_Entitlement</name>
        <label>Case - Add Account and Entitlement</label>
        <locationX>3218</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Sets_the_Account_and_Entitlement</targetReference>
        </connector>
        <flowName>Case_Add_Account_and_Entitlement</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calls the Case - Clear Email Fields Subflow</description>
        <name>Case_Clear_Email_Fields</name>
        <label>Case - Clear Email Fields</label>
        <locationX>1502</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Update_Email_Fields</targetReference>
        </connector>
        <flowName>Clear_Email_Fields</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Set the Sub Analysis Field to an empty String.</description>
        <name>Case_Clear_Sub_Anlysis_Field</name>
        <label>Case - Clear Sub Anlysis Field</label>
        <locationX>2162</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Record_From_Clear_Sub_Analysis</targetReference>
        </connector>
        <flowName>Case_Clear_Sub_Anlysis_Field</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Sub Flow for Handling Issues &amp; Actions Cases</description>
        <name>Case_Issues_and_Actions_Case_Actions</name>
        <label>Case - Issues and Actions Case Actions</label>
        <locationX>4626</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Set_Owner_Id</targetReference>
        </connector>
        <flowName>Case_Issues_and_Actions_Case_Actions</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Sets the no reply 1st date</description>
        <name>Case_Set_End_User_Case_No_Reply_1st_Date</name>
        <label>Case - Set End User Case No Reply 1st Date</label>
        <locationX>4186</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Record_from_End_User_No_Reply_Action</targetReference>
        </connector>
        <flowName>Case_Set_No_Reply_1st_Date</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Sets the no reply 1st date</description>
        <name>Case_Set_Internal_Salesforce_Case_No_Reply_1st_Date</name>
        <label>Case - Set Internal Salesforce Case No Reply 1st Date</label>
        <locationX>3482</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Record_from_Internal_Salesforce_No_Reply_Action</targetReference>
        </connector>
        <flowName>Case_Set_No_Reply_1st_Date</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calls the Case - Set Named Agent Subflow and passes the current record into the flow.</description>
        <name>Case_Set_Named_Agent</name>
        <label>Case - Set Named Agent</label>
        <locationX>2690</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Add_Named_Agent</targetReference>
        </connector>
        <flowName>Case_Set_Named_Agent</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Case_Set_Status_Field</name>
        <label>Case - Set Status Field</label>
        <locationX>3746</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Status_Field</targetReference>
        </connector>
        <flowName>Case_Set_Status_Field</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Case_Set_Status_Field_0</name>
        <label>Case - Set Status Field</label>
        <locationX>3482</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Update_Status_Field_0</targetReference>
        </connector>
        <flowName>Case_Set_Status_Field</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Sets the no reply 1st date</description>
        <name>Case_Set_Support_Case_No_Reply_1st_Date</name>
        <label>Case - Set Support Case No Reply 1st Date</label>
        <locationX>1194</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Support_Pause_Milestone_CO</targetReference>
        </connector>
        <flowName>Case_Set_No_Reply_1st_Date</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calls the Case - Update Related Product Range subflow and passes the current record into the flow.</description>
        <name>Case_Update_Related_Product_Range</name>
        <label>Case - Update Related Product Range</label>
        <locationX>2426</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Add_Product</targetReference>
        </connector>
        <flowName>Case_Updated_Related_Product_Range</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Pause Milestone for other status&apos;s</description>
        <name>Other_Status_Pause_Milestone_Support</name>
        <label>Other Status Pause Milestone Support</label>
        <locationX>1590</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Record_from_Support_actions_0</targetReference>
        </connector>
        <flowName>Case_Pause_UnPause_Milestones</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Pause/Unpause Milestone</description>
        <name>Pause_Unpause_Milestone</name>
        <label>Pause/Unpause Milestone</label>
        <locationX>2954</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Record_from_Milestone_Pause_Unpause</targetReference>
        </connector>
        <flowName>Case_Pause_UnPause_Milestones</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Set the closed values on case closed</description>
        <name>Set_Closed_Value</name>
        <label>Set Closed Value</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Assign_back_Closed_Values</targetReference>
        </connector>
        <flowName>Case_Set_Closed_Values</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Set the closed values on case closed</description>
        <name>Set_Closed_Value_0</name>
        <label>Set Closed Value</label>
        <locationX>1458</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Assign_back_Closed_Values_0</targetReference>
        </connector>
        <flowName>Case_Set_Closed_Values</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Pause Milestone</description>
        <name>Support_Pause_Milestone_CO</name>
        <label>Support - Pause Milestone CO</label>
        <locationX>1194</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Record_from_Support_actions</targetReference>
        </connector>
        <flowName>Case_Pause_UnPause_Milestones</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>Case_Set_Support_Case_No_Reply_1st_Date.IncommingCase</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Profiles_Update_Milestones</name>
        <label>Support - Profiles Update Milestones</label>
        <locationX>2096</locationX>
        <locationY>2112</locationY>
        <connector>
            <targetReference>Entitlement_Is_Not_Null1</targetReference>
        </connector>
        <flowName>Support_Profiles_Update_Milestones</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateAction</name>
            <value>
                <stringValue>First Response</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Update_Milestones_0</name>
        <label>Support - Update Milestones</label>
        <locationX>3284</locationX>
        <locationY>2568</locationY>
        <connector>
            <targetReference>Support_Update_SLA_Target_Date_0</targetReference>
        </connector>
        <flowName>Support_Profiles_Update_Milestones</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateAction</name>
            <value>
                <stringValue>SLA Time</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Update_SLA_Target_Date_0</name>
        <label>Support - Update SLA Target Date</label>
        <locationX>3284</locationX>
        <locationY>2688</locationY>
        <connector>
            <targetReference>Check_an_update_has_happened</targetReference>
        </connector>
        <flowName>Support_Update_SLA_Target_Date</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Trims the case description</description>
        <name>Trim_Case_Description</name>
        <label>Trim Case Description</label>
        <locationX>2360</locationX>
        <locationY>2112</locationY>
        <connector>
            <targetReference>Assin_Trim_back_to_record</targetReference>
        </connector>
        <flowName>Case_Trim_Description</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>customerOutstandingPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Outstanding</stringValue>
        </value>
    </variables>
    <variables>
        <name>picklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Outstanding</stringValue>
        </value>
    </variables>
</Flow>
