force-app/main/default/flows/Case_Comment_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Customer_Comment_To_False</name>
        <label>Set Customer Comment To False</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Case.Customer_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Update_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Comment_To_True</name>
        <label>Set Customer Comment To True</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Case.Customer_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Comment_Actions</name>
        <label>Case Comment Actions</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Just_Run_Not_intuser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>intuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Block_Email_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FlexPoints_Redemption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Internal_Update_When_Ticket_Updated</targetReference>
            </connector>
            <label>Just Run (Not intuser)</label>
        </rules>
        <rules>
            <name>Customer_Commented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Customer_Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FlexPoints_Redemption</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isAccessGroupEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Comment_To_True</targetReference>
            </connector>
            <label>Customer Commented</label>
        </rules>
        <rules>
            <name>Support_Commented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPublished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Customer_Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FlexPoints_Redemption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Comment_To_False</targetReference>
            </connector>
            <label>Support Commented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_An_Assignment_Visisted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Customer_Comment_To_True</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Customer_Comment_To_False</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Was An Assignment Visisted</label>
        </rules>
    </decisions>
    <formulas>
        <name>isAccessGroupEmail</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.CreatedBy.Email}, &apos;@theaccessgroup.com&apos;)</expression>
    </formulas>
    <interviewLabel>Case Comment - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Comment - Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Comment_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Support_Internal_Update_When_Ticket_Updated</name>
        <label>Support - Internal Update When Ticket Updated</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <flowName>Update_When_Ticket_Updated</flowName>
        <inputAssignments>
            <name>InputCaseComment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Update_Milestones</name>
        <label>Support - Update Milestones</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <flowName>Support_Profiles_Update_Milestones</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>Get_Parent_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateAction</name>
            <value>
                <stringValue>Next Reply</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
