force-app/main/default/flows/CaseEscalationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Comment_Fields</name>
        <label>Assign Comment Fields</label>
        <locationX>187</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>Comment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSOV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentBodyFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseComment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CommentBodyFormula</name>
        <dataType>String</dataType>
        <expression>IF(
{!CaseSOV.Case_Escalated__c} = TRUE, 
&quot;This case has now been escalated by the customer support team&quot;, 
&quot;This case has now been deescalated by the customer support team&quot;
)</expression>
    </formulas>
    <interviewLabel>CaseEscalationProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseEscalationProcess</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCaseComment</name>
        <label>CreateCaseComment</label>
        <locationX>361</locationX>
        <locationY>19</locationY>
        <inputReference>Comment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>LookupCase</name>
        <label>LookupCase</label>
        <locationX>19</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Comment_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseSOV</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Escalated__c</queriedFields>
    </recordLookups>
    <startElementReference>LookupCase</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Comment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
</Flow>
