force-app/main/default/flows/Case_Update_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>1204</locationX>
        <locationY>542</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Final44_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!CaseSOV.OwnerId}] Customer has requested a call back referance this project and has left the reason: {!PMContactReason}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>itemid</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_IA_ACtion</name>
        <label>New IA ACtion</label>
        <locationX>1356</locationX>
        <locationY>608</locationY>
        <actionName>Issue_And_Actions</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Final44_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Parent_Project__c</name>
            <value>
                <elementReference>CaseSOV.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User_Field_1__c</name>
            <value>
                <elementReference>User_Field_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User_Field_2__c</name>
            <value>
                <elementReference>User_Field_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User_Field_3__c</name>
            <value>
                <elementReference>User_Field_3</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_closed</name>
        <label>Assign to closed</label>
        <locationX>1042</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Closed By Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.SolutionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed By Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_it</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_closed_1</name>
        <label>Assign to closed</label>
        <locationX>1089</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Closed By Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_it_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>390</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>UserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserIDFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open</name>
        <label>Open</label>
        <locationX>509</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeviousSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSOV.Solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.SolutionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.Prevention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_1</name>
        <label>Open</label>
        <locationX>947</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Outstanding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSOV.SolutionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Cause if blank</description>
        <name>Set_Cause</name>
        <label>Set Cause</label>
        <locationX>905</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown Cause</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSubanalysis_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Subbie if blank to Other</description>
        <name>Subbie_Blank_Set</name>
        <label>Subbie Blank</label>
        <locationX>1047</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>CaseSOV.SubAnalysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_closed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Action</name>
        <choiceText>Action</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bug</name>
        <choiceText>Bug</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Changes</name>
        <choiceText>Changes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Close_Case</name>
        <choiceText>Close Case</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Data</name>
        <choiceText>Data</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Escalate_my_case</name>
        <choiceText>Escalate my case</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Feature_Request</name>
        <choiceText>Feature Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hosting_Infrastructure</name>
        <choiceText>Hosting/Infrastructure</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Issue</name>
        <choiceText>Issue</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Log_New_Issue_Action</name>
        <choiceText>Log New Issue &amp; Action</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_Issue_Action</name>
        <choiceText>New Issue &amp; Action</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Please_increase_priority_of_case</name>
        <choiceText>Please increase priority of case</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Problem</name>
        <choiceText>Problem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Question</name>
        <choiceText>Question</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReOpen_Case</name>
        <choiceText>ReOpen Case</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Request_Call_From_Project_Manager</name>
        <choiceText>Request Call</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Wishes</name>
        <choiceText>Wishes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_Record_Type_ID</name>
        <label>Case Record Type ID</label>
        <locationX>380</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Support012580000006HfhAAE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>012580000006Hfd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>012580000006Hfh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status</targetReference>
            </connector>
            <label>Support</label>
        </rules>
        <rules>
            <name>POAP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>01258000000Vb46</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>01258000000Vb45</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Contact_POAP</targetReference>
            </connector>
            <label>POAP</label>
        </rules>
        <rules>
            <name>IssueAndActions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>01258000000Vb44</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status_1</targetReference>
            </connector>
            <label>IssueAndActions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>374</locationX>
        <locationY>1036</locationY>
        <defaultConnector>
            <targetReference>Selection_of_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Is_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Number_Of_Days_Closed</targetReference>
            </connector>
            <label>Case Is Closed</label>
        </rules>
        <rules>
            <name>Open_and_escalated</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Case_Escalated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_of_case_that_is_already_escalated</targetReference>
            </connector>
            <label>Open and escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_1</name>
        <label>Check Case Status</label>
        <locationX>697</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Selection_of_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Is_Closed_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReopenCase_1</targetReference>
            </connector>
            <label>Case Is Closed</label>
        </rules>
        <rules>
            <name>Open_and_escalated_1</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Case_Escalated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_of_case_that_is_already_escalated_1</targetReference>
            </connector>
            <label>Open and escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_Of_Days_Closed</name>
        <label>Check Number Of Days Closed</label>
        <locationX>293</locationX>
        <locationY>1232</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Over_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberDaysClosed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReopenCase_0</targetReference>
            </connector>
            <label>Over 10</label>
        </rules>
        <rules>
            <name>equal_to_or_under_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberDaysClosed</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReopenCase</targetReference>
            </connector>
            <label>equal to or under 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>756</locationX>
        <locationY>1194</locationY>
        <defaultConnector>
            <targetReference>what</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close_Case123</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Resolved_Case</targetReference>
            </connector>
            <label>Close Case Resloved</label>
        </rules>
        <rules>
            <name>Clsoe_Case_Not_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCause_Blank</targetReference>
            </connector>
            <label>Clsoe Case Not Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_1</name>
        <label>Check Status</label>
        <locationX>1078</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>what_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close_Case123_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_closed_1</targetReference>
            </connector>
            <label>Close Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cause Blank</description>
        <name>IsCause_Blank</name>
        <label>Cause Blank?</label>
        <locationX>702</locationX>
        <locationY>1026</locationY>
        <defaultConnector>
            <targetReference>IsSubanalysis_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cause_BlankCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.Cause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cause</targetReference>
            </connector>
            <label>Cause Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Subbie is blank and populates it if thats is the cae</description>
        <name>IsSubanalysis_Blank</name>
        <label>IsSubanalysis Blank</label>
        <locationX>699</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Assign_to_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subbie_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.SubAnalysis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subbie_Blank_Set</targetReference>
            </connector>
            <label>Subbie Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>POAP_Action</name>
        <label>POAP Action</label>
        <locationX>848</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Request_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Call_From_Project_Manager</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReasonPM</targetReference>
            </connector>
            <label>Request Contact</label>
        </rules>
        <rules>
            <name>New_IA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Log_New_Issue_Action</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_IAsss</targetReference>
            </connector>
            <label>New IA</label>
        </rules>
    </decisions>
    <decisions>
        <name>what</name>
        <label>what</label>
        <locationX>1521</locationX>
        <locationY>964</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Resolved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateComment2</targetReference>
            </connector>
            <label>closed</label>
        </rules>
        <rules>
            <name>priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_increase_priority_of_case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Reason</targetReference>
            </connector>
            <label>priority</label>
        </rules>
        <rules>
            <name>escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_my_case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason</targetReference>
            </connector>
            <label>escalate</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSOV.Resolved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final44</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_1</name>
        <label>what</label>
        <locationX>1374</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>closed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSOV.Resolved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateComment2_1</targetReference>
            </connector>
            <label>closed</label>
        </rules>
        <rules>
            <name>New_IAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Log_New_Issue_Action</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>New IA</label>
        </rules>
    </decisions>
    <description>Customer Control over Closing/Updating cases from the Community</description>
    <formulas>
        <name>NumberDaysClosed</name>
        <dataType>Number</dataType>
        <expression>Now() - {!CaseSOV.Closed_Resolved_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PriorityChangeFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Request for priority change:&quot; + &quot; &quot; + {!ReasonPriority}</expression>
    </formulas>
    <formulas>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>UserIDFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Case Update Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Priority</name>
        <label>Create Priority</label>
        <locationX>1753</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Final_22</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>PriorityChangeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseComment</name>
        <label>CreateCaseComment</label>
        <locationX>841</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Case has been reopened Reason: {!Reason_For_Re_open}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateComment2</name>
        <label>CreateCommentclosed</label>
        <locationX>1375</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Closed_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Case has been closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateComment2_1</name>
        <label>CreateCommentclosed</label>
        <locationX>1311</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Closed_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Case has been closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Escalated</name>
        <label>Escalated</label>
        <locationX>1891</locationX>
        <locationY>1168</locationY>
        <connector>
            <targetReference>Final_22_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Customer has requested that this case be escalated with the reason: {!ReasonEscalated}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>StoreSolutionInComment</name>
        <label>StoreSolutionInComment</label>
        <locationX>836</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>CreateCaseComment</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>PeviousSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseSOV.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>388</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseSOV</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Solution__c</queriedFields>
        <queriedFields>ReasonCode__c</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>Resolved__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Case_Escalated__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Closed_Resolved_Date__c</queriedFields>
        <queriedFields>Cause__c</queriedFields>
        <queriedFields>SubAnalysis__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_it</name>
        <label>Close it</label>
        <locationX>1274</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>what</targetReference>
        </connector>
        <inputReference>CaseSOV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_it_1</name>
        <label>Close it</label>
        <locationX>1212</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>what_1</targetReference>
        </connector>
        <inputReference>CaseSOV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Resolved_Case</name>
        <label>Close Resolved Case</label>
        <locationX>1294</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Final_Final_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSOV.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>641</locationX>
        <locationY>1474</locationY>
        <connector>
            <targetReference>StoreSolutionInComment</targetReference>
        </connector>
        <inputReference>CaseSOV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_1</name>
        <label>Update</label>
        <locationX>1204</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Final_Screen_1</targetReference>
        </connector>
        <inputReference>CaseSOV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClosedCase</name>
        <label>UpdateClosedCase</label>
        <locationX>1502</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>Final_Final_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClosedCase_1</name>
        <label>UpdateClosedCase</label>
        <locationX>1442</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Final_Final_Closed_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Closed_Screen</name>
        <label>Closed Screen</label>
        <locationX>1381</locationX>
        <locationY>1220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateClosedCase</targetReference>
        </connector>
        <fields>
            <name>Thanks</name>
            <fieldText>Thank you {!UserFirstName}.

Your Request &quot;{!PressNEXT}&quot; for Case Number {!CaseSOV.CaseNumber} is Confirmed.

It would be very helpful to us if you could take the time to provide a reason for closing this</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Solution</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closed_Screen_0</name>
        <label>Closed Screen</label>
        <locationX>1290</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateClosedCase_1</targetReference>
        </connector>
        <fields>
            <name>Thanks_0</name>
            <fieldText>Thank you {!UserFirstName}.

Your Request &quot;{!PressNEXT}&quot; for Case Number {!CaseSOV.CaseNumber} is Confirmed.

It would be very helpful to us if you could take the time to provide a reason for closing this</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Solution_0</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final44</name>
        <label>Final</label>
        <locationX>1630</locationX>
        <locationY>1153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final1</name>
            <fieldText>Thank you {!UserFirstName}.

Your Request &quot;{!PressNEXT}&quot; for Case Number {!CaseSOV.CaseNumber} is Confirmed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final44_0_0</name>
        <label>Final</label>
        <locationX>1309</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final1_0_0</name>
            <fieldText>Thank you {!UserFirstName}.

Your Request for a call back has been confirmed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final44_0_0_0</name>
        <label>Final</label>
        <locationX>1519</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final1_0_0_0</name>
            <fieldText>Thank you {!UserFirstName}.

Your Issue &amp; Action has been created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_22</name>
        <label>Final Priority</label>
        <locationX>1757</locationX>
        <locationY>1258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finaltext</name>
            <fieldText>Thank you {!UserFirstName}.

Your request to increase the priority for Case Number {!CaseSOV.CaseNumber} is confirmed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_22_0</name>
        <label>Final escalate</label>
        <locationX>1900</locationX>
        <locationY>1259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finaltext_0</name>
            <fieldText>Thank you {!UserFirstName}.

Your request to escalate Case Number {!CaseSOV.CaseNumber} is confirmed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Final_Closed</name>
        <label>Final Final Closed</label>
        <locationX>1500</locationX>
        <locationY>1424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalBye</name>
            <fieldText>Your case is now updated with the solution you have provided.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Final_Closed_1</name>
        <label>Final Final Closed</label>
        <locationX>1455</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalBye_1</name>
            <fieldText>Your case is now updated with the solution you have provided.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1009</locationX>
        <locationY>1507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text2</name>
            <fieldText>Thank you. Your case has been reopened, and a support agent will be in touch shortly.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_1</name>
        <label>Final Screen</label>
        <locationX>1203</locationX>
        <locationY>432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text2_1</name>
            <fieldText>Thank you. Your case has been reopened.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_IAsss</name>
        <label>New IA</label>
        <locationX>1072</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_IA_ACtion</targetReference>
        </connector>
        <fields>
            <name>User_Field_1</name>
            <dataType>String</dataType>
            <fieldText>User Field 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Field_2</name>
            <dataType>String</dataType>
            <fieldText>User Field 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_Field_3</name>
            <dataType>String</dataType>
            <fieldText>User Field 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Problem</choiceReferences>
            <choiceReferences>Feature_Request</choiceReferences>
            <choiceReferences>Question</choiceReferences>
            <choiceReferences>Wishes</choiceReferences>
            <choiceReferences>Changes</choiceReferences>
            <choiceReferences>Bug</choiceReferences>
            <choiceReferences>Action</choiceReferences>
            <choiceReferences>Issue</choiceReferences>
            <choiceReferences>Data</choiceReferences>
            <choiceReferences>Hosting_Infrastructure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Priority_Reason</name>
        <label>Priority Reason</label>
        <locationX>1732</locationX>
        <locationY>1062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Priority</targetReference>
        </connector>
        <fields>
            <name>Well</name>
            <fieldText>Please provide a reason as to why you think the priority of this case should be changed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReasonPriority</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason</name>
        <label>Reason</label>
        <locationX>1874</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Escalated</targetReference>
        </connector>
        <fields>
            <name>ReasonWhy</name>
            <fieldText>Please provide a reason as to why you feel this case should be escalated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReasonEscalated</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReasonPM</name>
        <label>Reason</label>
        <locationX>1043</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <fields>
            <name>PMContactReason</name>
            <fieldText>Please supply reason for request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReopenCase</name>
        <label>ReopenCase</label>
        <locationX>311</locationX>
        <locationY>1481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>Case {!CaseSOV.CaseNumber} has been closed. Please provide a reason and click &quot;NEXT&quot; to reopen this case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_For_Re_open</name>
            <fieldText>Reason For Reopen</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseSolution</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Solution&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;{!CaseSOV.Solution__c}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReopenCase_0</name>
        <label>Case Closed</label>
        <locationX>561</locationX>
        <locationY>1348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_0</name>
            <fieldText>&lt;p&gt;Case {!CaseSOV.CaseNumber} has been closed. If you&apos;d like to discuss this case further, please open up a new case and we&apos;ll be in touch soon to help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSolution_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Solution&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;{!CaseSOV.Solution__c}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReopenCase_1</name>
        <label>ReopenCase</label>
        <locationX>697</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_1</targetReference>
        </connector>
        <fields>
            <name>Text_1</name>
            <fieldText>Case {!CaseSOV.CaseNumber} has been closed. Please click &quot;NEXT&quot; to reopen this case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSolution_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Solution&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;{!CaseSOV.Solution__c}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Contact_POAP</name>
        <label>Request Contact POAP</label>
        <locationX>757</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>POAP_Action</targetReference>
        </connector>
        <fields>
            <name>Select_an_action_and_press_next_to_execute</name>
            <choiceReferences>Request_Call_From_Project_Manager</choiceReferences>
            <choiceReferences>Log_New_Issue_Action</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action and press next to execute</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_of_case_that_is_already_escalated</name>
        <label>Screen of case that is already escalated</label>
        <locationX>606</locationX>
        <locationY>958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <fields>
            <name>Namee</name>
            <choiceReferences>Close_Case</choiceReferences>
            <choiceReferences>Please_increase_priority_of_case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action and press NEXT to execute</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_of_case_that_is_already_escalated_1</name>
        <label>Screen of case that is already escalated</label>
        <locationX>906</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status_1</targetReference>
        </connector>
        <fields>
            <name>Namee_1</name>
            <choiceReferences>Close_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action and press NEXT to execute</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_of_Action</name>
        <label>Selection of Action</label>
        <locationX>515</locationX>
        <locationY>1212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <fields>
            <name>PressNEXT</name>
            <choiceReferences>Close_Case</choiceReferences>
            <choiceReferences>Please_increase_priority_of_case</choiceReferences>
            <choiceReferences>Escalate_my_case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action and press NEXT to execute</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_of_Action_1</name>
        <label>Selection of Action</label>
        <locationX>909</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status_1</targetReference>
        </connector>
        <fields>
            <name>PressNEXT_1</name>
            <choiceReferences>Close_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action and press NEXT to execute</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Assign_User_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CommentCreateSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>CommentSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>itemid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PeviousSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
