force-app/main/default/flows/Case_Escalation_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Populate_Fields</name>
        <label>Populate Fields</label>
        <locationX>1097</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>CaseList.Escalation_Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationReasonCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Loss_of_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loss_Of_ARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Justified_Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Justified_Complaint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Lessons_Learnt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lessons_Learnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Fields_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Codes</name>
        <label>Set Codes</label>
        <locationX>747</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>CaseList.Cause_of_Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Reason_for_Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Escalation_Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_closed</name>
        <label>Set to closed</label>
        <locationX>853</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>CaseList.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Casefinal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Fields_Set</name>
        <label>Are Fields Set</label>
        <locationX>1237</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Not_All_Fields_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.Cause_of_Complaint__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.Reason_for_Complaint__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.Escalation_Reason_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.Escalation_Reason_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Please Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Close</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>502</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Case_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Codes</targetReference>
            </connector>
            <label>Case Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CauseForComplaint</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause_of_Complaint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CauseList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EscalationReasonCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Escalation_Reason_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JustifiedComplaint</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Justified_Complaint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Complaint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolutionCodeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SolutionCode__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Case - Escalation Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Escalation Management V30</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentCase</name>
        <label>GetCurrentCase</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>noperms</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Reason_for_Complaint__c</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Escalation_Reason_Code__c</queriedFields>
        <queriedFields>Cause_of_Complaint__c</queriedFields>
        <queriedFields>Justified_Complaint__c</queriedFields>
        <queriedFields>Loss_of_ARR__c</queriedFields>
        <queriedFields>Lessons_Learnt__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Casefinal</name>
        <label>Close Case</label>
        <locationX>561</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>GetCurrentCase</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Close Case</description>
        <name>Update_Case_Close</name>
        <label>Update Case Close</label>
        <locationX>1222</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Set_to_closed</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_is_Closed</name>
        <label>Case Closed Summary</label>
        <locationX>496</locationX>
        <locationY>310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseSummary</name>
            <fieldText>{!ClosedSummaryText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CauseComplaint</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Cause_of_Complaint__c</elementReference>
            </defaultValue>
            <fieldText>Cause Of Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReasonComplaint</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Reason_for_Complaint__c</elementReference>
            </defaultValue>
            <fieldText>Reason For Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Escalation_Reason_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Escalation_Reason_Code__c</elementReference>
            </defaultValue>
            <fieldText>Escalation Reason Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lessons_LearntN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Lessons_Learnt__c</elementReference>
            </defaultValue>
            <fieldText>Lessons Learnt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CostA</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Cost__c</elementReference>
            </defaultValue>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Loss_Of_ARRN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Loss_of_ARR__c</elementReference>
            </defaultValue>
            <fieldText>Loss Of ARR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Justified_ComplaintN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Justified_Complaint__c</elementReference>
            </defaultValue>
            <fieldText>Justified Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>912</locationX>
        <locationY>13</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Populate_Fields</targetReference>
        </connector>
        <fields>
            <name>Close_Case_Summary</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!CloseCaseTextTemp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CloseFields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Cause_of_Complaint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reason_for_Complaint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>CauseForComplaint</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseList.Cause_of_Complaint__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseList.Reason_for_Complaint__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Escalation_ReasonCode</name>
            <choiceReferences>EscalationReasonCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escalation Reason Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lessons_Learnt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lessons_Learnt</elementReference>
            </defaultValue>
            <fieldText>Lessons Learnt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cost</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Cost</elementReference>
            </defaultValue>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Loss_Of_ARR</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loss_Of_ARR</elementReference>
            </defaultValue>
            <fieldText>Loss Of ARR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Justified_Complaint</name>
            <choiceReferences>JustifiedComplaint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Justified Complaint</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noperms</name>
        <label>noperms</label>
        <locationX>301</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPermissions</name>
            <fieldText>You have insufficient permissions to view this flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_All_Fields_Set</name>
        <label>Not All Fields Set</label>
        <locationX>1427</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SomeFieldsMissing</name>
            <fieldText>&lt;p&gt;Some Close Fields have not been set, please go back and check that you have completed all fields including the Escalation Reason Code.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCurrentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CloseCaseTextTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;b&gt;&lt;center&gt;Close Case&lt;/b&gt;&lt;/center&gt;&lt;/h1&gt;&lt;p&gt;
To Close the case please fill in the box&apos;s below</text>
    </textTemplates>
    <textTemplates>
        <name>ClosedSummaryText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;b&gt;&lt;center&gt;Case Closed Summary&lt;/b&gt;&lt;/center&gt;&lt;/h1&gt;</text>
    </textTemplates>
    <variables>
        <description>Case</description>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PL1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PL2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
