force-app/main/default/flows/Case_Internal_Support_SLA_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Set Account and Entitlement</description>
        <name>Set_Account_and_Entitlement</name>
        <label>Set Account and Entitlement</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseIn.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Internal_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseIn.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Internal_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check that we found the internal account</description>
        <name>Check_Internal_Account_found</name>
        <label>Check Internal Account found</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Internal_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Internal_Entitlement</targetReference>
            </connector>
            <label>Internal Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check we found the internal entitlement</description>
        <name>Internal_Entitlement_Found</name>
        <label>Internal Entitlement Found</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Internal_Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_And_Ent_on_Internal_Case</targetReference>
            </connector>
            <label>Entitlement Found</label>
        </rules>
    </decisions>
    <description>Adds the internal account and entitlement to internal support cases.</description>
    <interviewLabel>Case - Internal Support SLA Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Internal Support SLA Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the internal account used for internal support cases and entitlements</description>
        <name>Get_Internal_Account</name>
        <label>Get Internal Account</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Internal_Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0014I00001ynZraQAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the internal entitlement related to the Internal account used for CFL Opps</description>
        <name>Get_Internal_Entitlement</name>
        <label>Get Internal Entitlement</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Internal_Entitlement_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INTERNAL - CFL</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Internal_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the entitlement and account on an internal case</description>
        <name>Set_Account_And_Ent_on_Internal_Case</name>
        <label>Set Account And Ent on Internal Case</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_Account_and_Entitlement</targetReference>
        </connector>
        <inputReference>CaseIn</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update case record with set accountid and Entitlementid</description>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>CaseIn</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Internal_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Incoming case record</description>
        <name>CaseIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
