force-app/main/default/flows/Case_Created_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>1018</locationX>
        <locationY>648</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture1</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture2</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>1546</locationX>
        <locationY>648</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Assignment_Invocable_StandardAssignmentFuture3</name>
        <label>Run_Assignment__Invocable_StandardAssignmentFuture</label>
        <locationX>1810</locationX>
        <locationY>648</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Owner_Id_and_Record_Type</name>
        <label>Set Owner Id and Record Type</label>
        <locationX>1018</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Web_Logged_Case_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Support_Case_Owner_Id</name>
        <label>Set Support Case Owner Id</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Web_Logged_Case_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Web_Phone_Record_Type_and_Owner</name>
        <label>Set Web-Phone Record Type and Owner</label>
        <locationX>2074</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Awaiting_Your_Call_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Web_Queue_and_Record_Type</name>
        <label>Set Web Queue and Record Type</label>
        <locationX>1546</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Web_Logged_Case_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Case on the support new record type</description>
        <name>Update_Case_Support_New</name>
        <label>Update Case - Support New</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_New_Record_Type_Change.IncommingCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Case_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_to_Move_to_Web_Queue</name>
        <label>Update Case to Move to Web Queue</label>
        <locationX>1810</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Web_Logged_Case_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Assignment_Invocable_StandardAssignmentFuture3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Web_Case_Record_Type</name>
        <label>Update Web Case Record Type</label>
        <locationX>1282</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Support_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Agent_Service_Presence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Update_Has_Happended</name>
        <label>Check Update Has Happended</label>
        <locationX>1282</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Owner_Id_and_Record_Type</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Web_Case_Record_Type</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Support_Case_Owner_Id</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Case_Support_New</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Case_to_Move_to_Web_Queue</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Web_Queue_and_Record_Type</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Is Record Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_Case_Actions</name>
        <label>Community Case Actions</label>
        <locationX>1678</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_Case_Not_Named</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.NamedAgentEntitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Id_and_Record_Type</targetReference>
            </connector>
            <label>Web Case Not Named</label>
        </rules>
        <rules>
            <name>Web_Case_Named_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.NamedAgentEntitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Web_Case_Record_Type</targetReference>
            </connector>
            <label>Web Case Named Agent</label>
        </rules>
        <rules>
            <name>Web_Case_Has_No_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Web_Queue_and_Record_Type</targetReference>
            </connector>
            <label>Web Case Has No Entitlement</label>
        </rules>
        <rules>
            <name>Case_Origin_Is_WebForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WebForm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_Move_to_Web_Queue</targetReference>
            </connector>
            <label>Case Origin Is WebForm</label>
        </rules>
        <rules>
            <name>Case_Origin_Is_Web_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web - Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Web_Phone_Record_Type_and_Owner</targetReference>
            </connector>
            <label>Case Origin Is Web-Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Entitlement_Populated</name>
        <label>Is the Entitlement Populated</label>
        <locationX>2910</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_Entitlement_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Update_Milestones</targetReference>
            </connector>
            <label>Is the Entitlement Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Record Type Filtering to have sperate actions dependant on Type</description>
        <name>Record_Types</name>
        <label>Record Types</label>
        <locationX>1282</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01258000000AXaXAAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_Case_Internal_Support_SLA_Setup</targetReference>
            </connector>
            <label>Internal Support</label>
        </rules>
        <rules>
            <name>Support_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_New_Record_Type_Change</targetReference>
            </connector>
            <label>Support New</label>
        </rules>
        <rules>
            <name>Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012580000006HfdAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Case_Actions</targetReference>
            </connector>
            <label>Support</label>
        </rules>
        <rules>
            <name>Community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Case_Log</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Case_Actions</targetReference>
            </connector>
            <label>Community</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Case_Actions</name>
        <label>Support Case Actions</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_It_a_Chatter_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatter Answers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedProject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Support_Case_Owner_Id</targetReference>
            </connector>
            <label>Is It a Chatter Case</label>
        </rules>
    </decisions>
    <description>Case Created Actions</description>
    <interviewLabel>Case - Created Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Created Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>1150</locationX>
        <locationY>1080</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Entitlement_Exisits</name>
            <connector>
                <targetReference>Is_the_Entitlement_Populated</targetReference>
            </connector>
            <label>Entitlement Exisits</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Fires the Flow to add the account and entitlement to an internal case for SLA purposes.</description>
        <name>SubFlow_Case_Internal_Support_SLA_Setup</name>
        <label>SubFlow: Case Internal Support SLA Setup</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <flowName>Case_Internal_Support_SLA_Setup</flowName>
        <inputAssignments>
            <name>CaseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Agent_Service_Presence</name>
        <label>Support - Agent Service Presence</label>
        <locationX>1282</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowName>Support_Agent_Service_Presence</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Case_Comments</name>
        <label>Support - Case Comments</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Check_Update_Has_Happended</targetReference>
        </connector>
        <flowName>Support_Case_Comments</flowName>
        <inputAssignments>
            <name>caseIn</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Changes the record type from Support New to Support</description>
        <name>Support_New_Record_Type_Change</name>
        <label>Support New Record Type Change</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_Case_Support_New</targetReference>
        </connector>
        <flowName>Case_Support_New_Record_Type_Change</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Update_Milestones</name>
        <label>Support - Update Milestones</label>
        <locationX>2778</locationX>
        <locationY>408</locationY>
        <flowName>Support_Profiles_Update_Milestones</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateAction</name>
            <value>
                <stringValue>SLA Time</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1</triggerOrder>
</Flow>
