force-app/main/default/flows/Create_Update_Delete_Transactions_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Clone the templates into new taskray projects</description>
        <name>Clone_Projects</name>
        <label>Clone Projects</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>TASKRAY__trInvocableProjectsClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Created_Projects</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceFieldList</name>
            <value>
                <elementReference>SourceObjectFieldList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newProjectNames</name>
            <value>
                <elementReference>ProjectNameList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectScheduleModes</name>
            <value>
                <elementReference>StartCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectTargetDates</name>
            <value>
                <elementReference>StartDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordIds</name>
            <value>
                <elementReference>SourceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateProjectIds</name>
            <value>
                <elementReference>TemplateIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectFieldList</name>
            <value>
                <elementReference>ProjectFieldList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreatedProjects</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Project_Handover_Values_to_Collection</name>
        <label>Assign Project Handover Values to Collection</label>
        <locationX>138</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>ProjectHandoverCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>projectHandover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Created_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the project to the collection of projects</description>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>138</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>TaskrayProjectsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Created_TR_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Vales_back_to_updating_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values back to record</description>
        <name>Assign_Vales_back_to_updating_record</name>
        <label>Assign Vales back to updating record</label>
        <locationX>138</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaskRay_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Created_Projects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UDEF_TaskrayProjectRequest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_Project_Handover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to variables for bulk</description>
        <name>Assign_Values_For_Bulk</name>
        <label>Assign Values For Bulk</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProjectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectNameTrim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemplateIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Taskray_Template_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_Opp_Data.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Linked_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TaskRay__trAccount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceObjectFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_Opp_Data.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the values to create the project Handover record</description>
        <name>Assign_Values_for_Project_Handover</name>
        <label>Assign Values for Project Handover</label>
        <locationX>138</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>projectHandover.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_TR_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectHandover.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_TR_Project.TASKRAY__trAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectHandover.Project_Onboarding_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectHandover.Project_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_TR_Project.Project_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Handover_Values_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the fields on the new taskray object to allow for more information</description>
        <name>Set_fields_For_Update_for_created_taskray_project</name>
        <label>Set fields For Update for created taskray project</label>
        <locationX>138</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>Get_Created_TR_Project.Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Taskray_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Created_TR_Project.Project_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Taskray_Status_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Created_TR_Project.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Created_TR_Project.Notes_Long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notes_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check that data has been found from the previous lookups</description>
        <name>Check_Data_Is_Found</name>
        <label>Check Data Is Found</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opp_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_For_Bulk</targetReference>
            </connector>
            <label>Null Fields</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks the Object__c field to see what the target is and push&apos;s it down that ree</description>
        <name>Transaction_Object_Type</name>
        <label>Transaction Object Target</label>
        <locationX>1007</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Taskray_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taskray Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Type</targetReference>
            </connector>
            <label>Taskray Project</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the transaction type and push&apos;s it down the correct tree</description>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Opp_Data</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <label>Update</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>When a record is created/updated/deleted actions are performed to process these records into another object</description>
    <formulas>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <expression>{!Get_the_Opp_Data.Account.Name} + &apos; &apos; + {!$Record.Taskray_Product__c}</expression>
    </formulas>
    <formulas>
        <description>Trimmed version of the project name</description>
        <name>ProjectNameTrim</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProjectName},80)</expression>
    </formulas>
    <interviewLabel>Create/Update/Delete - Transacstions Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update/Delete - Transactions Table</label>
    <loops>
        <description>Loops through all created projects from the Apex Bulk</description>
        <name>Loop_Through_Created_Projects</name>
        <label>Loop Through Created Projects</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <collectionReference>CreatedProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Created_TR_Project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_taskray_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Project Handover Record(s).</description>
        <name>Create_Project_Handover_Record</name>
        <label>Create Project Handover Record</label>
        <locationX>50</locationX>
        <locationY>2351</locationY>
        <inputReference>ProjectHandoverCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the created taskray project</description>
        <name>Get_Created_TR_Project</name>
        <label>Get Created TR Project</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_fields_For_Update_for_created_taskray_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Created_Projects</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the owner ID based on the E-mail address from the transaction table</description>
        <name>Get_Owner_User</name>
        <label>Get Owner User</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Data_Is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner_E_mail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets Opp data based on Transaction opp Id</description>
        <name>Get_the_Opp_Data</name>
        <label>Get the Opp Data</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linked_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates all taskrat records that are in the collection</description>
        <name>Update_all_taskray_records</name>
        <label>Update all taskray records</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Update_Transaction_Record</targetReference>
        </connector>
        <inputReference>TaskrayProjectsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update original transaction record</description>
        <name>Update_Transaction_Record</name>
        <label>Update Transaction Record</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Create_Project_Handover_Record</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transaction_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </filters>
        <object>Transaction_Table__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Gets created taskray projects from the apex</description>
        <name>CreatedProjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the owner ID for the TR Project</description>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G58000001YKh1</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used in the Bulk Apex Clone for Taskray</description>
        <name>ProjectFieldList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectHandover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Handover__c</objectType>
    </variables>
    <variables>
        <name>ProjectHandoverCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Handover__c</objectType>
    </variables>
    <variables>
        <description>List of project Names</description>
        <name>ProjectNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Source ID&apos;s for the Taskray Cloneflow</description>
        <name>SourceId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used in the Bulk Clone Apex</description>
        <name>SourceObjectFieldList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection for the StartCollection Bulk section in the taskray Bulk Clone</description>
        <name>StartCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of startdates for the bulk clone</description>
        <name>StartDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Taskray Projects that need updating</description>
        <name>TaskrayProjectsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <description>List of Template Id&apos;s</description>
        <name>TemplateIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
