force-app/main/default/flows/CSM_Owner_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Looks at the Account Team to Find the CSM Owner and populate the CSMOwnerId on the Account</description>
    <interviewLabel>CSM Owner on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Owner on Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_CSM_Owner_from_Account_Team</name>
        <label>Find CSM Owner from Account Team</label>
        <locationX>245</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_CSM_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varCSMOwnerId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CSM_Owner_on_Account</name>
        <label>CSM Owner on Account</label>
        <locationX>251</locationX>
        <locationY>378</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSM_Owner__c</field>
            <value>
                <elementReference>varCSMOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_CSM_Owner</name>
        <label>Reset CSM Owner</label>
        <locationX>249</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>CSM_Owner_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSM_Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Find_CSM_Owner_from_Account_Team</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSMOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
