force-app/main/default/flows/Customer_Feedback_Create_Closing_The_Loop_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Creates the record for Closing the loop</description>
        <name>Create_Record_No_Manager</name>
        <label>Create Record No Manager</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CSATComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CSATScore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.CSAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CaseOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CustomerFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__r.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__r.RelatedProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124I000000Qn2iQAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Closing_The_Loop_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates the record for Closing the loop</description>
        <name>Create_Record_No_Manager_0</name>
        <label>Create Record No Manager</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CSATComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CSATScore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.CSAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CaseOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__r.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.CustomerFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00558000001IEk4AAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackItem.Case__r.RelatedProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosingTheLoopItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124I000000Qn2iQAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Closing_The_Loop_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>See if the record match&apos;s the criteria</description>
        <name>See_if_record_Match_s</name>
        <label>See if record Match&apos;s</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Score_With_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedbackItem.CSAT__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.Entitlement.ProductRouting__r.Closing_The_Loop_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_No_Manager</targetReference>
            </connector>
            <label>Low Score With Manager</label>
        </rules>
        <rules>
            <name>Low_Score_No_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedbackItem.CSAT__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.Entitlement.ProductRouting__r.Closing_The_Loop_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeedbackItem.Case__r.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_No_Manager_0</targetReference>
            </connector>
            <label>Low Score No Manager</label>
        </rules>
    </decisions>
    <description>Creates a Closing the loop record for support feedbacks when they are low</description>
    <interviewLabel>Customer Feedback - Create Closing The Loop Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Feedback - Create Closing The Loop Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the closing the loop record</description>
        <name>Create_Closing_The_Loop_Record</name>
        <label>Create Closing The Loop Record</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <inputReference>ClosingTheLoopItem</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>See_if_record_Match_s</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Closing the loop item to be inserted</description>
        <name>ClosingTheLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Closing_The_Loop__c</objectType>
    </variables>
    <variables>
        <description>Incoming feedback item</description>
        <name>FeedbackItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Feedback__c</objectType>
    </variables>
</Flow>
