force-app/main/default/flows/Entitlement_Create_Update_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Set Output Post Product Routing</description>
        <name>Set_Output_Post_Product_Routing</name>
        <label>Set Output Post Product Routing</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Set_Type_Field.InEntitlement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Output Post Set Highest CSP Level</description>
        <name>Set_Output_Post_Set_Highest_CSP_Level</name>
        <label>Set Output Post Set Highest CSP Level</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CSPLevelSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the output to be the record so we can update it</description>
        <name>Set_Output_Post_Type</name>
        <label>Set Output Post Type</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Set_Type_Field.InEntitlement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetTypeRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see what we are doing on the entitlement</description>
        <name>Check_Update_Type</name>
        <label>Check Update Type</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Entitlement_Name_Changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Type</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlanType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SetTypeRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_Set_Type_Field</targetReference>
            </connector>
            <label>Set Type</label>
        </rules>
        <rules>
            <name>Has_Product_Changed</name>
            <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductRouting__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssociatedProductRange__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Update_product_Routings</targetReference>
            </connector>
            <label>Has Product Changed</label>
        </rules>
        <rules>
            <name>Update_Highest_CSP</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlanType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSPLevelSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_Set_Highest_CSP_Level_On_Account</targetReference>
            </connector>
            <label>Update Highest CSP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the entitlement name has changed</description>
        <name>Entitlement_Name_Changed_0</name>
        <label>Entitlement Name Changed</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entitlement_name_has_changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Managed_Entitled_Contacts_0</targetReference>
            </connector>
            <label>Entitlement name has changed</label>
        </rules>
    </decisions>
    <description>Entitlement Record Create/Update actions</description>
    <interviewLabel>Entitlement - Create/Update Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement - Create/Update Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PlanType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Sets the Highest CSP Level on the account</description>
        <name>Entitlement_Set_Highest_CSP_Level_On_Account</name>
        <label>Entitlement - Set Highest CSP Level On Account</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Output_Post_Set_Highest_CSP_Level</targetReference>
        </connector>
        <flowName>Entitlement_Set_Highest_CSP_Level_On_Account</flowName>
        <inputAssignments>
            <name>InEntitlement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Set entitlement Type Field based on Success plan</description>
        <name>Entitlement_Set_Type_Field</name>
        <label>Entitlement - Set Type Field</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Output_Post_Type</targetReference>
        </connector>
        <flowName>Entitlement_Set_Type_Field</flowName>
        <inputAssignments>
            <name>InEntitlement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>this removes and re-adds the entitlement contacts to the entitlement, i think this is something to do with handling a name change, this was a PB and probably needs a review if its still needed.</description>
        <name>Support_Managed_Entitled_Contacts_0</name>
        <label>Support - Managed Entitled Contacts</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <flowName>Support_Managed_Entitled_Contacts</flowName>
        <inputAssignments>
            <name>EntitlementID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Update product routings?</description>
        <name>Support_Update_product_Routings</name>
        <label>Support - Update product Routings</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Output_Post_Product_Routing</targetReference>
        </connector>
        <flowName>Support_Update_product_Routings</flowName>
        <inputAssignments>
            <name>InEntitlement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CSPLevelSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Entitlement</description>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>CHecks that the Product Changed route has been run</description>
        <name>ProductChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Checks to see if SetType has been run</description>
        <name>SetTypeRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
