force-app/main/default/flows/GDPR_Send_Privacy_notice_for_Customers_with_an_Active_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notice</name>
        <label>Send Notice</label>
        <locationX>1035</locationX>
        <locationY>304</locationY>
        <actionName>Contact.Send_Privacy_Notice</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Active_Is_True</name>
        <label>Active Is True</label>
        <locationX>451</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsContractActive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_contact_active_on_account</name>
        <label>Is a contact active on account</label>
        <locationX>784</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_active_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notice</targetReference>
            </connector>
            <label>Is active true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Active</name>
        <label>Is Contract Active</label>
        <locationX>589</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IsContractActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountContracts.Contract_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Is_True</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <description>Send a Privacy notice for active customers only</description>
    <interviewLabel>GDPR - Send Privacy notice for Customers with an Active Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDPR - Send Privacy notice for Customers with an Active Contract</label>
    <loops>
        <description>Check for an active contract</description>
        <name>IsContractActive</name>
        <label>IsContractActive</label>
        <locationX>595</locationX>
        <locationY>297</locationY>
        <assignNextValueToReference>AccountContracts</assignNextValueToReference>
        <collectionReference>GetContractsVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contract_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_a_contact_active_on_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact account on contact creation</description>
        <name>Contact_Account</name>
        <label>Contact Account</label>
        <locationX>319</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ContactAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>319</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContractActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>GetContractsVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Status__c</queriedFields>
    </recordLookups>
    <startElementReference>Contact_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountContracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContactAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GetContractsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
