force-app/main/default/flows/HMRC_Hotfix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Value</name>
        <label>Set Value</label>
        <locationX>810</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://access-support.force.com/Support/s/article/How-to-Apply-the-HMRC-URL-Changes-Hot-Fix-for-Access-Dimensions-Version-{!Dimensions_Version}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Download_Version</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>HostedNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>HostedYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50a</name>
        <choiceText>2.50a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50a</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50f</name>
        <choiceText>2.50f</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50f</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50g</name>
        <choiceText>2.50g</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50g</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50h</name>
        <choiceText>2.50h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50h</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50j</name>
        <choiceText>2.50j</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50j</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50k</name>
        <choiceText>2.50k</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50k</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_50l</name>
        <choiceText>2.50l</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-50l</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_51a</name>
        <choiceText>2.51a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-51a</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_51b</name>
        <choiceText>2.51b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-51b</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_51c</name>
        <choiceText>2.51c</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-51c</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_51d</name>
        <choiceText>2.51d</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-51d</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_51f</name>
        <choiceText>2.51f</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-51f</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Customised</name>
        <label>Is Customised?</label>
        <locationX>808</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Set_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hosted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_a_Hosted_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HostedYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_0</targetReference>
            </connector>
            <label>Hosted</label>
        </rules>
        <rules>
            <name>ContactMetrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactMe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_0_0</targetReference>
            </connector>
            <label>ContactMe</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountID</name>
        <dataType>String</dataType>
        <expression>{!$User.AccountID__c}</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>HMRC Hotfix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HMRC Hotfix</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>548</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Case_Has_Been_Logged</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This customer has advised they are Hosted and require the HRMC Hotfix for Dimensions their version is {!Dimensions_Version}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupportCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedProduct__c</field>
            <value>
                <stringValue>Dimensions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>HMRC Hotfix Required Customer is Hosted Customer for version  {!Dimensions_Version} Please set case record type to Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0</name>
        <label>Create Case</label>
        <locationX>543</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Case_Has_Been_Logged</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This customer has advised they would liked to be contacted in referance to the Hotfix for Dimensions version {!Dimensions_Version}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupportCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedProduct__c</field>
            <value>
                <stringValue>Dimensions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>HMRC Hotfix Required Customer has requested to be contacted  {!Dimensions_Version} Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Case_Has_Been_Logged</name>
        <label>Case Has Been Logged</label>
        <locationX>318</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseHasBeenLogged</name>
            <fieldText>Thank you, a case has been logged and a member of our support team will be in contact as soon as possible regarding this issue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dimensions_HRMC_Hotfix</name>
        <label>IMPORTANT: HMRC Submissions Hotfix</label>
        <locationX>807</locationX>
        <locationY>126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Customised</targetReference>
        </connector>
        <fields>
            <name>DimensionsHotfix</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It is important to be aware that HMRC is changing the way submissions are sent and received and they have updated their domain URL for the transaction engine service. This affects all submissions and will need to be updated &lt;B&gt;&lt;U&gt;before February 14th 2018&lt;/U&gt;&lt;/B&gt;, to ensure you can send your VAT return, EC Sales Return or CIS 300 return as normal and also to be able to use the CIS Match/Verify functionality.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To Download this update and for instructions on applying it please follow the form below&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_a_Hosted_Customer</name>
            <choiceReferences>HostedYes</choiceReferences>
            <choiceReferences>HostedNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a Hosted Customer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select your Dimensions version from the list below if you would prefer someone from support contact you instead please tick the Contact Me Box.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dimensions_Version</name>
            <choiceReferences>X2_51f</choiceReferences>
            <choiceReferences>X2_51d</choiceReferences>
            <choiceReferences>X2_51c</choiceReferences>
            <choiceReferences>X2_51b</choiceReferences>
            <choiceReferences>X2_51a</choiceReferences>
            <choiceReferences>X2_50l</choiceReferences>
            <choiceReferences>X2_50k</choiceReferences>
            <choiceReferences>X2_50j</choiceReferences>
            <choiceReferences>X2_50h</choiceReferences>
            <choiceReferences>X2_50g</choiceReferences>
            <choiceReferences>X2_50f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dimensions Version</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContactMe</name>
            <dataType>Boolean</dataType>
            <fieldText>Contact Me</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Download_Version</name>
        <label>Download Version</label>
        <locationX>810</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClickHere</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please click here to get your Version &lt;A HREF=&quot;{!URL}&quot; TARGET=&quot;_blank&quot;&gt;Hotfix&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Dimensions_HRMC_Hotfix</startElementReference>
    <status>Active</status>
    <variables>
        <name>SupportCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012580000006Hfc</stringValue>
        </value>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
