force-app/main/default/flows/Marketing_Set_MEL_Date_on_Account_From_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Acloud_MEL</name>
        <label>Acloud MEL</label>
        <locationX>47</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Acloud_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.aCloud_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EDU_Mel_Higher_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EDU_MEL</name>
        <label>EDU MEL</label>
        <locationX>52</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Education_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Education_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HCM_MEL_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HCM_Higher_Assigment</name>
        <label>HCM Higher Assigment</label>
        <locationX>280</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.HCM_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.HCM_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hosting_MEL_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hosting_Assigment</name>
        <label>Hosting Assigment</label>
        <locationX>317</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.CHS_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.CHS_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSC_MEL_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NFP_Assigment</name>
        <label>NFP Assigment</label>
        <locationX>571</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.NFP_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.NFP_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NPD_MEL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NPD_Assigment</name>
        <label>NPD Assigment</label>
        <locationX>565</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.No_Primary_Division_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.No_Primary_Division_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PSS_Mel_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PSS_Assigment</name>
        <label>PSS Assigment</label>
        <locationX>545</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.FMS_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.FMS_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rec_MEL_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HSC_Date</name>
        <label>Set HSC Date</label>
        <locationX>317</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.HSC_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.HSC_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NFP_Latest_MEL_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rec_MEL</name>
        <label>Set Rec MEL</label>
        <locationX>1033</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Recruitment_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Recruitment_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RH_Higher_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RH_MEL</name>
        <label>Set RH MEL</label>
        <locationX>1084</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Hospitality_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Hospitality_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCS_Higher_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SCS</name>
        <label>Set SCS</label>
        <locationX>1142</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.SCS_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.SCS_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WSP_Higher_Mel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WSP</name>
        <label>Set WSP</label>
        <locationX>1289</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Workspace_Latest_MEL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Workspace_Last_MEL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Acloud_MEL_Date</name>
        <label>Acloud MEL Date</label>
        <locationX>181</locationX>
        <locationY>109</locationY>
        <defaultConnector>
            <targetReference>EDU_Mel_Higher_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Higher</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.aCloud_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Acloud_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acloud_MEL</targetReference>
            </connector>
            <label>Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>EDU_Mel_Higher_Check</name>
        <label>EDU Mel Higher Check</label>
        <locationX>196</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>HCM_MEL_Higher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDU_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.Education_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Education_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDU_MEL</targetReference>
            </connector>
            <label>EDU Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>HCM_MEL_Higher</name>
        <label>HCM MEL Higher</label>
        <locationX>187</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Hosting_MEL_Higher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Higher_HCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.HCM_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.HCM_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HCM_Higher_Assigment</targetReference>
            </connector>
            <label>Higher HCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hosting_MEL_Higher</name>
        <label>Hosting MEL Higher</label>
        <locationX>439</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>HSC_MEL_Higher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hosting_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.CHS_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.CHS_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hosting_Assigment</targetReference>
            </connector>
            <label>Hosting Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>HSC_MEL_Higher</name>
        <label>HSC MEL Higher</label>
        <locationX>440</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>NFP_Latest_MEL_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HSC_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.HSC_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.HSC_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HSC_Date</targetReference>
            </connector>
            <label>HSC Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>NFP_Latest_MEL_Date</name>
        <label>NFP Latest MEL Date</label>
        <locationX>445</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>NPD_MEL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NFP_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.NFP_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.NFP_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NFP_Assigment</targetReference>
            </connector>
            <label>NFP Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPD_MEL</name>
        <label>NPD MEL</label>
        <locationX>788</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>PSS_Mel_Higher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPD_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.No_Primary_Division_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.No_Primary_Division_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NPD_Assigment</targetReference>
            </connector>
            <label>NPD Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSS_Mel_Higher</name>
        <label>PSS Mel Higher</label>
        <locationX>742</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Rec_MEL_Higher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSS_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.FMS_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.FMS_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSS_Assigment</targetReference>
            </connector>
            <label>PSS Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rec_MEL_Higher</name>
        <label>Rec MEL Higher</label>
        <locationX>702</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>RH_Higher_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>REC_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.Recruitment_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Recruitment_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rec_MEL</targetReference>
            </connector>
            <label>REC Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>RH_Higher_Check</name>
        <label>RH Higher Check</label>
        <locationX>912</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>SCS_Higher_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RH_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.Hospitality_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Hospitality_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RH_MEL</targetReference>
            </connector>
            <label>RH Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCS_Higher_Check</name>
        <label>SCS Higher Check</label>
        <locationX>918</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>WSP_Higher_Mel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCS_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.SCS_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.SCS_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SCS</targetReference>
            </connector>
            <label>SCS Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>WSP_Higher_Mel</name>
        <label>WSP Higher Mel</label>
        <locationX>914</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WSP_Higher</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContact.Workspace_Last_MEL_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Workspace_Latest_MEL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WSP</targetReference>
            </connector>
            <label>WSP Higher</label>
        </rules>
    </decisions>
    <description>Sets the MEL Date if higher from the contact onto the account object</description>
    <interviewLabel>Marketing - Set MEL Date on Account From Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing - Set MEL Date on Account From Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account Record</description>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>314</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acloud_MEL_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CurrentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Education_Latest_MEL_Date__c</queriedFields>
        <queriedFields>HCM_Latest_MEL_Date__c</queriedFields>
        <queriedFields>CHS_Latest_MEL_Date__c</queriedFields>
        <queriedFields>HSC_Latest_MEL_Date__c</queriedFields>
        <queriedFields>NFP_Latest_MEL_Date__c</queriedFields>
        <queriedFields>No_Primary_Division_Latest_MEL_Date__c</queriedFields>
        <queriedFields>FMS_Latest_MEL_Date__c</queriedFields>
        <queriedFields>Recruitment_Latest_MEL_Date__c</queriedFields>
        <queriedFields>Hospitality_Latest_MEL_Date__c</queriedFields>
        <queriedFields>SCS_Latest_MEL_Date__c</queriedFields>
        <queriedFields>Workspace_Latest_MEL_Date__c</queriedFields>
        <queriedFields>Acloud_Latest_MEL_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1290</locationX>
        <locationY>425</locationY>
        <inputReference>CurrentAccount</inputReference>
    </recordUpdates>
    <startElementReference>Account_Record</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>CurrentContact</description>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
