force-app/main/default/flows/Opportunity_BEFORE_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Change RT=&apos;Order Processing&apos;</description>
        <name>Change_RT_to_Order_Processing</name>
        <label>Change RT to Order Processing</label>
        <locationX>3306</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RecordTypeId_OrderProcessing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>New Record type = &apos;Sales  Accepted&apos; and update the fields: Client Actions, Next Stage Questions, Related Documents, Sales Accepted Date, Stage, Stage Start Date</description>
        <name>Change_RT_to_Sales_Accepted_and_update_fields</name>
        <label>Change RT to Sales Accepted and update fields</label>
        <locationX>578</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RecordTypeId_SalesAccepted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RelatedDocuments_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Change RT=&apos;Order Processing&apos;</description>
        <name>Change_RT_to_Sales_Closed_Won</name>
        <label>Change RT to Sales Closed Won</label>
        <locationX>3746</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RecordTypeId_SalesClosedWon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Closed_Won_stage_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>New Record type = &apos;Sales Open&apos; and update the fields: Client Actions, Next Stage Questions, Ready for Sales Date, Stage Start Date, Ready for sales by (Id, Division and Profile),</description>
        <name>Change_RT_to_Sales_Open_and_update_fields</name>
        <label>Change RT to Sales Open and update fields</label>
        <locationX>50</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RecordTypeId_SalesOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Ready_For_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Ready_For_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Sales_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Sales_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Sales_By_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Sales_By_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>New Record type = &apos;Business Development&apos; and update the fields: Owner ID, Stage Start Date</description>
        <name>Change_RT_to_Sales_Open_and_update_fields_0</name>
        <label>Change RT to Business Development and update fields</label>
        <locationX>314</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RecordTypeId_BusinessDevelopment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Commit</name>
        <label>Commit Status = Commit</label>
        <locationX>2162</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Commit_0</name>
        <label>Commit Status = Commit</label>
        <locationX>2602</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Commit_0_0</name>
        <label>Commit Status = Commit</label>
        <locationX>3042</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Commit_0_0_0</name>
        <label>Commit Status = Commit</label>
        <locationX>3658</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Pipeline</name>
        <label>Commit Status = Pipeline</label>
        <locationX>842</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Pipeline_0</name>
        <label>Commit Status = Pipeline</label>
        <locationX>4010</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Upside</name>
        <label>Commit Status = Upside</label>
        <locationX>1282</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upside</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Status_Upside_0</name>
        <label>Commit Status = Upside</label>
        <locationX>1722</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upside</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_the_opportunity_price_book_to_quote_price_book_0</name>
        <label>Copy the opportunity price book to quote price book</label>
        <locationX>3174</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__QuotePricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Criteria_for_Opp_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Opp Close Date Month/Year is pushed forward, increment the PushCount__c field value.</description>
        <name>Increase_PushCount_value</name>
        <label>Increase PushCount value</label>
        <locationX>3174</locationX>
        <locationY>6239</locationY>
        <assignmentItems>
            <assignToReference>$Record.PushCount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_ExpectedSales_Date_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Opp Expected Ready for Sales date Month/Year is pushed forward, increment the SDR_PushCount__c field value.</description>
        <name>Increase_SDRPushCount_value_0</name>
        <label>Increase SDR PushCount value</label>
        <locationX>3174</locationX>
        <locationY>6575</locationY>
        <assignmentItems>
            <assignToReference>$Record.SDR_PushCount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_History_Next_Step_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Closed_Won</name>
        <label>Opportunity Closed Won</label>
        <locationX>3174</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Opp_RT_Sales_Accepted_and_Stage_Order_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Opp_PriceBook</name>
        <label>Populate Opp PriceBook</label>
        <locationX>3174</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Quote_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Compliance_Campaign</name>
        <label>Set Compliance Campaign</label>
        <locationX>3174</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>$Record.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_CampaignId_Compliance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_has_Changed_New_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Destination_SaaS_Checkbox</name>
        <label>Set Destination SaaS Checkbox</label>
        <locationX>3174</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Destination_SaaS_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Accepted_CPQ_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Historical_Values</name>
        <label>Set Historical Values</label>
        <locationX>3174</locationX>
        <locationY>5903</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_at_Point_of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Handover_At_Point_of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Handover_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerDivisionPL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Profile_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Role_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Prior_To_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.User_Division_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Close_Date_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Updated_field</name>
        <label>Set Is Updated field</label>
        <locationX>3174</locationX>
        <locationY>4895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Amount_Clari</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Step_History_fields</name>
        <label>Set Next Step History fields</label>
        <locationX>3174</locationX>
        <locationY>6911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Step_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextStepHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Steps_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Currency</name>
        <label>Set Opportunity Currency</label>
        <locationX>3174</locationX>
        <locationY>5567</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_History_Stage_changed_to_Closed_Won_or_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Discovery</name>
        <label>Set Stage = Discovery</label>
        <locationX>3174</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_Compliance_Campaign_Id_to_a_new_Opp_with_RecordType_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Owner_Division</name>
        <label>Set/Update Owner Division</label>
        <locationX>3174</locationX>
        <locationY>4223</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Description_Summary_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Amount_Clari_field</name>
        <label>Update &apos;Amount - Clari&apos; field</label>
        <locationX>3174</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Clari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Currency_for_ANZ_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>4010</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Won_Lost_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_Pipeline_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields: Client Action, Next Stage Questions, Related Documents, Stage Start Date</description>
        <name>Update_Commitment_stage_fields</name>
        <label>Update Commitment stage fields</label>
        <locationX>2734</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Commitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Commitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RelatedDocuments_Commitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields: Client Action, Next Stage Questions, Stage Start Date</description>
        <name>Update_Decision_stage_fields</name>
        <label>Update Decision stage fields</label>
        <locationX>1854</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Decision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Decision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the Description Summary field with the first 255 characters of the Description field</description>
        <name>Update_Description_Summary_Field</name>
        <label>Update Description Summary Field</label>
        <locationX>3174</locationX>
        <locationY>4559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimDescriptionSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Updated_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields: Client Action, Next Stage Questions, Related Documents, Stage Start Date</description>
        <name>Update_Discovery_stage_fields</name>
        <label>Update Discovery stage fields</label>
        <locationX>974</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RelatedDocuments_Discovery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields: Client Action, Next Stage Questions, Related Documents, Stage Start Date</description>
        <name>Update_Evaluation_stage_fields</name>
        <label>Update Evaluation stage fields</label>
        <locationX>1414</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Evaluation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Evaluation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RelatedDocuments_Evaluation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields: Client Action, Next Stage Questions, Related Documents, Stage Start Date</description>
        <name>Update_Negotiation_stage_fields</name>
        <label>Update Negotiation stage fields</label>
        <locationX>2294</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Client_Actions_Negotiation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Stage_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_Next_Stage_Questions_Negotiation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Related_Documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opp_RelatedDocuments_Negotiation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RT_CPQ_Sales_Accepted_and_Price_Book_0</name>
        <label>Update  RT = CPQ Sales Accepted and Price Book</label>
        <locationX>3174</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.CPQ_Opp_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Pricebook_for_CPQ_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__QuotePricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Pricebook_for_CPQ_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Primary_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update fields: Handover Status, Won/Lost Date</description>
        <name>Update_Sales_Closed_Won_stage_fields</name>
        <label>Update Sales Closed Won stage fields</label>
        <locationX>3658</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Handover_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Won_Lost_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_Commit_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Sales_Manager_and_Divisional_CSL</name>
        <label>Update Sales Manager and Divisional CSL</label>
        <locationX>3174</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.CPQ_Primary_Quote_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.CPQ_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CPQ_Primary_Quote_Divisional_CSL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.CPQ_Divisional_CSL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Opp_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Start_Date</name>
        <label>Update Stage Start Date</label>
        <locationX>3042</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Status_has_NOT_changed_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Commit_Status_has_NOT_changed</name>
        <label>Commit Status has NOT changed</label>
        <locationX>974</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Pipeline</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commit_Status_has_NOT_changed_0</name>
        <label>Commit Status has NOT changed</label>
        <locationX>1414</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Upside</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commit_Status_has_NOT_changed_0_0</name>
        <label>Commit Status has NOT changed</label>
        <locationX>1854</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Upside_0</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commit_Status_has_NOT_changed_0_0_0</name>
        <label>Commit Status has NOT changed</label>
        <locationX>2294</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Commit</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commit_Status_has_NOT_changed_0_0_0_0</name>
        <label>Commit Status has NOT changed</label>
        <locationX>2734</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Commit_0</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commit_Status_has_NOT_changed_0_0_0_0_0</name>
        <label>Commit Status has NOT changed</label>
        <locationX>3174</locationX>
        <locationY>3575</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Changed_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Status_Commit_0_0</targetReference>
            </connector>
            <label>No Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPQ_Criteria_for_Opp_Closed_Won</name>
        <label>CPQ-Criteria for Opp Closed Won</label>
        <locationX>3306</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>New_Opp_RT_Sales_Accepted_and_Stage_Order_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPQ_Sales_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won</targetReference>
            </connector>
            <label>Closed Won Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPQ_Opp_PriceBook</name>
        <label>CPQ - Opp PriceBook</label>
        <locationX>3306</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>CPQ_Quote_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_PriceBook_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Opp_PriceBook</targetReference>
            </connector>
            <label>Opp PriceBook is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPQ_Primary_Quote</name>
        <label>CPQ - Primary Quote</label>
        <locationX>3306</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>CPQ_Opp_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_a_Primary_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Manager_and_Divisional_CSL</targetReference>
            </connector>
            <label>Has a Primary Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPQ_Quote_PriceBook</name>
        <label>CPQ - Quote PriceBook</label>
        <locationX>3306</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>CPQ_Criteria_for_Opp_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_PriceBook_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuotePricebookId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_the_opportunity_price_book_to_quote_price_book_0</targetReference>
            </connector>
            <label>Quote PriceBook is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to trim the first 255 characters from the description field.</description>
        <name>Description_Summary_Field</name>
        <label>Description Summary Field</label>
        <locationX>3306</locationX>
        <locationY>4439</locationY>
        <defaultConnector>
            <targetReference>Is_Updated_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Description_field_has_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description_Summary_Field</targetReference>
            </connector>
            <label>Description field has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Destination_SaaS_Opp_Record_Type</name>
        <label>Destination SaaS Opp Record Type</label>
        <locationX>3306</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Sales_Accepted_CPQ_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Destination_SaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_DestinationSaaS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination_SaaS_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Destination_SaaS_Checkbox</targetReference>
            </connector>
            <label>Destination SaaS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set the &apos;Is Updated&apos; field when the opportunity is updated by a user with a different profile than the System Integration User</description>
        <name>Is_Updated_field</name>
        <label>Is Updated field</label>
        <locationX>3306</locationX>
        <locationY>4775</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Amount_Clari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_NOT_System_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Updated_field</targetReference>
            </connector>
            <label>User is NOT System Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <description>A new Opp with RecordType = &quot;Sales Accepted&quot; cannot go to Stage=&quot;Order Processing&quot;</description>
        <name>New_Opp_RT_Sales_Accepted_and_Stage_Order_Processing</name>
        <label>New Opp RT= &apos;Sales Accepted&apos; and Stage=&apos;Order Processing&apos;</label>
        <locationX>3306</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Set_the_Compliance_Campaign_Id_to_a_new_Opp_with_RecordType_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_SalesAccepted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_Discovery</targetReference>
            </connector>
            <label>Wrong Stage</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Owner is in Aus, Nz or Malaysia, it sets the Opportunity Currency field to the account currency</description>
        <name>Opp_Currency_for_ANZ_Users</name>
        <label>Opp Currency for ANZ Users</label>
        <locationX>3306</locationX>
        <locationY>5447</locationY>
        <defaultConnector>
            <targetReference>Opportunity_History_Stage_changed_to_Closed_Won_or_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ANZ_User</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.LocaleSidKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.LocaleSidKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.LocaleSidKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_MY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Currency</targetReference>
            </connector>
            <label>ANZ User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Populates the Duplicate Amount field used by Clari Opportunity Split</description>
        <name>Opportunity_Amount_Clari</name>
        <label>Opportunity Amount - Clari</label>
        <locationX>3306</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Opp_Currency_for_ANZ_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amount_Clari_field</targetReference>
            </connector>
            <label>Amount has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_History_Next_Step_History</name>
        <label>Opportunity History - Next Step History</label>
        <locationX>3306</locationX>
        <locationY>6791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Step_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Step_History_fields</targetReference>
            </connector>
            <label>Next Step has changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update opportunity history details on the opportunity record.</description>
        <name>Opportunity_History_Stage_changed_to_Closed_Won_or_Lost</name>
        <label>Opportunity History - Stage changed to Closed Won or Lost</label>
        <locationX>3306</locationX>
        <locationY>5783</locationY>
        <defaultConnector>
            <targetReference>Validate_Close_Date_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Stage</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_at_Point_of_Close__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Historical_Values</targetReference>
            </connector>
            <label>Closed Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Destination_Saas_Renewal_Uplift_OR_Other_Record_Type</name>
        <label>RT=Destination Saas/Renewal Uplift OR Other Record Type</label>
        <locationX>3174</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Change_RT_to_Order_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER Record Type</defaultConnectorLabel>
        <rules>
            <name>Destination_Saas_Renewal_Uplift</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_DestinationSaaS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_RenewalUplift</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Start_Date</targetReference>
            </connector>
            <label>Destination Saas/Renewal Uplift</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Destination_Saas_Renewal_Uplift_OR_Other_Record_TypeCloseWon_0</name>
        <label>RT=Destination Saas/Renewal Uplift OR Other Record Type</label>
        <locationX>3658</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Change_RT_to_Sales_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER Record Type</defaultConnectorLabel>
        <rules>
            <name>Destination_Saas_Renewal_Uplift_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_DestinationSaaS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_RenewalUplift</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Closed_Won_stage_fields</targetReference>
            </connector>
            <label>Destination Saas/Renewal Uplift</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opportunity with primary quote changes record type to CPQ Sales Accepted</description>
        <name>Sales_Accepted_CPQ_Process</name>
        <label>Sales Accepted - CPQ Process</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CPQ_Primary_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPQ_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exceptions Pricebook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RT_CPQ_Sales_Accepted_and_Price_Book_0</targetReference>
            </connector>
            <label>CPQ Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_the_Compliance_Campaign_Id_to_a_new_Opp_with_RecordType_Compliance</name>
        <label>Set the Compliance Campaign Id to a new Opp with RecordType = &quot;Compliance&quot;</label>
        <locationX>3306</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Stage_has_Changed_New_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_RecordTypeId_Compliance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Compliance_Campaign</targetReference>
            </connector>
            <label>RecordType = &quot;Compliance&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</name>
        <label>Set/Update Owner Division in Sales Accepted sales process</label>
        <locationX>3306</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Description_Summary_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Accepted_process_and_Owner_Division_has_changed</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner.Division</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_Owner_Division</targetReference>
            </connector>
            <label>Sales Accepted process and Owner Division has changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update fields if the stage has changed or is a new opportunity</description>
        <name>Stage_has_Changed_New_Opp</name>
        <label>Stage has Changed/New Opp</label>
        <locationX>3306</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Stage_New_Opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stages</targetReference>
            </connector>
            <label>New Stage/New Opp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Filter opportunities by Stage</description>
        <name>Stages</name>
        <label>Stages</label>
        <locationX>2162</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Owner_Division_in_Sales_Accepted_sales_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_For_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_RT_to_Sales_Open_and_update_fields</targetReference>
            </connector>
            <label>Ready For Sales</label>
        </rules>
        <rules>
            <name>Rejected_by_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_RT_to_Sales_Open_and_update_fields_0</targetReference>
            </connector>
            <label>Rejected by Sales</label>
        </rules>
        <rules>
            <name>Accepted_by_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_RT_to_Sales_Accepted_and_update_fields</targetReference>
            </connector>
            <label>Accepted by Sales</label>
        </rules>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discovery_stage_fields</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Evaluation_stage_fields</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
        <rules>
            <name>Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Decision_stage_fields</targetReference>
            </connector>
            <label>Decision</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Negotiation_stage_fields</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Commitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commitment_stage_fields</targetReference>
            </connector>
            <label>Commitment</label>
        </rules>
        <rules>
            <name>Order_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Destination_Saas_Renewal_Uplift_OR_Other_Record_Type</targetReference>
            </connector>
            <label>Order Processing</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Destination_Saas_Renewal_Uplift_OR_Other_Record_TypeCloseWon_0</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tracks Close Date field update.</description>
        <name>Validate_Close_Date_Updates</name>
        <label>Validate Close Date Updates</label>
        <locationX>3306</locationX>
        <locationY>6119</locationY>
        <defaultConnector>
            <targetReference>Validate_ExpectedSales_Date_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCloseDateUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_PushCount_value</targetReference>
            </connector>
            <label>Update Push Count Value</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tracks Expected Ready for Sales Date field updates.</description>
        <name>Validate_ExpectedSales_Date_Updates</name>
        <label>Validate Expected Ready for Sales Date Updates</label>
        <locationX>3306</locationX>
        <locationY>6455</locationY>
        <defaultConnector>
            <targetReference>Opportunity_History_Next_Step_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckExpectedReadyForSalesDateUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_SDRPushCount_value_0</targetReference>
            </connector>
            <label>Update SDR PushCount Value</label>
        </rules>
    </decisions>
    <description>#SFAE-214 - Added nodes to update PushCount and SDR Push Count Values</description>
    <formulas>
        <description>Returns true if Close Date Month/Year is pushed ahead. This logic was migrated from the Opportunity Trigger.</description>
        <name>CheckCloseDateUpdate</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!$Record.CloseDate} &gt; {!$Record__Prior.CloseDate}), OR(Month({!$Record.CloseDate})&gt; Month({!$Record__Prior.CloseDate}), YEAR({!$Record.CloseDate})&gt; YEAR({!$Record__Prior.CloseDate})), false)</expression>
    </formulas>
    <formulas>
        <description>Returns true if Expected_Ready_for_Sales_Date__c Month/Year is pushed ahead</description>
        <name>CheckExpectedReadyForSalesDateUpdate</name>
        <dataType>Boolean</dataType>
        <expression>If({!$Record.Expected_Ready_for_Sales_Date__c} &gt; {!$Record__Prior.Expected_Ready_for_Sales_Date__c}, OR(Month({!$Record.Expected_Ready_for_Sales_Date__c})&gt; Month({!$Record__Prior.Expected_Ready_for_Sales_Date__c}),
Year({!$Record.Expected_Ready_for_Sales_Date__c})&gt; Year({!$Record__Prior.Expected_Ready_for_Sales_Date__c})), false)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NextStepHistory</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY())) + &quot;/&quot; + TEXT(MONTH(TODAY())) + &quot;/&quot; + TEXT(YEAR(TODAY())) + &quot;: &quot; + {!$Record.NextStep} + &quot;|&quot; +
{!$Record.Next_Step_History__c}</expression>
    </formulas>
    <formulas>
        <name>OwnerDivisionPL</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Owner.Division_PL__c})),
{!$Record.Owner.Division},
TEXT({!$Record.Owner.Division_PL__c}))</expression>
    </formulas>
    <formulas>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <description>Populates the trim of the first 255 characters from the description field.</description>
        <name>TrimDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT( {!$Record.Description}, 255))</expression>
    </formulas>
    <interviewLabel>Opportunity - BEFORE Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - BEFORE Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>3180</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Destination_SaaS_Opp_Record_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
