force-app/main/default/flows/Opportunity_Created_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handover_Notification</name>
        <label>Handover Notification</label>
        <locationX>622</locationX>
        <locationY>2976</locationY>
        <actionName>Opportunity.Handover_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_RT_And_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mention_Owner</name>
        <label>Mention Owner</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{![Opportunity].OwnerId}] Action: Add Access Workspace.  This opportunity has been identified as having Access Workspace applicable products, yet it does not have Access Workspace attached at this time.  #[WorkspaceMissing]  All opportunities must have Access Workspace – Standard Edition and Customer Success plan added unless they are not applicable to the base product of the opportunity. The Access Workspace product name is division specific and the 5% should be charged against “Access Workspace – Standard Edition – XXX”  where XXX is the division of the applicable base product</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Set history values</description>
        <name>Assign_History_Values</name>
        <label>Assign History Values</label>
        <locationX>622</locationX>
        <locationY>2304</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_at_Point_of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Handover_At_Point_of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Handover_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Profile_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Record_Type_Prior_To_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Role_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Prior_To_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.User_Division_At_Point_Of_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Further_Checks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Lost_Status</name>
        <label>Closed Lost Status</label>
        <locationX>886</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_Commit_Status</name>
        <label>Commit Commit Status</label>
        <locationX>622</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pipeline_Commit_Status</name>
        <label>Pipeline Commit Status</label>
        <locationX>94</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pipeline_Commit_Status_0_0_0_0</name>
        <label>Pipeline Commit Status</label>
        <locationX>1150</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the field values to 0</description>
        <name>Set_0_Values</name>
        <label>Set 0 Values</label>
        <locationX>226</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>$Record.Year_2_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_3_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_4_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_5_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Commit_Status_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the field values to 0</description>
        <name>Set_0_Values_0</name>
        <label>Set 0 Values</label>
        <locationX>490</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>$Record.Year_3_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_4_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_5_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Commit_Status_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the field values to 0</description>
        <name>Set_0_Values_0_0</name>
        <label>Set 0 Values</label>
        <locationX>754</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>$Record.Year_4_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Year_5_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Commit_Status_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the field values to 0</description>
        <name>Set_0_Values_0_0_0</name>
        <label>Set 0 Values</label>
        <locationX>1018</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>$Record.Year_5_ARR_From_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Commit_Status_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deal_Type</name>
        <label>Set Deal Type</label>
        <locationX>358</locationX>
        <locationY>4104</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deal_Type_0</name>
        <label>Set Deal Type</label>
        <locationX>622</locationX>
        <locationY>4104</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Step_History</name>
        <label>Set Next Step History</label>
        <locationX>622</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Step_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextStepHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Next_Steps_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Handover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Source</name>
        <label>Set Opp Source</label>
        <locationX>754</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Workspace_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Source_0</name>
        <label>Set Opp Source</label>
        <locationX>1018</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Workspace_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Source_0_0</name>
        <label>Set Opp Source</label>
        <locationX>358</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aquired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zero_Off_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Source_0_0_0</name>
        <label>Set Opp Source</label>
        <locationX>622</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Sourced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zero_Off_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RT_And_Stage</name>
        <label>Update RT And Stage</label>
        <locationX>622</locationX>
        <locationY>3096</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01258000000O8Jg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Order Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taskray_Close_Won_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Upside_Commit_Status</name>
        <label>Upside Commit Status</label>
        <locationX>358</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commit_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upside</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Attachment Count</description>
        <name>Attachment_Count</name>
        <label>Attachment Count</label>
        <locationX>754</locationX>
        <locationY>3648</locationY>
        <defaultConnector>
            <targetReference>Sales_Deal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staged_CWON_OrderProc</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Attachement_Count</targetReference>
            </connector>
            <label>Staged CWON/OrderProc</label>
        </rules>
    </decisions>
    <decisions>
        <description>CHeck Next Step has changed</description>
        <name>Further_Checks</name>
        <label>Further Checks</label>
        <locationX>754</locationX>
        <locationY>2520</locationY>
        <defaultConnector>
            <targetReference>Opp_Handover</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Step_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NextStep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Step_History</targetReference>
            </connector>
            <label>Next Step Changes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the opportunity commit status</description>
        <name>Opp_Commit_Status_s</name>
        <label>Opp Commit Status&apos;s</label>
        <locationX>754</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>Opp_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PIpeline_Stages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commit_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Commit_Status</targetReference>
            </connector>
            <label>PIpeline Stages</label>
        </rules>
        <rules>
            <name>Upside_Stages</name>
            <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commit_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upside_Commit_Status</targetReference>
            </connector>
            <label>Upside Stages</label>
        </rules>
        <rules>
            <name>Commit_Stages</name>
            <conditionLogic>4 AND 5 AND (1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commit_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Commit_Status</targetReference>
            </connector>
            <label>Commit Stages</label>
        </rules>
        <rules>
            <name>Closed_Won_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won Status</label>
        </rules>
        <rules>
            <name>Closed_Won_Stages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commit_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Commit_Status_0_0_0_0</targetReference>
            </connector>
            <label>Closed Won Stages</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Handover</name>
        <label>Opp Handover</label>
        <locationX>754</locationX>
        <locationY>2856</locationY>
        <defaultConnector>
            <targetReference>Taskray_Close_Won_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sync Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sync Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Changes based on the opportunity record type</description>
        <name>Opp_Record_Type</name>
        <label>Opp Record Type</label>
        <locationX>754</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Workspace_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Accepted_CPQ_Proccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uppdate_Opp_record_type</targetReference>
            </connector>
            <label>Sales Accepted CPQ Proccess</label>
        </rules>
        <rules>
            <name>CTS_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124I000000FVZH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Check_CTS</targetReference>
            </connector>
            <label>CTS???</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Source</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Renewal_Uplift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Uplift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Source_0</targetReference>
            </connector>
            <label>Renewal Uplift</label>
        </rules>
        <rules>
            <name>Destination_SaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000002ZkhQAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination_SaaS_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workspace_Toast</targetReference>
            </connector>
            <label>Destination SaaS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Current Opp Stage to base choice logic</description>
        <name>Opp_Stage</name>
        <label>Opp Stage</label>
        <locationX>754</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>Further_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_at_Point_of_Close__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_History_Values</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update History</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sales Deal type</description>
        <name>Sales_Deal_Type</name>
        <label>Sales Deal Type</label>
        <locationX>754</locationX>
        <locationY>3984</locationY>
        <defaultConnector>
            <targetReference>Update_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Role_Strategic_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E4I000000SszQUAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type</targetReference>
            </connector>
            <label>Owner Role = Strategic Accounts</label>
        </rules>
        <rules>
            <name>Owner_role_compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E4I000000SsyXUAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E4I000000SsySUAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type_0</targetReference>
            </connector>
            <label>Owner role = compliance</label>
        </rules>
        <rules>
            <name>Owner_ischanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Role__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Sales_deal_flow</targetReference>
            </connector>
            <label>Owner ischanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set other Opp Sources</description>
        <name>Set_opportunity_Sources</name>
        <label>Set opportunity Sources</label>
        <locationX>754</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Zero_Off_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aquired</name>
            <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>005580000012FCZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_RecrordID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0124I000000FV1x</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00558000001IEk4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Source_0_0</targetReference>
            </connector>
            <label>Aquired</label>
        </rules>
        <rules>
            <name>Marketing_Sourced</name>
            <conditionLogic>4 AND (1 AND 2 AND 3 AND 5 AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Business Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Team Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Marketing User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Sales/BD Hybrid User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aCloud Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124I000000FVZHQA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>People HR New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Source_0_0_0</targetReference>
            </connector>
            <label>Marketing Sourced</label>
        </rules>
        <rules>
            <name>No_Source_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000006RPf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Marketing_Subflow</targetReference>
            </connector>
            <label>No Source Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check stages for CTS</description>
        <name>Stage_Check_CTS</name>
        <label>Stage Check CTS</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Workspace_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CTS_Flag_on_account</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Taskray_Close_Won_Project</name>
        <label>Taskray - Close Won Project</label>
        <locationX>754</locationX>
        <locationY>3312</locationY>
        <defaultConnector>
            <targetReference>Attachment_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Handover_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I000000FVZHQA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Taskray_CLoneflow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ClosedWon</label>
        </rules>
        <rules>
            <name>CTS_Financials</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0124I000000FVZH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0124I000000FVZH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTS_Fin_CLone_Flow</targetReference>
            </connector>
            <label>CTS - Financials</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workspace Toast</description>
        <name>Workspace_Toast</name>
        <label>Workspace Toast</label>
        <locationX>754</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Set_opportunity_Sources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_need_to_fire_some_toast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workspace_Applicable_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workspace_Products__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workspace_Toast_Create</targetReference>
            </connector>
            <label>Check if need to fire some toast</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workspace Toast</description>
        <name>Workspace_Toast_0</name>
        <label>Workspace Toast</label>
        <locationX>1766</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_need_to_fire_some_toast_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workspace_Applicable_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workspace_Products__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mention_Owner</targetReference>
            </connector>
            <label>Check if need to fire some toast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_Off_Fields</name>
        <label>Zero Off Fields</label>
        <locationX>754</locationX>
        <locationY>1512</locationY>
        <defaultConnector>
            <targetReference>Opp_Commit_Status_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Years__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 Year</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000006RPfQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_Values</targetReference>
            </connector>
            <label>1 Year</label>
        </rules>
        <rules>
            <name>X2_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Years__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Years</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000006RPfQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_Values_0</targetReference>
            </connector>
            <label>2 Year</label>
        </rules>
        <rules>
            <name>X3_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Years__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Years</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000006RPfQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_Values_0_0</targetReference>
            </connector>
            <label>3 Year</label>
        </rules>
        <rules>
            <name>X4_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Years__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Years</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0124I0000006RPfQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_Values_0_0_0</targetReference>
            </connector>
            <label>4 Year</label>
        </rules>
    </decisions>
    <description>Created updated flow for the Opp object</description>
    <formulas>
        <description>Formula for next step history</description>
        <name>NextStepHistory</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))&amp;&quot;/&quot;&amp;TEXT(MONTH(TODAY()))&amp;&quot;/&quot;&amp;TEXT(YEAR(TODAY()))&amp;&quot;: &quot;&amp;{!$Record.NextStep} &amp;&quot; | &quot;&amp;{!$Record.Next_Step_History__c}</expression>
    </formulas>
    <interviewLabel>Opportunity - Created/Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Created/Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>0054I000005eCms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Action: Please ensure Access Workspace  -Standard Edition is added to this opportunity within the next 5 days.  This opportunity has been identified as having Access Workspace applicable products, yet it does not have Access Workspace attached at this time.  #WorkspaceMissing All opportunities must have Access Workspace – Standard Edition and Customer Success plan added unless they are not applicable to the base product of the opportunity. The Access Workspace product name is division specific and the 5% should be charged against “Access Workspace – Standard Edition – XXX”  where XXX is the division of the applicable base product.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Access Workspace – Standard Edition To This Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Workspace_Toast_Create</name>
        <label>Workspace Toast</label>
        <locationX>622</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Set_opportunity_Sources</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>WorkspaceToast</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Remember to add Access Workspace and Customer Success to applicable products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <stringValue>Sticky</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Sets the CTS Do Not Contact to False on the account</description>
        <name>Set_CTS_Flag_on_account</name>
        <label>Set CTS Flag on account</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Workspace_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTS_Do_Not_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>asd</description>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>754</locationX>
        <locationY>4320</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set opp record type</description>
        <name>Uppdate_Opp_record_type</name>
        <label>Uppdate Opp record type</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Workspace_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CPQ Sales Accepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.CPQ_Opp_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1134</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Record_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Workspace_Toast_Future</name>
            <connector>
                <targetReference>Workspace_Toast_0</targetReference>
            </connector>
            <label>Workspace Toast Future</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>CTS_Fin_CLone_Flow</name>
        <label>CTS Fin CLone Flow</label>
        <locationX>754</locationX>
        <locationY>3432</locationY>
        <connector>
            <targetReference>Attachment_Count</targetReference>
        </connector>
        <flowName>TaskRay_CloneFlow</flowName>
        <inputAssignments>
            <name>IncommingOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncommingOppAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncommingOppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TRProjType</name>
            <value>
                <stringValue>CTS</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_Attachement_Count</name>
        <label>Launch Attachement Count</label>
        <locationX>622</locationX>
        <locationY>3768</locationY>
        <connector>
            <targetReference>Sales_Deal_Type</targetReference>
        </connector>
        <flowName>TestCountAttachments</flowName>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Fire Sales Marketing Subflow</description>
        <name>Sales_Marketing_Subflow</name>
        <label>Sales Marketing Subflow</label>
        <locationX>886</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>Zero_Off_Fields</targetReference>
        </connector>
        <flowName>Sales_Marketing_Attributation</flowName>
        <inputAssignments>
            <name>IncommingOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Taskray_CLoneflow</name>
        <label>Taskray CLoneflow</label>
        <locationX>490</locationX>
        <locationY>3432</locationY>
        <connector>
            <targetReference>Attachment_Count</targetReference>
        </connector>
        <flowName>TaskRay_CloneFlow</flowName>
        <inputAssignments>
            <name>IncommingOppAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncommingOppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppCloseDate</name>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectName</name>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TRProjType</name>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Trigger_Sales_deal_flow</name>
        <label>Trigger Sales deal flow</label>
        <locationX>886</locationX>
        <locationY>4104</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <flowName>Sales_Autolaunched_Deal_Type_when_Owner_Changes</flowName>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
