force-app/main/default/flows/Sales_Weekly_Commit_Forecast_missing_Loops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Sum_Monthly_ABC</name>
        <label>Sum Monthly ABC</label>
        <locationX>363</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>TotalMonthABC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCommitOpp.ABC_Converted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_this_months_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sum the Total_ABC for all Opps associated to monthly Commit where Status =Upside</description>
        <name>Sum_total_Upside</name>
        <label>Sum total Upside</label>
        <locationX>608</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>TotalUpsideABC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentUpsideOpp.ABC_Converted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Upside_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Weekly_ABC</name>
        <label>Sum Weekly ABC</label>
        <locationX>895</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>ThisWeeksABC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentWeeklyOppinloop.ABC_Converted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Weekly_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks which Weekly field is blank and completes them</description>
        <name>Which_Week_to_complete</name>
        <label>Which Week to complete?</label>
        <locationX>1154</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Week_1_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weekly_1_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Week_1</targetReference>
            </connector>
            <label>Week 1 blank</label>
        </rules>
        <rules>
            <name>Week_2_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weekly_2_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_1_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Week_2</targetReference>
            </connector>
            <label>Week 2 Blank</label>
        </rules>
        <rules>
            <name>Week_3_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weekly_3_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_2_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_1_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Week_3</targetReference>
            </connector>
            <label>Week 3 Blank</label>
        </rules>
        <rules>
            <name>Week_4_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weekly_4_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_3_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_2_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_1_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Week_4</targetReference>
            </connector>
            <label>Week 4 Blank</label>
        </rules>
        <rules>
            <name>Week_5_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weekly_5_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_4_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_3_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_2_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_1_Calculated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Week_5</targetReference>
            </connector>
            <label>Week 5 Blank</label>
        </rules>
    </decisions>
    <description>Ongoing Flow - runs every Monday at 8am to populate the Calculated fields on the Monthly commit Records</description>
    <interviewLabel>Sales - Weekly Commit Forecast (missing Loops) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales - Weekly Commit Forecast (Scheduled Mondays 8am)</label>
    <loops>
        <name>Loop_through_this_months_Opps</name>
        <label>Loop through this months Opps</label>
        <locationX>364</locationX>
        <locationY>225</locationY>
        <assignNextValueToReference>CurrentCommitOpp</assignNextValueToReference>
        <collectionReference>AssociatedOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Monthly_ABC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_total_Upside_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all associated Opps where status = Upside &amp; Sum total_ABC</description>
        <name>Loop_through_Upside_Opps</name>
        <label>Loop through Upside Opps</label>
        <locationX>605</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>CurrentUpsideOpp</assignNextValueToReference>
        <collectionReference>ThisWeeksAssociatedUpsideOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_total_Upside</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Weeks_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Weekly_Opps</name>
        <label>Loop Weekly Opps</label>
        <locationX>890</locationX>
        <locationY>240</locationY>
        <assignNextValueToReference>CurrentWeeklyOppinloop</assignNextValueToReference>
        <collectionReference>ThisWeeksAssociatedCommitOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Weekly_ABC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Week_to_complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Opportunity records related to the Monthly Commit (separate flow relates the records)</description>
        <name>Get_Associated_Commit_Opps</name>
        <label>Get Associated Commit Opps</label>
        <locationX>240</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_this_months_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Monthly_Commit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AssociatedOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_ABC__c</queriedFields>
        <queriedFields>ABC_Converted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get only the current weeks Opps with status &apos;Commit&apos; associated to the Monthly Commit</description>
        <name>Get_Current_Weeks_Opps</name>
        <label>Get Current Weeks Commit Opps</label>
        <locationX>776</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Weekly_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closing_this_Week__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Commit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Monthly_Commit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ThisWeeksAssociatedCommitOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_ABC__c</queriedFields>
        <queriedFields>ABC_Converted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_total_Upside_Records</name>
        <label>Get total Upside Records</label>
        <locationX>497</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Upside_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upside</stringValue>
            </value>
        </filters>
        <filters>
            <field>Monthly_Commit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ThisWeeksAssociatedUpsideOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_ABC__c</queriedFields>
        <queriedFields>ABC_Converted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Week_1</name>
        <label>Update Week 1</label>
        <locationX>1102</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Week_1_Month_Expectation__c</field>
            <value>
                <elementReference>TotalMonthABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Week_1_Month_Upside_Calc__c</field>
            <value>
                <elementReference>TotalUpsideABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_1_Calculated__c</field>
            <value>
                <elementReference>ThisWeeksABC</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Week_2</name>
        <label>Update Week 2</label>
        <locationX>1267</locationX>
        <locationY>60</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Week_2_Month_Expectation__c</field>
            <value>
                <elementReference>TotalMonthABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Week_2_Month_Upside_Calc__c</field>
            <value>
                <elementReference>TotalUpsideABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_2_Calculated__c</field>
            <value>
                <elementReference>ThisWeeksABC</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Week_3</name>
        <label>Update Week 3</label>
        <locationX>1367</locationX>
        <locationY>232</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Week_3_Month_Expectation__c</field>
            <value>
                <elementReference>TotalMonthABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Week_3_Month_Upside_Calc__c</field>
            <value>
                <elementReference>TotalUpsideABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_3_Calculated__c</field>
            <value>
                <elementReference>ThisWeeksABC</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Week_4</name>
        <label>Update Week 4</label>
        <locationX>1281</locationX>
        <locationY>432</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Week_4_Month_Expectation__c</field>
            <value>
                <elementReference>TotalMonthABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Week_4_Month_Upside_Calc__c</field>
            <value>
                <elementReference>TotalUpsideABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_4_Calculated__c</field>
            <value>
                <elementReference>ThisWeeksABC</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Week_5</name>
        <label>Update Week 5</label>
        <locationX>1121</locationX>
        <locationY>440</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Week_5_Month_Expectation__c</field>
            <value>
                <elementReference>TotalMonthABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Week_5_Month_Upside_Calc__c</field>
            <value>
                <elementReference>TotalUpsideABC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_5_Calculated__c</field>
            <value>
                <elementReference>ThisWeeksABC</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordUpdates>
    <start>
        <locationX>109</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Get_Associated_Commit_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_Weekly_Commit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Monthly_Commit__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-07-20</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Collection Of Opportunities related to the Monthly Commit</description>
        <name>AssociatedOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Current Opp in the loop from Monthly collection</description>
        <name>CurrentCommitOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentUpsideOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentWeeklyOppinloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ThisWeeksABC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Get only Opps Closing this week associated to the Monthly Commit</description>
        <name>ThisWeeksAssociatedCommitOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ThisWeeksAssociatedUpsideOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalMonthABC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalUpsideABC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
