force-app/main/default/flows/Sales_Deal_Type_if_Team_Member_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Decided if any products found.
If at least one Fast SaaS product found - set Opp Deal type to Fast SaaS</description>
        <name>Fast_SaaS_product_found</name>
        <label>Fast SaaS product found?</label>
        <locationX>522</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fast_SaaS_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Lines.Fast_SaaS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type_to_Fast_SaaS</targetReference>
            </connector>
            <label>Fast SaaS found</label>
        </rules>
        <rules>
            <name>No_Fast_SaaS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Lines.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type_to_BAU</targetReference>
            </connector>
            <label>No Fast SaaS Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Compliance or Strategic Team member is still attached to the Opp - set to that type.
If not set to BAU</description>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>680</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateTeamMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Lines</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
        <rules>
            <name>Found_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type_to_Strategic_Enterprise</targetReference>
            </connector>
            <label>Found Enterprise</label>
        </rules>
        <rules>
            <name>Found_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_deal_type_to_Compliance</targetReference>
            </connector>
            <label>Found Compliance</label>
        </rules>
    </decisions>
    <description>Update the Deal Type if Team Member is Deleted</description>
    <interviewLabel>Sales - Team Member is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales - Deal Type if Team Member is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Opp Lines to check if any are Fast SaaS</description>
        <name>Get_Opp_Lines</name>
        <label>Get Opp Lines</label>
        <locationX>549</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fast_SaaS_product_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fast_SaaS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find all related Team members to check if Compliance or Enterprise still attached</description>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>487</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise Sales Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>DuplicateTeamMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>If no Duplicates found - Set the Opp back to BAU</description>
        <name>Set_Deal_Type_to_BAU</name>
        <label>Set Deal Type to BAU</label>
        <locationX>371</locationX>
        <locationY>409</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Business as Usual</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Opportunity Deal Type to &apos;Fast SaaS&apos;</description>
        <name>Set_Deal_Type_to_Fast_SaaS</name>
        <label>Set Deal Type to Fast SaaS</label>
        <locationX>652</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Fast SAAS</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Deal_Type_to_Strategic_Enterprise</name>
        <label>Set Deal Type to Strategic (Enterprise)</label>
        <locationX>706</locationX>
        <locationY>296</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_deal_type_to_Compliance</name>
        <label>Set Deal Type to Compliance</label>
        <locationX>891</locationX>
        <locationY>282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>62</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise Sales Manager</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Any other team member associated to the Same Opp that is either Compliance or Strategic</description>
        <name>DuplicateTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
