force-app/main/default/flows/Sales_Opportunity_Monthly_Commit_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Monthly_Commit_Found</name>
        <label>Monthly Commit Found?</label>
        <locationX>385</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyCommitID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyCommitID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Monthly_Commit_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Assigns a Monthly Commit Record to the lookup Field.
Creates a new record if existing one not found</description>
    <formulas>
        <name>MonthlycommitDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!OppCloseDate} ) , MONTH({!OppCloseDate} ) , 01)</expression>
    </formulas>
    <interviewLabel>Sales - Opportunity Monthly Commit Assignment {!$Flow.CurrentDateTime} - OpportunityID {!CurrentOppID}</interviewLabel>
    <label>Sales - Opportunity Monthly Commit Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Monthly_Commit_Record</name>
        <label>Create Monthly Commit Record</label>
        <locationX>690</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>MonthlyCommitID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppCloseDateMonthYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OppOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_of_Commit_Month__c</field>
            <value>
                <elementReference>MonthlycommitDate</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Commit__c</object>
    </recordCreates>
    <recordLookups>
        <description>Lookup Monthly Commit record where Name = Opp.Close Date Month Year &amp; Owner Matches</description>
        <name>Get_Monthly_Commit_Record</name>
        <label>Get Monthly Commit Record</label>
        <locationX>177</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Monthly_Commit_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppCloseDateMonthYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppOwnerID</elementReference>
            </value>
        </filters>
        <object>Monthly_Commit__c</object>
        <outputAssignments>
            <assignToReference>MonthlyCommitID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>395</locationX>
        <locationY>392</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monthly_Commit__c</field>
            <value>
                <elementReference>MonthlyCommitID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Monthly_Commit_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MonthlyCommitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppCloseDateMonthYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
