force-app/main/default/flows/screentest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Current_Product</name>
        <choiceText>{!Case.RelatedProduct__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case.RelatedProduct__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentSubby</name>
        <choiceText>{!Case.SubAnalysis__c}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
        <value>
            <elementReference>Case.SubAnalysis__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_Product_and_Sub</name>
        <label>Check For Product and Sub</label>
        <locationX>899</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Give_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.RelatedProduct__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Case.SubAnalysis__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Product_Sub_Analysis_Must_Be_Populated</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
        <rules>
            <name>Resolvedse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_SolutionIn_Comment</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Product_and_Sub_0</name>
        <label>Check For Product and Sub</label>
        <locationX>150</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Give_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Empty_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.RelatedProduct__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Case.PW_Product__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Case.PW_Subanalysis__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Product_Sub_Analysis_Must_Be_Populated_0</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
        <rules>
            <name>Resolvedse_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_SolutionIn_Comment</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Resolve_Type_Valid</name>
        <label>Check if Resolve Type Valid</label>
        <locationX>539</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Action_Completed_and_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.Cause__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SolutionCode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Prevention__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Combo</targetReference>
            </connector>
            <label>Action Completed and Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Division</name>
        <label>Check User Division</label>
        <locationX>698</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>Check_For_Product_and_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hospitality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Case_Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hosp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.RelatedProduct__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wizard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_To_Resolve_0</targetReference>
            </connector>
            <label>Hospitality</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Prevention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prevention__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedProductRange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RelatedProduct__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubAnalysis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubAnalysis__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>test</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SolutionCode__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Put_SolutionIn_Comment</name>
        <label>Put SolutionIn Comment</label>
        <locationX>1099</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Case.Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>Case_To_Resolve</name>
        <label>Case To Resolve</label>
        <locationX>699</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case.Case_Owner_Division__c</assignToReference>
            <field>Case_Owner_Division__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.ReasonCode__c</assignToReference>
            <field>ReasonCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.RelatedProduct__c</assignToReference>
            <field>RelatedProduct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.SolutionCode__c</assignToReference>
            <field>SolutionCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.Solution__c</assignToReference>
            <field>Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.SubAnalysis__c</assignToReference>
            <field>SubAnalysis__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Case_To_Resolve_0</name>
        <label>Case To Resolve PW</label>
        <locationX>442</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Product_and_Sub_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case.Case_Owner_Division__c</assignToReference>
            <field>Case_Owner_Division__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.PW_Product__c</assignToReference>
            <field>PW_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.PW_Subanalysis__c</assignToReference>
            <field>PW_Subanalysis__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.RelatedProduct__c</assignToReference>
            <field>RelatedProduct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.Solution__c</assignToReference>
            <field>Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.SubAnalysis__c</assignToReference>
            <field>SubAnalysis__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>538</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Record_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Case.Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Close_Code__c</field>
            <value>
                <elementReference>Custom_Close_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevention__c</field>
            <value>
                <elementReference>Case.Prevention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolutionCode__c</field>
            <value>
                <elementReference>Case.SolutionCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case Unresolved</label>
        <locationX>1102</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Case_Already_Resolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Custom_Close_Code__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Prevention__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Resolved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolutionCode__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Already_Resolved</name>
        <label>Case Already Resolved</label>
        <locationX>1102</locationX>
        <locationY>475</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyResolved</name>
            <fieldText>This case has now been marked as Support Outstanding and the soultion moved to the Comments.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>699</locationX>
        <locationY>737</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorOcc</name>
            <fieldText>An error has occoured whilst trying to update this record, please contact Service Cloud Support</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Product_Sub_Analysis_Must_Be_Populated</name>
        <label>Error: Product/Sub Analysis Must Be Populated</label>
        <locationX>895</locationX>
        <locationY>455</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>Error:

Related Product And/Or Sub Analysis are empty, please populate these and try again</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Product_Sub_Analysis_Must_Be_Populated_0</name>
        <label>Error: Product/Sub Analysis Must Be Populated</label>
        <locationX>146</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg_0</name>
            <fieldText>Error:

Related Product And/Or PW Sub Analysis are empty, please populate these and try again</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Give_Info</name>
        <label>Give Info</label>
        <locationX>538</locationX>
        <locationY>266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Resolve_Type_Valid</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>Resolved</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Resolved</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CauseSolutionPrevention</name>
            <fieldText>Cause / Solution Code / Prevention</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cause_Solution_Prevention</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>SolutionCode__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Cause__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Prevention__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Cause__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.SolutionCode__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Prevention__c</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Custom_Close_Code</name>
            <dataType>String</dataType>
            <fieldText>Custom Close Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solution</name>
            <fieldText>Solution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Combo</name>
        <label>Invalid Combo</label>
        <locationX>188</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Give_Info</targetReference>
        </connector>
        <fields>
            <name>Meg</name>
            <fieldText>Error: Please check you have values for Cause / Solution Code / Prevetion press previous and check your selections.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Updated</name>
        <label>Record Updated</label>
        <locationX>536</locationX>
        <locationY>741</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>The selected record has been marked as resolved.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case_To_Resolve</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
