force-app/main/default/flows/Support_Update_Milestones_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Complete_FR_Milestone</name>
        <label>Complete FR Milestone</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_FR_Milestone_0</name>
        <label>Complete FR Milestone</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Resolution_Milestone</name>
        <label>Complete Resolution Milestone</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Closed_Completed</name>
        <label>Milestone Closed Completed</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Not_Null</name>
        <label>Active Not Null</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Milestone_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Closed_Completed</targetReference>
            </connector>
            <label>Active Milestone Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Action</name>
        <label>Case Action</label>
        <locationX>1568</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closedin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Milestone</targetReference>
            </connector>
            <label>(NOT IN USE)  Closed</label>
        </rules>
        <rules>
            <name>Reopen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID_Resolution_Time_Closed</targetReference>
            </connector>
            <label>Reopen</label>
        </rules>
        <rules>
            <name>First_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID</targetReference>
            </connector>
            <label>(NOT IN USE)  First Response</label>
        </rules>
        <rules>
            <name>Time_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Active_Milestones</targetReference>
            </connector>
            <label>(NOT IN USE)  Time Update</label>
        </rules>
        <rules>
            <name>NextReply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next Reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID_0</targetReference>
            </connector>
            <label>(NOT IN USE)  NextReply</label>
        </rules>
        <rules>
            <name>Resolved_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID_Resolution_Time</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Resolved Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Milestone_Not_Null</name>
        <label>Case Milestone Not Null</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Milestone_Not_Null_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Date_Empty</targetReference>
            </connector>
            <label>Case Milestone Not Null complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Null</name>
        <label>Check If Null</label>
        <locationX>1238</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Response_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_FR_Milestone</targetReference>
            </connector>
            <label>First Response Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Null_0</name>
        <label>Check If Null</label>
        <locationX>2030</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Reply_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_FR_Milestone_0</targetReference>
            </connector>
            <label>Next Reply Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Null_0_0_0</name>
        <label>Check If Null</label>
        <locationX>2558</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Reply_Not_Null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Resolution_Milestone</targetReference>
            </connector>
            <label>Next Reply Not Null</label>
        </rules>
    </decisions>
    <description>Update milestones based on record status&apos;s to ensure milestones are stamping case.</description>
    <interviewLabel>Support - Update Milestones (New) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Update Milestones (New)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Milestone</name>
        <label>Get Active Milestone</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55758000000PBkpAAG</stringValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Milestones</name>
        <label>Get All Active Milestones</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_date_on_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>TargetDate</queriedFields>
        <sortField>CompletionDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Complete_Milestone</name>
        <label>Get Complete Milestone</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Milestone_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID_Resolution_Time_Closed.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Response_Milestone</name>
        <label>Get First Response Milestone</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get First Response Milestone ID</description>
        <name>Get_Milestone_ID</name>
        <label>Get Milestone ID</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Response_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>First Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get First Response Milestone ID</description>
        <name>Get_Milestone_ID_0</name>
        <label>Get Milestone ID</label>
        <locationX>2030</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextReplyMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Next Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Resolution Time Milestone ID</description>
        <name>Get_Milestone_ID_Resolution_Time</name>
        <label>Get Milestone ID Resolution Time</label>
        <locationX>2558</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextReplyMilestone_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Resolution Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get First Response Milestone ID</description>
        <name>Get_Milestone_ID_Resolution_Time_Closed</name>
        <label>Get Milestone ID Resolution Time Closed</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Complete_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Resolution Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNextReplyMilestone</name>
        <label>Get Next Reply Milestone</label>
        <locationX>2030</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID_0.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNextReplyMilestone_0_0</name>
        <label>Get Next Reply Milestone</label>
        <locationX>2558</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Null_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID_Resolution_Time.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Put_date_on_case</name>
        <label>Put date on case</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Milestone_End__c</field>
            <value>
                <elementReference>CaseMilestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>1568</locationX>
        <locationY>1247</locationY>
        <inputReference>CaseMilestone</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update milestone date to empty to restart resolution milestone</description>
        <name>Update_Milestone_Date_Empty</name>
        <label>Update Milestone Date Empty</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseMilestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>BlankDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012580000006HfdAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntitlementId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>IncommingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
