force-app/main/default/flows/Support_Add_Case_Collaborators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Current_CC_E_mail</name>
        <label>Add Current CC E-mail</label>
        <locationX>780</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>AllCCedEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetFirstCCedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFullCCList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFromList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CC_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Full CC List</description>
        <name>Set_Full_CC_List</name>
        <label>Set Full CC List</label>
        <locationX>906</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>CurrentFullCCList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFullCCList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_CC_E_mail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_support_case</name>
        <label>Check if support case</label>
        <locationX>1097</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Full_CC_List</targetReference>
            </connector>
            <label>Check Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Collaborator doesnt Exist.</description>
        <name>Collaborator_doesnt_exist</name>
        <label>Collaborator doesnt exist</label>
        <locationX>922</locationX>
        <locationY>1002</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Collaboration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveSemicolon</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>support.access@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Collaborator</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the CC Field is empty</description>
        <name>Is_CC_Empty</name>
        <label>Is CC Empty?</label>
        <locationX>603</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Add_Current_CC_E_mail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEmptyCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFullCCList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_and_create_Collaborators</targetReference>
            </connector>
            <label>IsEmptyCC</label>
        </rules>
    </decisions>
    <description>Add Case Collaborators based on incoming e-mails.</description>
    <formulas>
        <description>Gets the first CCed e-mail</description>
        <name>GetFirstCCedEmail</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!CurrentFullCCList}, FIND(&quot;;&quot;, {!CurrentFullCCList})))</expression>
    </formulas>
    <formulas>
        <description>Remove the next item from the list</description>
        <name>RemoveFromList</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!CurrentFullCCList}, LEN({!CurrentFullCCList}) - FIND(&quot;;&quot;, {!CurrentFullCCList})))</expression>
    </formulas>
    <formulas>
        <name>RemoveSemicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Loop_through_and_create_Collaborators}, &quot;;&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Support - Add Case Collaborators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Add Case Collaborators</label>
    <loops>
        <description>Loops through checks if the collaborator exists and creates a new one</description>
        <name>Loop_through_and_create_Collaborators</name>
        <label>Loop through and create Collaborators</label>
        <locationX>608</locationX>
        <locationY>713</locationY>
        <collectionReference>AllCCedEmailAddress</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Collaboration</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Add case collaborator</description>
        <name>Add_Case_Collaborator</name>
        <label>Add Case Collaborator</label>
        <locationX>525</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Loop_through_and_create_Collaborators</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>RemoveSemicolon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RemoveSemicolon</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Collaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Collaboration</name>
        <label>Check for Collaboration</label>
        <locationX>936</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collaborator_doesnt_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RemoveSemicolon</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Collaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Parent Case</description>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1096</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_support_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>971</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CcAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores all CC Email address&apos;s</description>
        <name>AllCCedEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current list of all CCed e-mails</description>
        <name>CurrentFullCCList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
