force-app/main/default/flows/Support_Freshservice_Ticket_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <actionName>csFreshServiceIntegration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Case_Data.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Data.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Datacentre Services</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>Get_Account_Data.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hostedclient</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Item</name>
            <value>
                <elementReference>FS_Dependant_Cat.middleValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedProduct</name>
            <value>
                <elementReference>Get_Case_Data.RelatedProduct__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <numberValue>1010.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubCategory</name>
            <value>
                <elementReference>FS_Dependant_Cat.topValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urgency</name>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserEmail</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_FS_Ticket</name>
        <label>Get FS Ticket</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>csFreshServiceIntegrationGetTicket</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Ticket_Exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseNumber</name>
            <value>
                <elementReference>Get_Case_Data.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ticketId</name>
            <value>
                <elementReference>FSTicketId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Set the FS Ticket ID</description>
        <name>Set_Ticket_ID</name>
        <label>Set Ticket ID</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Data.Remedyforce_Alto_Incident_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket.ticketId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Date_Raised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFSTicketandfields</name>
        <label>setFSTicketandfields</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Data.Remedyforce_Alto_Incident_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.ticketId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.resolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Date_Raised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.createdat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.updatedat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Data.FS_Ticket_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FS_Ticket.ResponderEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Case_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddExisting</name>
        <choiceText>Update Ticket with existing Ticket ID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <description>Add New</description>
        <name>AddNew</name>
        <choiceText>Create New Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgency_High</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Urgency_Low</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Urgency_Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Urgency_Urgent</name>
        <choiceText>Urgent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <description>Check that the ticket ID isnt empty</description>
        <name>Check_for_Data</name>
        <label>Check for Data</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ticket_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Ticket.ticketId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ticket_ID</targetReference>
            </connector>
            <label>Ticket ID Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if SF Ticket Exists</description>
        <name>Check_if_Ticket_Exists</name>
        <label>Check if Ticket Exists</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>setFSTicketandfields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ticket_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FS_Ticket.error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FS_Ticket_Exists_0</targetReference>
            </connector>
            <label>Ticket Doesnt Exist</label>
        </rules>
        <rules>
            <name>Service_Cloud_Ticket_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FS_Ticket.ServiceCloudCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_FS_Ticket.ServiceCloudCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Data.CaseNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FS_Ticket_Exists</targetReference>
            </connector>
            <label>Service Cloud Ticket Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Or_Create</name>
        <label>Update Or Create</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Createorupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddExisting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_FS_Ticket</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Add_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Createorupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddNew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Freshservice_Ticket</targetReference>
            </connector>
            <label>Add New</label>
        </rules>
    </decisions>
    <description>Creates a FreshService ticket from a Screenflow</description>
    <interviewLabel>Support - Freshservice_Ticket_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Freshservice_Ticket_Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets account data related to case</description>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrUpdateScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Data.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the case data from SFDC</description>
        <name>Get_Case_Data</name>
        <label>Get Case Data</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Get_New_Case_Values</name>
        <label>Get New Case Values</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <inputReference>Get_Case_Data</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set ID on the case</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>FSTicketCreated</targetReference>
        </connector>
        <inputReference>Get_Case_Data</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Data collection for Freshservice ticket</description>
        <name>Create_Freshservice_Ticket</name>
        <label>Create Freshservice Ticket</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FS_Dependant_Cat</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FS_Cat_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>FS_Cat_2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Sub-Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>SubCategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>Item</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Urgency</name>
            <choiceReferences>Urgency_High</choiceReferences>
            <choiceReferences>Urgency_Medium</choiceReferences>
            <choiceReferences>Urgency_Low</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Urgency_Medium</defaultSelectedChoiceReference>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateOrUpdateScreen</name>
        <label>CreateOrUpdateScreen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Or_Create</targetReference>
        </connector>
        <fields>
            <name>Createorupdate</name>
            <choiceReferences>AddExisting</choiceReferences>
            <choiceReferences>AddNew</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_FS_Ticket</name>
        <label>Enter FS Ticket</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_FS_Ticket</targetReference>
        </connector>
        <fields>
            <name>FSTicketId</name>
            <dataType>String</dataType>
            <fieldText>Freshservice Ticket Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Output_Testing_0</targetReference>
        </connector>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;Something went wrong inserting your ticket into FreshService, please try again. If this problem persists please contact Salesforce Support&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FS_Ticket_Exists</name>
        <label>FS Ticket Exists</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CantLinkTicket</name>
            <fieldText>&lt;p&gt;This FS Ticket is already linked to a Service Cloud Ticket, You will need to create a new ticket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FS_Ticket_Exists_0</name>
        <label>FS Ticket Exists</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CantLinkTicket_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The Fresh Service ticket number you have entered does not exist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FSTicketCreated</name>
        <label>FSTicketCreated</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TicketCreated</name>
            <fieldText>&lt;p&gt;Your Freshservice ticket has been created, please save any pending changes and refresh this ticket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Output_Testing_0</name>
        <label>Output Testing</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutputTesting_0</name>
            <defaultValue>
                <stringValue>{!Create_Ticket.FSTicket}{!Create_Ticket.ticketId}</stringValue>
            </defaultValue>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record ID from the Case Object</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
