force-app/main/default/flows/Support_Web_Case_To_Product_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Notification</name>
        <label>Chatter Notification</label>
        <locationX>5975</locationX>
        <locationY>835</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankQ_High_Prio_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterMentions} An Out Of Hours Case has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0</name>
        <label>Chatter Notification</label>
        <locationX>6313</locationX>
        <locationY>847</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankQ_High_Prio_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterMentions} An Out Of Hours Case has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_1</name>
        <label>Chatter Notification</label>
        <locationX>6611</locationX>
        <locationY>850</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankQ_High_Prio_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterMentions} An Out Of Hours Case has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_1_1</name>
        <label>Chatter Notification</label>
        <locationX>6921</locationX>
        <locationY>852</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankQ_High_Prio_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterMentions} An Out Of Hours Case has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_1_1_0</name>
        <label>Chatter Notification</label>
        <locationX>7219</locationX>
        <locationY>853</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankQ_High_Prio_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterMentions} An Out Of Hours Case has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Run basic assignment Rule</description>
        <name>Run_Assignment_Rule</name>
        <label>Run Assignment Rule</label>
        <locationX>4682</locationX>
        <locationY>923</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignment</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert</name>
        <label>Send Alert</label>
        <locationX>5519</locationX>
        <locationY>299</locationY>
        <actionName>Case.CaseAssignmentNamedAgent</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Clear_field</name>
        <label>Clear field</label>
        <locationX>5020</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>NamedAgent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PickQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chatter_mention</name>
        <label>Set Chatter mention</label>
        <locationX>6003</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!UserID.UserOrGroupId}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chatter_mention_0</name>
        <label>Set Chatter mention</label>
        <locationX>6310</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!UserID.UserOrGroupId}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chatter_mention_0_1</name>
        <label>Set Chatter mention</label>
        <locationX>6608</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!UserID.UserOrGroupId}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chatter_mention_0_1_1</name>
        <label>Set Chatter mention</label>
        <locationX>6918</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!UserID.UserOrGroupId}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chatter_mention_0_1_1_0</name>
        <label>Set Chatter mention</label>
        <locationX>7216</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!UserID.UserOrGroupId}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterMentions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1_1_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_The_Weekend</name>
        <label>Is The Weekend?</label>
        <locationX>5823</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>ThankQ_High_Prio_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers</targetReference>
            </connector>
            <label>Weekend</label>
        </rules>
        <rules>
            <name>Out_Of_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutOfHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers</targetReference>
            </connector>
            <label>Out Of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Weekend_0</name>
        <label>Is The Weekend?</label>
        <locationX>6128</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>ThankQ_High_Prio_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekend_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0</targetReference>
            </connector>
            <label>Weekend</label>
        </rules>
        <rules>
            <name>Out_Of_Hours_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutOfHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0</targetReference>
            </connector>
            <label>Out Of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Weekend_0_1</name>
        <label>Is The Weekend?</label>
        <locationX>6426</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>ThankQ_High_Prio_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekend_0_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1</targetReference>
            </connector>
            <label>Weekend</label>
        </rules>
        <rules>
            <name>Out_Of_Hours_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutOfHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1</targetReference>
            </connector>
            <label>Out Of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Weekend_0_1_1</name>
        <label>Is The Weekend?</label>
        <locationX>6736</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>ThankQ_High_Prio_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekend_0_1_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1_1</targetReference>
            </connector>
            <label>Weekend</label>
        </rules>
        <rules>
            <name>Out_Of_Hours_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutOfHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1_1</targetReference>
            </connector>
            <label>Out Of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Weekend_0_1_1_0</name>
        <label>Is The Weekend?</label>
        <locationX>7034</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>ThankQ_High_Prio_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekend_0_1_1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1_1_0</targetReference>
            </connector>
            <label>Weekend</label>
        </rules>
        <rules>
            <name>Out_Of_Hours_0_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutOfHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Memebers_0_1_1_0</targetReference>
            </connector>
            <label>Out Of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Named_Agent_Online</name>
        <label>Named Agent Online</label>
        <locationX>5018</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Clear_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Agent_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NamedAgentOnline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Named_Agent</targetReference>
            </connector>
            <label>Agent Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>PickQueue</name>
        <label>Pick Which Queue</label>
        <locationX>4601</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Named_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NamedAgent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NamedAgentOnline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Detials</targetReference>
            </connector>
            <label>Named Agent</label>
        </rules>
        <rules>
            <name>FMS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dimensions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dimensions SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority</targetReference>
            </connector>
            <label>FMS</label>
        </rules>
        <rules>
            <name>FP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Focalpoint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0</targetReference>
            </connector>
            <label>FP</label>
        </rules>
        <rules>
            <name>EDU0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FPS Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCSS Accounting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCSS Curriculum RP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCSS Links</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0</targetReference>
            </connector>
            <label>EDU</label>
        </rules>
        <rules>
            <name>Gamma0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gamma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0</targetReference>
            </connector>
            <label>Gamma</label>
        </rules>
        <rules>
            <name>HCM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select HR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select HR SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payrolll SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChangeWorkNow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0</targetReference>
            </connector>
            <label>HCM</label>
        </rules>
        <rules>
            <name>CRM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aCloud CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
        <rules>
            <name>aCloud</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aCloud Financials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aCloud Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aCloud Capture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0</targetReference>
            </connector>
            <label>aCloud</label>
        </rules>
        <rules>
            <name>ASC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supply Chain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ASC</label>
        </rules>
        <rules>
            <name>Careblox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careblox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Careblox</label>
        </rules>
        <rules>
            <name>Delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaBond</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaWMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>FactoryMaster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FactoryMaster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>FactoryMaster</label>
        </rules>
        <rules>
            <name>Orbis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orbis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Orbis</label>
        </rules>
        <rules>
            <name>Orchestrate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orchestrate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Orchestrate</label>
        </rules>
        <rules>
            <name>PeoplePlanner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PeoplePlanner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>PeoplePlanner</label>
        </rules>
        <rules>
            <name>RDB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDB Pronet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDB Pronet Rental</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDB Pronet VO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>RDB</label>
        </rules>
        <rules>
            <name>Teamseer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TeamSeer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Teamseer</label>
        </rules>
        <rules>
            <name>EMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safe EMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>EMS</label>
        </rules>
        <rules>
            <name>Tempest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safe Tempest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Tempest</label>
        </rules>
        <rules>
            <name>ThankQ_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ThankQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ThankQ Product</label>
        </rules>
        <rules>
            <name>Safe_Financials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safe Financials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Safe Financials</label>
        </rules>
        <rules>
            <name>Procure_Wizard</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procure Wizard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;A Wizard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Procure Wizard</label>
        </rules>
        <rules>
            <name>Collins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collins</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Collins</label>
        </rules>
        <rules>
            <name>IBS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBS StockLink</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PosLink</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IBS</label>
        </rules>
        <rules>
            <name>Selima_HR_Scheldueing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selima HR &amp; Scheduling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access HR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Selima HR &amp; Scheldueing</label>
        </rules>
        <rules>
            <name>ProNett</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pronett</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ProNett</label>
        </rules>
        <rules>
            <name>Access_Care_Comp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Care Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</targetReference>
            </connector>
            <label>Access Care Comp</label>
        </rules>
        <rules>
            <name>Mobizio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobizio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</targetReference>
            </connector>
            <label>Mobizio</label>
        </rules>
        <rules>
            <name>CJLTest_Tonic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tonic Ticketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Assignment_Rule</targetReference>
            </connector>
            <label>CJLTest Tonic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority</name>
        <label>Priority</label>
        <locationX>121</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>FMS_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FMS_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0</name>
        <label>Priority</label>
        <locationX>430</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>FocalPoint_Low_Prio_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FocalPoint_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0</name>
        <label>Priority</label>
        <locationX>749</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>EDU_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDU_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0</name>
        <label>Priority</label>
        <locationX>1093</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Gamma_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gamma_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0</name>
        <label>Priority</label>
        <locationX>1353</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>HCM_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HCM_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>1675</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>CRM_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>1968</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>aCloud_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>aCloud_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>2243</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>ASC_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASC_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>2530</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Careblox_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Careblox_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>2810</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Delta_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Careblox_High_Prio_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>3091</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>FactoryMaster_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FactoryMaster_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>3374</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Orbis_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orbis_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>3657</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Orchestrate_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrchestrateHighPrio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>3942</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Orchestrate_Low_Prio_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrchestrateHighPrio_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>4227</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>RDB_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RDB_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>4512</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>TeamSeer_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TeamSeer_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>4810</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>EMS_Low_Prio_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMS_High_Prio_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>5099</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Tempest_Low_Prio_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tempest_High_Prio_0_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>5385</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>ThankQ_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>5676</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>5965</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Weekend</targetReference>
            </connector>
            <label>P1</label>
        </rules>
        <rules>
            <name>P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0_0</targetReference>
            </connector>
            <label>P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>6268</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Weekend_0</targetReference>
            </connector>
            <label>P1</label>
        </rules>
        <rules>
            <name>P2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0_0_0</targetReference>
            </connector>
            <label>P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>6545</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0_0_0_0</targetReference>
            </connector>
            <label>P2</label>
        </rules>
        <rules>
            <name>P1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Weekend_0_1</targetReference>
            </connector>
            <label>P1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>6831</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0_0_0_0_0</targetReference>
            </connector>
            <label>P2</label>
        </rules>
        <rules>
            <name>P1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Weekend_0_1_1</targetReference>
            </connector>
            <label>P1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Priority</label>
        <locationX>7129</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Safe_Financials_Low_Prio_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankQ_High_Prio_0_0_0_0_0_0</targetReference>
            </connector>
            <label>P2</label>
        </rules>
        <rules>
            <name>P1_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Weekend_0_1_1_0</targetReference>
            </connector>
            <label>P1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</name>
        <label>Priority</label>
        <locationX>6155</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Access_Compliance_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Compliance_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</name>
        <label>Priority</label>
        <locationX>4303</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Mobizio_Low_Prio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CasePriorty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobizio_High_Prio</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <formulas>
        <name>DayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE( MOD(DATEVALUE({!CreatedDate})  - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3,
&quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <interviewLabel>Support - Web Case To Product Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Web Case To Product Queue</label>
    <loops>
        <name>Create_Task_For_Each_Group_Member</name>
        <label>Create Task For Each Group Member</label>
        <locationX>5824</locationX>
        <locationY>930</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>PublicGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Chatter_mention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chatter_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Task_For_Each_Group_Member_0</name>
        <label>Create Task For Each Group Member</label>
        <locationX>6163</locationX>
        <locationY>932</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>PublicGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Chatter_mention_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chatter_Notification_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Task_For_Each_Group_Member_0_1</name>
        <label>Create Task For Each Group Member</label>
        <locationX>6461</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>PublicGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Chatter_mention_0_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chatter_Notification_0_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Task_For_Each_Group_Member_0_1_1</name>
        <label>Create Task For Each Group Member</label>
        <locationX>6771</locationX>
        <locationY>937</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>PublicGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Chatter_mention_0_1_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chatter_Notification_0_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Task_For_Each_Group_Member_0_1_1_0</name>
        <label>Create Task For Each Group Member</label>
        <locationX>7069</locationX>
        <locationY>938</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>PublicGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Chatter_mention_0_1_1_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chatter_Notification_0_1_1_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Detials</name>
        <label>Get Agent Detials</label>
        <locationX>4817</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Named_Agent_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NamedAgent</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NamedAgentOnline</assignToReference>
            <field>LoggedInToday__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memebers</name>
        <label>Get Group Memebers</label>
        <locationX>5826</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000004U66K</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>PublicGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memebers_0</name>
        <label>Get Group Memebers</label>
        <locationX>6159</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000004U66P</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>PublicGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memebers_0_1</name>
        <label>Get Group Memebers</label>
        <locationX>6457</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000004U5yL</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>PublicGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memebers_0_1_1</name>
        <label>Get Group Memebers</label>
        <locationX>6767</locationX>
        <locationY>848</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000004U66U</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>PublicGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memebers_0_1_1_0</name>
        <label>Get Group Memebers</label>
        <locationX>7065</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_For_Each_Group_Member_0_1_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000004UAWv</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>PublicGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Access_Compliance_High_Prio</name>
        <label>Access Compliance High Prio</label>
        <locationX>6267</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004tniT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Access_Compliance_Low_Prio</name>
        <label>Access Compliance Low Prio</label>
        <locationX>6080</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004Uc8r</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>aCloud_High_Prio</name>
        <label>aCloud High Prio</label>
        <locationX>2053</locationX>
        <locationY>710</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nimD</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>aCloud_Low_Prio</name>
        <label>aCloud Low Prio</label>
        <locationX>1911</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nimD</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ASC_High_Prio</name>
        <label>ASC High Prio</label>
        <locationX>2335</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ASC_Low_Prio</name>
        <label>ASC Low Prio</label>
        <locationX>2183</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIC</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Careblox_High_Prio</name>
        <label>Careblox High Prio</label>
        <locationX>2622</locationX>
        <locationY>709</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYII</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Careblox_High_Prio_0</name>
        <label>Delta High Prio</label>
        <locationX>2902</locationX>
        <locationY>713</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIM</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Careblox_Low_Prio</name>
        <label>Careblox Low Prio</label>
        <locationX>2470</locationX>
        <locationY>707</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIJ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CRM_High_Prio</name>
        <label>CRM High Prio</label>
        <locationX>1765</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nffP</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CRM_Low_Prio</name>
        <label>CRM Low Prio</label>
        <locationX>1609</locationX>
        <locationY>700</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nffP</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Delta_Low_Prio</name>
        <label>Delta Low Prio</label>
        <locationX>2750</locationX>
        <locationY>711</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIN</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>EDU_High_Prio</name>
        <label>EDU High Prio</label>
        <locationX>863</locationX>
        <locationY>701</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIP</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>EDU_Low_Prio</name>
        <label>EDU Low Prio</label>
        <locationX>679</locationX>
        <locationY>696</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>EMS_High_Prio_0</name>
        <label>EMS High Prio</label>
        <locationX>4889</locationX>
        <locationY>730</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIV</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>EMS_Low_Prio_0</name>
        <label>EMS Low Prio</label>
        <locationX>4736</locationX>
        <locationY>729</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIW</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FactoryMaster_High_Prio</name>
        <label>FactoryMaster High Prio</label>
        <locationX>3183</locationX>
        <locationY>715</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIY</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FactoryMaster_Low_Prio</name>
        <label>FactoryMaster Low Prio</label>
        <locationX>3031</locationX>
        <locationY>713</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIZ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FMS_High_Prio</name>
        <label>FMS High Prio</label>
        <locationX>198</locationX>
        <locationY>689</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIl</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FMS_Low_Prio</name>
        <label>FMS Low Prio</label>
        <locationX>17</locationX>
        <locationY>682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIm</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FocalPoint_High_Prio</name>
        <label>FocalPoint High Prio</label>
        <locationX>541</locationX>
        <locationY>696</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIo</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FocalPoint_Low_Prio_0</name>
        <label>FocalPoint Low Prio</label>
        <locationX>343</locationX>
        <locationY>690</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIp</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Gamma_High_Prio</name>
        <label>Gamma High Prio</label>
        <locationX>1166</locationX>
        <locationY>701</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIb</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Gamma_Low_Prio</name>
        <label>Gamma Low Prio</label>
        <locationX>991</locationX>
        <locationY>704</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIc</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>HCM_High_Prio</name>
        <label>HCM High Prio</label>
        <locationX>1467</locationX>
        <locationY>702</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIr</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>HCM_Low_Prio</name>
        <label>HCM Low Prio</label>
        <locationX>1312</locationX>
        <locationY>705</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIs</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mobizio_High_Prio</name>
        <label>Mobizio High Prio</label>
        <locationX>4396</locationX>
        <locationY>377</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000003Etuc</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mobizio_Low_Prio</name>
        <label>Mobizio Low Prio</label>
        <locationX>4243</locationX>
        <locationY>376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000003EtuX</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Orbis_High_Prio</name>
        <label>Orbis High Prio</label>
        <locationX>3466</locationX>
        <locationY>716</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002neh3</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Orbis_Low_Prio</name>
        <label>Orbis Low Prio</label>
        <locationX>3314</locationX>
        <locationY>714</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002neh3</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Orchestrate_Low_Prio</name>
        <label>Orchestrate Low Prio</label>
        <locationX>3597</locationX>
        <locationY>715</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIg</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Orchestrate_Low_Prio_0</name>
        <label>Orchestrate Low Prio</label>
        <locationX>3882</locationX>
        <locationY>717</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIj</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>OrchestrateHighPrio</name>
        <label>Orchestrate High Prio</label>
        <locationX>3749</locationX>
        <locationY>717</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIf</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>OrchestrateHighPrio_0</name>
        <label>Orchestrate High Prio</label>
        <locationX>4034</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIi</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>RDB_High_Prio</name>
        <label>RDB High Prio</label>
        <locationX>4320</locationX>
        <locationY>721</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIv</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>RDB_Low_Prio</name>
        <label>RDB Low Prio</label>
        <locationX>4167</locationX>
        <locationY>720</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYIv</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio</name>
        <label>Safe Financials Low Prio</label>
        <locationX>5601</locationX>
        <locationY>735</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004UUXK</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio_0</name>
        <label>Procure Wizard Low Prio</label>
        <locationX>5892</locationX>
        <locationY>737</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TveG</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio_0_0</name>
        <label>Collins Low Prio</label>
        <locationX>6183</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004Tvdr</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio_0_0_0</name>
        <label>IBS Low Prio</label>
        <locationX>6476</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TvdS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio_0_0_0_0</name>
        <label>Selima HR Low Prio</label>
        <locationX>6761</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TvTh</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safe_Financials_Low_Prio_0_0_0_0_0</name>
        <label>Pronett Low Prio</label>
        <locationX>7059</locationX>
        <locationY>735</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TwBr</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>TeamSeer_High_Prio</name>
        <label>TeamSeer High Prio</label>
        <locationX>4605</locationX>
        <locationY>728</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002newE</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>TeamSeer_Low_Prio</name>
        <label>TeamSeer Low Prio</label>
        <locationX>4452</locationX>
        <locationY>727</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002newE</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tempest_High_Prio_0_0</name>
        <label>Tempest High Prio</label>
        <locationX>5178</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYJ3</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tempest_Low_Prio_0_0</name>
        <label>Tempest Low Prio</label>
        <locationX>5025</locationX>
        <locationY>733</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYJ4</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio</name>
        <label>ThankQ High Prio</label>
        <locationX>5464</locationX>
        <locationY>737</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYJ6</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0</name>
        <label>Safe Financials High Prio</label>
        <locationX>5755</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000003Fzbt</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0_0</name>
        <label>Procure Wizard High Prio</label>
        <locationX>6023</locationX>
        <locationY>739</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TveB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0_0_0</name>
        <label>Collins High Prio</label>
        <locationX>6336</locationX>
        <locationY>738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004Tvdm</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0_0_0_0</name>
        <label>IBS High Prio</label>
        <locationX>6615</locationX>
        <locationY>733</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TvdN</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0_0_0_0_0</name>
        <label>Selima High Prio</label>
        <locationX>6914</locationX>
        <locationY>735</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TvTc</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_High_Prio_0_0_0_0_0_0</name>
        <label>Pronett High Prio</label>
        <locationX>7212</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000004TwBm</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ThankQ_Low_Prio</name>
        <label>ThankQ Low Prio</label>
        <locationX>5311</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000002nYJ7</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Named_Agent</name>
        <label>Update to Named Agent</label>
        <locationX>5266</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Send_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NamedAgent</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>PickQueue</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>AddSpace</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePriorty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatterMentions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NamedAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NamedAgentOnline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OutOfHours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PublicGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>VarSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot; &quot;</stringValue>
        </value>
    </variables>
</Flow>
