force-app/main/default/flows/Support_Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Codes</name>
        <label>Set Codes</label>
        <locationX>535</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>CaseList.SolutionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Prevention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_closed</name>
        <label>Set to closed</label>
        <locationX>539</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>CaseList.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Casefinal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Fields_Set</name>
        <label>Are Fields Set</label>
        <locationX>1025</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Not_All_Fields_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.Cause__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.SolutionCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.Prevention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseList.Prevention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--- None ---</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Close</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>291</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Case_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseList.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Codes</targetReference>
            </connector>
            <label>Case Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CauseList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreventionList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prevention__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolutionCodeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SolutionCode__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Support - Close Case Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentCase</name>
        <label>GetCurrentCase</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>noperms</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Prevention__c</queriedFields>
        <queriedFields>SolutionCode__c</queriedFields>
        <queriedFields>Solution__c</queriedFields>
        <queriedFields>Cause__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Casefinal</name>
        <label>Close Case</label>
        <locationX>350</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>GetCurrentCase</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Close Case</description>
        <name>Update_Case_Close</name>
        <label>Update Case Close</label>
        <locationX>1011</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Set_to_closed</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_is_Closed</name>
        <label>Case Closed Summary</label>
        <locationX>284</locationX>
        <locationY>310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseSummary</name>
            <fieldText>{!ClosedSummaryText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Causesumm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Cause__c</elementReference>
            </defaultValue>
            <fieldText>Cause</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solution_CodeSumm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.SolutionCode__c</elementReference>
            </defaultValue>
            <fieldText>Solution Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PreventionSumm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseList.Prevention__c</elementReference>
            </defaultValue>
            <fieldText>Prevention</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SolutionSumm</name>
            <defaultValue>
                <stringValue>{!CaseList.Solution__c}</stringValue>
            </defaultValue>
            <fieldText>Solution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>827</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_Fields_Set</targetReference>
        </connector>
        <fields>
            <name>CloseCase</name>
            <fieldText>{!CloseCaseTextTemp}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CloseFields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Cause__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>SolutionCode__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>CauseList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Prevention__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseList.Cause__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseList.SolutionCode__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseList.Prevention__c</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Custom_Close_Code</name>
            <dataType>String</dataType>
            <fieldText>Custom Close Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solution</name>
            <fieldText>Solution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noperms</name>
        <label>noperms</label>
        <locationX>90</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPermissions</name>
            <fieldText>You have insufficient permissions to view this flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_All_Fields_Set</name>
        <label>Not All Fields Set</label>
        <locationX>1216</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SomeFieldsMissing</name>
            <fieldText>Some Close Fields have not been set, please go back and check</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetCurrentCase</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CloseCaseTextTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;b&gt;&lt;center&gt;Close Case&lt;/b&gt;&lt;/center&gt;&lt;/h1&gt;&lt;p&gt;
To Close the case please fill in the box&apos;s below</text>
    </textTemplates>
    <textTemplates>
        <name>ClosedSummaryText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;b&gt;&lt;center&gt;Case Closed Summary&lt;/b&gt;&lt;/center&gt;&lt;/h1&gt;</text>
    </textTemplates>
    <variables>
        <description>Case</description>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PL1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PL2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
