force-app/main/default/flows/Support_Agent_Service_Presence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Fire</description>
        <name>Fire_Assigment</name>
        <label>Fire Assigment</label>
        <locationX>1371</locationX>
        <locationY>315</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentFuture</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert</name>
        <label>Send Alert</label>
        <locationX>1044</locationX>
        <locationY>738</locationY>
        <actionName>Case.CaseAssignmentNamedAgent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_named_agaent</name>
        <label>Assign to named agaent</label>
        <locationX>819</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Entitlement.NamedAgentEntitlement__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012580000006Hfd</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_named_agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_named_agaent_0</name>
        <label>Move To Web Logged Q</label>
        <locationX>1039</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G58000003ExN8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012580000006Hfd</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_named_agent_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the agent able to take a ticket?</description>
        <name>IsAgentReady</name>
        <label>Is Prem Agent Available</label>
        <locationX>802</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Assign_to_named_agaent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_to_prem_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Service_Presence.IsAway</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_named_agaent</targetReference>
            </connector>
            <label>Sent to prem agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Service_Pressence</name>
        <label>No Service Pressence</label>
        <locationX>706</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Assign_to_named_agaent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Service_Presence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Presence_Name</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Support - Agent Service Presence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Agent Service Presence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Current Agent Session</description>
        <name>Get_Agent_Session</name>
        <label>Get Agent Session</label>
        <locationX>389</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Service_Presence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Entitlement.NamedAgentEntitlement__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServicePresenceStatusId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Service_Presence</name>
        <label>Get Current Service Presence</label>
        <locationX>563</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Service_Pressence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Entitlement.NamedAgentEntitlement__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServicePresenceStatusId</queriedFields>
        <queriedFields>IsAway</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get current user presence name</description>
        <name>Get_Presence_Name</name>
        <label>Get Presence Name</label>
        <locationX>714</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAgentReady</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Service_Presence.ServicePresenceStatusId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServicePresenceStatus</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assign to named agent</description>
        <name>Assign_to_named_agent</name>
        <label>Assign to named agent</label>
        <locationX>815</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Send_Alert</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Assign to named agent</description>
        <name>Assign_to_named_agent_0</name>
        <label>Assign to named agent</label>
        <locationX>1202</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Fire_Assigment</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Agent_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Incomming Case Record</description>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Premier Agent ID for assignment and checking if online</description>
        <name>PremierAgentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
