force-app/main/default/flows/Support_Case_Updated_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the Access Flexpoints Booking Received</description>
        <name>Access_FlexPoints_Booking_Received</name>
        <label>Access FlexPoints | Booking Received</label>
        <locationX>5066</locationX>
        <locationY>575</locationY>
        <actionName>Case.Access_FlexPoints_Booking_Received</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Flexpoints Quote Accepted Conformation Email Alert</description>
        <name>Access_FlexPoints_Quote_Accepted_Confirmation</name>
        <label>Access FlexPoints | Quote Accepted Confirmation</label>
        <locationX>5594</locationX>
        <locationY>575</locationY>
        <actionName>Case.Access_FlexPoints_Quote_Accepted_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Flexpoints Quote Pending Email Alert</description>
        <name>Access_FlexPoints_Quote_Pending</name>
        <label>Access FlexPoints | Quote Pending</label>
        <locationX>4802</locationX>
        <locationY>575</locationY>
        <actionName>Case.Access_FlexPoints_Quote_Pending</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Access Points Quote Rejected Conformation Email Alert</description>
        <name>Access_FlexPoints_Quote_Rejected_Confirmation</name>
        <label>Access FlexPoints | Quote Rejected Confirmation</label>
        <locationX>5330</locationX>
        <locationY>575</locationY>
        <actionName>Case.Access_FlexPoints_Quote_Rejected_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Flexpoints Service Scheduled Email Alert</description>
        <name>Access_FlexPoints_Service_Scheduled</name>
        <label>Access FlexPoints | Service Scheduled</label>
        <locationX>5858</locationX>
        <locationY>575</locationY>
        <actionName>Case.Access_FlexPoints_Service_Scheduled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When the owner is changed to match the Risk and Compliance queue this alert is fired.</description>
        <name>Case_Owner_Changed_Risk_Comp</name>
        <label>Case - Owner Changed Risk &amp; Comp</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Riliance_Case_Allocated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EMail_Off</name>
        <label>EMail Off</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Email_Queue_Fully_Disabled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EMail_Off_0</name>
        <label>EMail Off</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Email_Queue_Fully_Disabled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Salesforce_Case_Closed_Requested_By</name>
        <label>Salesforce_Case_Closed Requested By</label>
        <locationX>3746</locationX>
        <locationY>695</locationY>
        <actionName>Case.Salesforce_Case_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Support - Case Resolved - All Templates - Contact</description>
        <name>Support_Case_Resolved_All_Templates_Contact</name>
        <label>Support - Case Resolved - All Templates - Contact</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Case.Support_Case_Resolved_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Support - Case Resolved - All Templates - Contact</description>
        <name>Support_Case_Resolved_All_Templates_Contact_0</name>
        <label>Support - Case Resolved - All Templates - Contact</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <actionName>Case.Support_Case_Resolved_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Support - Case Resolved - All Templates - No Contact</description>
        <name>Support_Case_Resolved_All_Templates_No_Contact</name>
        <label>Support - Case Resolved - All Templates - No Contact</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Case.Support_Case_Resolved_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Support - Case Resolved - All Templates - No Contact</description>
        <name>Support_Case_Resolved_All_Templates_No_Contact_0</name>
        <label>Support - Case Resolved - All Templates - No Contact</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <actionName>Case.Support_Case_Resolved_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Support - Email Shutdown Warning alert on Receiving a Case via Email</description>
        <name>Support_Email_Shutdown_Warning</name>
        <label>Support - Email Shutdown Warning</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>Case.E_mail_Case_Closedown</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the Support - Email Shutdown Warning alert on Receiving a Case via Email</description>
        <name>Support_Email_Shutdown_Warning_0</name>
        <label>Support - Email Shutdown Warning</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>Case.E_mail_Case_Closedown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Case Record Type</description>
        <name>Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>3746</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012580000006HfdAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Alert_Email</targetReference>
            </connector>
            <label>Support Case</label>
        </rules>
        <rules>
            <name>End_User_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128e000000Xd0GAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Alert_Email_0</targetReference>
            </connector>
            <label>End User Support</label>
        </rules>
        <rules>
            <name>Internal_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01258000000AXaXAAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Salesforce_Case_email_Type</targetReference>
            </connector>
            <label>Internal Support Case</label>
        </rules>
        <rules>
            <name>Flexpoints_Redemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FlexPoints_Redemption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flexpoints_Actions</targetReference>
            </connector>
            <label>Flexpoints Redemption</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a contact or WebEmail</description>
        <name>Contact_0</name>
        <label>Contact</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IsContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Case_Resolved_All_Templates_Contact</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Case_Resolved_All_Templates_No_Contact</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a contact or WebEmail</description>
        <name>Contact_0_0</name>
        <label>Contact</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IsContact_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Case_Resolved_All_Templates_Contact_0</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Case_Resolved_All_Templates_No_Contact_0</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision Tree for Flexpoints Actions</description>
        <name>Flexpoints_Actions</name>
        <label>Flexpoints Actions</label>
        <locationX>5462</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Points_Estimate_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Points_Estimate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_FlexPoints_Quote_Pending</targetReference>
            </connector>
            <label>Points Estimate Populated</label>
        </rules>
        <rules>
            <name>Booking_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Estimate Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_FlexPoints_Booking_Received</targetReference>
            </connector>
            <label>Booking Received</label>
        </rules>
        <rules>
            <name>Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_FlexPoints_Quote_Rejected_Confirmation</targetReference>
            </connector>
            <label>Status Rejected</label>
        </rules>
        <rules>
            <name>Quote_Accepted_Conformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimate Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_FlexPoints_Quote_Accepted_Confirmation</targetReference>
            </connector>
            <label>Quote Accepted Conformation</label>
        </rules>
        <rules>
            <name>Service_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_FlexPoints_Service_Scheduled</targetReference>
            </connector>
            <label>Service Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Internal salesforce case emails type</description>
        <name>Internal_Salesforce_Case_email_Type</name>
        <label>Internal Salesforce Case email Type</label>
        <locationX>4274</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Closed_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalRequestByContact_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Internal Closed Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a Requestby or WebEmail</description>
        <name>InternalRequestByContact_0</name>
        <label>Internal Request By Contact</label>
        <locationX>4010</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>request_by_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Case_Closed_Requested_By</targetReference>
            </connector>
            <label>request by</label>
        </rules>
        <rules>
            <name>Web_Mail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Web Mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Alert E-mail</description>
        <name>Send_Alert_Email</name>
        <label>Send Alert Email</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Close Email</label>
        </rules>
        <rules>
            <name>Risk_And_Compliance_Assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riliance_Risk_Compliance_2nd_Line_LP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riliance_Risk_Compliance_2nd_Line_HP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Changed_Risk_Comp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Risk And Compliance Assigned</label>
        </rules>
        <rules>
            <name>Support_Email_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Block_Email_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Email_Shutdown_Warning</targetReference>
            </connector>
            <label>Support - Email off</label>
        </rules>
        <rules>
            <name>Support_Email_Off_EOL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmailOff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G58000002nYJ4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G58000002nYIW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMail_Off</targetReference>
            </connector>
            <label>Support - Email Off EOL</label>
        </rules>
        <rules>
            <name>Is_Jira_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JIRAStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Internal_Update_When_Ticket_Updated</targetReference>
            </connector>
            <label>Is Jira Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Alert E-mail</description>
        <name>Send_Alert_Email_0</name>
        <label>Send Alert Email</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Close Email</label>
        </rules>
        <rules>
            <name>Support_Email_off_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Block_Email_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Email_Shutdown_Warning_0</targetReference>
            </connector>
            <label>Support - Email off</label>
        </rules>
        <rules>
            <name>Support_Email_Off_EOL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmailOff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G58000002nYJ4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G58000002nYIW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMail_Off_0</targetReference>
            </connector>
            <label>Support - Email Off EOL</label>
        </rules>
    </decisions>
    <description>Emails from case updated actions
SFAE-297 - Updated condition for Internal Salesforce Support Cases - Removed the Blank space with &apos; Solved&apos;</description>
    <interviewLabel>Support - Case Updated Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Updated Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the Origin of the Case</description>
        <name>Update_Case_Origin</name>
        <label>Update Case Origin</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3620</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <filterLogic>1 and 2 and (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Block_Email_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>support.access@theaccessgroup.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012580000006HfdAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01258000000AXaXAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000L2YbAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000Xd0GAAS</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Support_Internal_Update_When_Ticket_Updated</name>
        <label>Support - Internal Update When Ticket Updated</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <flowName>Update_When_Ticket_Updated</flowName>
        <inputAssignments>
            <name>FoundCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsJiraUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
