force-app/main/default/flows/Support_Update_SLA_Target_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Safe_Milestone</name>
        <label>Is Safe Milestone?</label>
        <locationX>704</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_Target_Date</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <description>SLA Update Support Target Date</description>
    <interviewLabel>Support - Update  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Update SLA Target Date</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Case_Milestone</name>
        <label>Find Case Milestone</label>
        <locationX>705</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Safe_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55758000000PBkpAAG</stringValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>CaseMilestone.TargetDate</assignToReference>
            <field>TargetDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLA_Target_Date</name>
        <label>Update SLA Target Date</label>
        <locationX>708</locationX>
        <locationY>460</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Target_Date__c</field>
            <value>
                <elementReference>CaseMilestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Find_Case_Milestone</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
