force-app/main/default/flows/Support_Entitlement_Service_Contract_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Add to Product Routing</description>
        <name>Add_Product_Routing</name>
        <label>Add Product Routing</label>
        <locationX>1631</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>AllProductRoutings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Routing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Product_Routings.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Product_Routings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Entitlement_Collection</name>
        <label>Add To Entitlement Collection</label>
        <locationX>460</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>UpdateEntitlementRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Entitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Product_Routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Values to new Entitlement</description>
        <name>Assign_To_New</name>
        <label>Assign To New</label>
        <locationX>1532</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contracts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.AssociatedProductRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Product_Routing.Related_Product_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementEndDate_Plus90</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.Integration_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Service_Contracts.Name} - {!$Record.Product_Number__c} - {!Loop_Through_Product_Routing.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Classic {!Loop_Through_Product_Routing.Related_Product_Range__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.PlanType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Classic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.ProductRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Product_Routing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.SlaProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SLA_Proccess.Proccess_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementRecord.Software_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changes the name if Product Routing Different</description>
        <name>Different_Enttitlement_Name</name>
        <label>Different Enttitlement Name</label>
        <locationX>196</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Find_Entitlements.PlanType__c} {!Loop_Through_Product_Routing.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_Entitlements.AssociatedProductRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Product_Routing.Related_Product_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_Entitlements.Integration_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Service_Contracts.Name}-{!$Record.Product_Number__c}-{!Loop_Through_Product_Routing.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Less</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changes the name if Product Routing Different</description>
        <name>Different_Type_SOftware</name>
        <label>Different Type</label>
        <locationX>261</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.Software_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Less</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Expire Entitlement</description>
        <name>Expire_Entitlement</name>
        <label>Expire Entitlement</label>
        <locationX>675</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Entitlement_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_date</name>
        <label>set date</label>
        <locationX>731</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementEndDate_Plus90_ExpiredLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Entitlement_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets end date if higher</description>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>191</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementEndDate_Plus90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Less</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the start date</description>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>189</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>Find_Entitlements.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Less</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Single to collection</description>
        <name>Single_to_collection</name>
        <label>Single to collection</label>
        <locationX>1532</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>MultipleEntitlementRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewEntitlementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Product_Routing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks that the line is active</description>
        <name>Active_Line</name>
        <label>Active Line</label>
        <locationX>828</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Get_All_Service_Contract_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paused_Ent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements.Freeze_Updating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Paused Ent</label>
        </rules>
        <rules>
            <name>Line_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntitlementEndDate_Plus90</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Date_Less</targetReference>
            </connector>
            <label>Line Active</label>
        </rules>
        <rules>
            <name>Not_Active</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>EntitlementEndDate_Plus90</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check records for create and updates</description>
        <name>Check_For_Updates_Creates</name>
        <label>Check For Updates/Creates</label>
        <locationX>1657</locationX>
        <locationY>653</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultipleEntitlementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateEntitlementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Entitlement</targetReference>
            </connector>
            <label>Create And Update</label>
        </rules>
        <rules>
            <name>Create_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultipleEntitlementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Only_Ent</targetReference>
            </connector>
            <label>Create Only</label>
        </rules>
        <rules>
            <name>Update_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateEntitlementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ent_Only</targetReference>
            </connector>
            <label>Update Only</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if any lines exist</description>
        <name>Check_If_Lines_Found</name>
        <label>Check If Lines Found</label>
        <locationX>834</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>set_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Service_Contract_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_Entitlement</targetReference>
            </connector>
            <label>No Lines</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there was a result from the previous get entitlement method (This will decide if its a new entitlement or we might be updating one.</description>
        <name>Does_Entitlement_Exist</name>
        <label>Does Entitlement Exist</label>
        <locationX>1090</locationX>
        <locationY>1000</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Line</targetReference>
            </connector>
            <label>Entitlement Exists</label>
        </rules>
        <rules>
            <name>No_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntitlementEndDate_Plus90</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Proccess</targetReference>
            </connector>
            <label>No Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Number</name>
        <label>Found Number</label>
        <locationX>1288</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Number_Table</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Product_Routings</targetReference>
            </connector>
            <label>Number Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Start date is less than original, end date is greater, product name has changed</description>
        <name>Start_Date_Less</name>
        <label>Start Date Less</label>
        <locationX>513</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Add_To_Entitlement_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lower_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date</targetReference>
            </connector>
            <label>Lower Start Date</label>
        </rules>
        <rules>
            <name>Higher_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>EntitlementEndDate_Plus90</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Higher End Date</label>
        </rules>
        <rules>
            <name>Different_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Product_Routing.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_Enttitlement_Name</targetReference>
            </connector>
            <label>Different Name</label>
        </rules>
        <rules>
            <name>Different_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Entitlements.Software_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ProductType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_Type_SOftware</targetReference>
            </connector>
            <label>Different Type</label>
        </rules>
    </decisions>
    <description>Used when a new service contract line is created into Salesforce to generate/update an entitlement</description>
    <formulas>
        <description>Entitlement End Date + 90 days</description>
        <name>EntitlementEndDate_Plus90</name>
        <dataType>Date</dataType>
        <expression>{!$Record.End_Date__c} + 90</expression>
    </formulas>
    <formulas>
        <name>EntitlementEndDate_Plus90_ExpiredLine</name>
        <dataType>Date</dataType>
        <expression>{!Get_All_Service_Contract_Lines.End_Date__c} + 90</expression>
    </formulas>
    <formulas>
        <description>Entitlement name without the Standard, Classic, Premier</description>
        <name>EntitlementName</name>
        <dataType>String</dataType>
        <expression>right( {!Find_Entitlements.Name},len({!Find_Entitlements.Name})-(FIND((&quot; &quot;), {!Find_Entitlements.Name})))</expression>
    </formulas>
    <interviewLabel>Support - Entitlement (Service Contract) Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Entitlement (Service Contract) Created</label>
    <loops>
        <description>Loops through all found products and adds the found routings</description>
        <name>Get_All_Product_Routings</name>
        <label>Get All Product Routings</label>
        <locationX>1442</locationX>
        <locationY>279</locationY>
        <collectionReference>Product_Number_Table</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Routing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all product routings</description>
        <name>Loop_Through_Product_Routing</name>
        <label>Loop Through Product Routing</label>
        <locationX>1302</locationX>
        <locationY>656</locationY>
        <collectionReference>AllProductRoutings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Entitlements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_Updates_Creates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new entitlement when one not found</description>
        <name>Create_New_Entitlement</name>
        <label>Create New Entitlement</label>
        <locationX>1665</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <inputReference>MultipleEntitlementRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Only_Ent</name>
        <label>Create Only</label>
        <locationX>1886</locationX>
        <locationY>799</locationY>
        <inputReference>MultipleEntitlementRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find the entitlement related to the incoming Line</description>
        <name>Find_Entitlements</name>
        <label>Find Entitlements</label>
        <locationX>1098</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Entitlement_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contracts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductRouting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Product_Routing.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all service contract lines that match this product on this contract</description>
        <name>Get_All_Service_Contract_Lines</name>
        <label>Get All Service Contract Lines</label>
        <locationX>838</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Lines_Found</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND 5 AND (6 OR 2)</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contracts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Line_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Find_Entitlements.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Product_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Contract_Lines__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Product Routing</description>
        <name>Get_Product_Routing</name>
        <label>Get Product Routing</label>
        <locationX>1631</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Product_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_All_Product_Routings.Product_Routing__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRouting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Top level service contract for this line</description>
        <name>Get_Service_Contracts</name>
        <label>Get Service Contract</label>
        <locationX>1303</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Product_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Classic SLA Proccess</description>
        <name>Get_SLA_Proccess</name>
        <label>Get SLA Proccess</label>
        <locationX>1290</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Product_Routing.Classic_Entitlement_Process__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related product number</description>
        <name>Product_Number_Table</name>
        <label>Product Number Table</label>
        <locationX>1296</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update With Create</label>
        <locationX>1664</locationX>
        <locationY>1105</locationY>
        <inputReference>UpdateEntitlementRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>ONly Update On Ents</description>
        <name>Update_Ent_Only</name>
        <label>Update Ent Only</label>
        <locationX>1985</locationX>
        <locationY>675</locationY>
        <inputReference>UpdateEntitlementRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>813</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Product_Number_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success Plan</stringValue>
            </value>
        </filters>
        <object>Service_Contract_Lines__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllProductRoutings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRouting__c</objectType>
    </variables>
    <variables>
        <name>MultipleEntitlementRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>New Entitlement Record</description>
        <name>NewEntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>Product Type from Product Number</description>
        <name>ProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update for multiple entitlement records</description>
        <name>UpdateEntitlementRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
