force-app/main/default/flows/Support_Profiles_Update_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Complete_FR_Milestone</name>
        <label>Complete FR Milestone</label>
        <locationX>449</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_FR_Milestone_0</name>
        <label>Complete FR Milestone</label>
        <locationX>629</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Closed_Completed</name>
        <label>Milestone Closed Completed</label>
        <locationX>81</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncomplete_Milestone</name>
        <label>Uncomplete Milestone</label>
        <locationX>267</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Not_Null</name>
        <label>Active Not Null</label>
        <locationX>72</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Milestone_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Closed_Completed</targetReference>
            </connector>
            <label>Active Milestone Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Action</name>
        <label>Case Action</label>
        <locationX>348</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closedin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Milestone</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Reopen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reopen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Complete_Milestone</targetReference>
            </connector>
            <label>Reopen</label>
        </rules>
        <rules>
            <name>First_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID</targetReference>
            </connector>
            <label>First Response</label>
        </rules>
        <rules>
            <name>Time_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Active_Milestones</targetReference>
            </connector>
            <label>Time Update</label>
        </rules>
        <rules>
            <name>NextReply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next Reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_ID_0</targetReference>
            </connector>
            <label>NextReply</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Milestone_Not_Null</name>
        <label>Case Milestone Not Null</label>
        <locationX>253</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Milestone_Not_Null_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncomplete_Milestone</targetReference>
            </connector>
            <label>Case Milestone Not Null complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Null</name>
        <label>Check If Null</label>
        <locationX>442</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Response_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_FR_Milestone</targetReference>
            </connector>
            <label>First Response Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Null_0</name>
        <label>Check If Null</label>
        <locationX>619</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Reply_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_FR_Milestone_0</targetReference>
            </connector>
            <label>Next Reply Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Support - Profiles Update Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Profiles Update Milestones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Milestone</name>
        <label>Get Active Milestone</label>
        <locationX>88</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55758000000PBkpAAG</stringValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Milestones</name>
        <label>Get All Active Milestones</label>
        <locationX>688</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_date_on_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>TargetDate</queriedFields>
        <sortField>CompletionDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Complete_Milestone</name>
        <label>Get Complete Milestone</label>
        <locationX>274</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Milestone_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55758000000PBkpAAG</stringValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Response_Milestone</name>
        <label>Get First Response Milestone</label>
        <locationX>455</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get First Response Milestone ID</description>
        <name>Get_Milestone_ID</name>
        <label>Get Milestone ID</label>
        <locationX>457</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Response_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>First Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get First Response Milestone ID</description>
        <name>Get_Milestone_ID_0</name>
        <label>Get Milestone ID</label>
        <locationX>636</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextReplyMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Next Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNextReplyMilestone</name>
        <label>Get Next Reply Milestone</label>
        <locationX>635</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Milestone_ID_0.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Put_date_on_case</name>
        <label>Put date on case</label>
        <locationX>935</locationX>
        <locationY>7</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncommingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Milestone_End__c</field>
            <value>
                <elementReference>CaseMilestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>257</locationX>
        <locationY>980</locationY>
        <inputReference>CaseMilestone</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>IncommingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
