force-app/main/default/flows/Support_Case_Open_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an e-mail using the webmail field</description>
        <name>Open_Email_No_Contact_0</name>
        <label>Open Email No Contact</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Case_Open_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_is_P1_and_send_alert_to_CSM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an e-mail using the webmail field</description>
        <name>Open_Email_No_Contact_0_0</name>
        <label>Open Email No Contact</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Case_Open_All_Templates_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends email with contact</description>
        <name>Open_With_Contact</name>
        <label>Open With Contact</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Case_Open_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_is_P1_and_send_alert_to_CSM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends email with contact</description>
        <name>Open_With_Contact_0</name>
        <label>Open With Contact</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Case_Open_All_Templates_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Salesforce_New_Support_Case_No_Contact</name>
        <label>Salesforce - New Support Case No Contact</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <actionName>Case.Thank_you_for_creating_SF_Support_Case_No_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Salesforce_New_Support_Case_With_Contact</name>
        <label>Salesforce - New Support Case With Contact</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <actionName>Case.Thank_you_for_creating_SF_Support_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send the Alert telling the customer this is not to be used for new cases</description>
        <name>Send_Incorrect_Email_To_Log_Cases</name>
        <label>Send Incorrect Email To Log Cases</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Support_Incorrect_E_mail_Address_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends alert to CSM</description>
        <name>Send_P1_Alert_to_CSM</name>
        <label>Send P1 Alert to CSM</label>
        <locationX>556</locationX>
        <locationY>1271</locationY>
        <actionName>Case.New_Customer_P1_Support_Case_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_Email_Send_Actions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Email_Queue_Fully_Disabled</name>
        <label>Support - Email Queue Fully Disabled</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Case.Support_Email_Queue_Fully_Disabled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_is_P1_and_send_alert_to_CSM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Email_Shutdown_Warning</name>
        <label>Support - Email Shutdown Warning</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Case.E_mail_Case_Closedown</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Case Record Type</description>
        <name>Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>1766</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoThreadID</name>
            <conditionLogic>1 AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoThreadID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Incorrect_Email_To_Log_Cases</targetReference>
            </connector>
            <label>NoThreadID</label>
        </rules>
        <rules>
            <name>Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Support Case</label>
        </rules>
        <rules>
            <name>End_User_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_0</targetReference>
            </connector>
            <label>End-User Support</label>
        </rules>
        <rules>
            <name>Internal_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesForce_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Salesforce_Case_email_Type</targetReference>
            </connector>
            <label>Internal Support Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Account Team Member with Customer Success Manager role exists for the Case Account</description>
        <name>Check_CSM_Account_Team_Count</name>
        <label>Check CSM Account Team Count</label>
        <locationX>688</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Post_Email_Send_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_P1_Email_to_CSM_Account_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMAccountTeamMemberRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_P1_Alert_to_CSM</targetReference>
            </connector>
            <label>Send P1 Email to CSM Account Team Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see the priority of the case and send an alert to the CSM if its P1</description>
        <name>Check_if_is_P1_and_send_alert_to_CSM</name>
        <label>Check if is P1 and send alert to CSM</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Post_Email_Send_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckActiveCSMAccountOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AccounTeams_Records</targetReference>
            </connector>
            <label>P1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a contact or WebEmail</description>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Email_Off_End_Of_Life</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmailOff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Pay_Bill_Support_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.EMS_1st_Line_Low_Priority_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Email_Queue_Fully_Disabled</targetReference>
            </connector>
            <label>Email Off End Of Life</label>
        </rules>
        <rules>
            <name>Email_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Block_Email_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Email_Shutdown_Warning</targetReference>
            </connector>
            <label>Email Off</label>
        </rules>
        <rules>
            <name>IsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_With_Contact</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Email_No_Contact_0</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a contact or WebEmail</description>
        <name>Contact_0</name>
        <label>Contact</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IsContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_With_Contact_0</targetReference>
            </connector>
            <label>IsContact</label>
        </rules>
        <rules>
            <name>IsWebMail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Email_No_Contact_0_0</targetReference>
            </connector>
            <label>IsWebMail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Internal salesforce case emails type</description>
        <name>Internal_Salesforce_Case_email_Type</name>
        <label>Internal Salesforce Case email Type</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Open_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalRequestByContact</targetReference>
            </connector>
            <label>Internal Open Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if its a Requestby or WebEmail</description>
        <name>InternalRequestByContact</name>
        <label>Internal Request By Contact</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>request_by</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_New_Support_Case_With_Contact</targetReference>
            </connector>
            <label>request by</label>
        </rules>
        <rules>
            <name>Web_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_New_Support_Case_No_Contact</targetReference>
            </connector>
            <label>Web Mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Post email send actions</description>
        <name>Post_Email_Send_Actions</name>
        <label>Post Email Send Actions</label>
        <locationX>842</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Riliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>riliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origin_to_email</targetReference>
            </connector>
            <label>Riliance</label>
        </rules>
    </decisions>
    <description>Support case open email alerts</description>
    <formulas>
        <name>CheckActiveCSMAccountOwner</name>
        <dataType>Boolean</dataType>
        <expression>AND (NOT(ISBLANK({!$Record.Account.CSM_Owner__c})), {!$Record.Account.CSM_Owner__r.IsActive}, {!$Record.Account.CSM_Owner__r.Username} != &apos;Integration.User@theaccessgroup.com&apos;)</expression>
    </formulas>
    <interviewLabel>Support - Case Open Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support - Case Open Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AccounTeams_Records</name>
        <label>Get AccounTeams Records</label>
        <locationX>688</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CSM_Account_Team_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>CSMAccountTeamMemberRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Sets the origin for riliance to email</description>
        <name>Set_Origin_to_email</name>
        <label>Set Origin to email</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Origin</name>
        <label>Update Case Origin</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_if_is_P1_and_send_alert_to_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Block_Email_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>support.access@theaccessgroup.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012580000006HfdAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01258000000AXaXAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000Xd0GAAS</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <description>Customer Success Manager Account Team Member ID</description>
        <name>CSMAccountTeamMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
