force-app/main/default/flows/Support_Update_product_Routings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Set the ent routing so we can send this back to the main flow.</description>
        <name>Set_Ent_Routing</name>
        <label>Set Ent Routing</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>InEntitlement.ProductRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoutingID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Updates the product routing to the entitlement (Unsure how useful this is, as i imagine my flows handle this, will need investigation, but is an active PB so copying and moving)</description>
    <interviewLabel>Support - Update product Routings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement - Update product Routings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Stage1</name>
        <label>Stage1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Ent_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InEntitlement.AssociatedProductRange__c</elementReference>
            </value>
        </filters>
        <object>ProductRouting__c</object>
        <outputAssignments>
            <assignToReference>RoutingID</assignToReference>
            <field>recordid__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Incoming Entitlement</description>
        <name>InEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRouting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRouting__c</objectType>
    </variables>
    <variables>
        <name>RoutingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
