force-app/main/default/flows/Taskray_Taskray_Detial_To_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Sets to CTS</description>
        <name>Set_To_CTS</name>
        <label>Set To CTS</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>ImplementationTypeTest</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CTS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets to Flightpath Type</description>
        <name>Set_To_FP_Type</name>
        <label>Set To FP Type</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>ImplementationTypeTest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FlightPath_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check that the account is not empty</description>
        <name>Account_populated_and_check_type</name>
        <label>Account populated and check type</label>
        <locationX>314</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TASKRAY__trAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_CTS</targetReference>
            </connector>
            <label>CTS</label>
        </rules>
        <rules>
            <name>Flight_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TASKRAY__trAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FlightPath_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_FP_Type</targetReference>
            </connector>
            <label>Flight Path</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if a record exists, if not create new</description>
        <name>Existing_Records</name>
        <label>Existing Records?</label>
        <locationX>314</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Create_Taskray_detial_Record_Copy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <description>Copies Taskray info to Account</description>
    <interviewLabel>Taskray - Taskray Detial To Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Taskray - Taskray Detial To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Taskray record copy</description>
        <name>Create_Taskray_detial_Record_Copy</name>
        <label>Create Taskray detial Record Copy</label>
        <locationX>446</locationX>
        <locationY>829</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.TASKRAY__trAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskRay_Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task_Ray_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check to see if record already exists.</description>
        <name>Find_Existing_Record</name>
        <label>Find Existing Record</label>
        <locationX>314</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskRay_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Ray_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Record</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>182</locationX>
        <locationY>829</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskRay_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Type_Test__c</field>
            <value>
                <elementReference>ImplementationTypeTest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskRay_Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task_Ray_Details__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_populated_and_check_type</targetReference>
        </connector>
        <object>TASKRAY__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds either CTS or FP Value</description>
        <name>ImplementationTypeTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
