force-app/main/default/flows/test_entitlements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_to_text</name>
        <label>add to text</label>
        <locationX>549</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>textfield</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addlinebreaktotext</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_the_entitlements</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>addlinebreaktotext</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;br&gt;&quot; &amp; {!current.Name}</expression>
    </formulas>
    <formulas>
        <name>getrunninguser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>test entitlements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Access Products</label>
    <loops>
        <name>loop_through_the_entitlements</name>
        <label>loop through the entitlements</label>
        <locationX>551</locationX>
        <locationY>307</locationY>
        <assignNextValueToReference>current</assignNextValueToReference>
        <collectionReference>contactentitle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_to_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>show_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_contact_record</name>
        <label>get contact record</label>
        <locationX>329</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_account_entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Userdetails.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contactdetails</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Userinfo</name>
        <label>Get Userinfo</label>
        <locationX>180</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getrunninguser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Userdetails</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_account_entitlements</name>
        <label>lookup account entitlements</label>
        <locationX>329</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_the_entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contactdetails.Id</elementReference>
            </value>
        </filters>
        <object>ContactEntitlement__c</object>
        <outputReference>contactentitle</outputReference>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>show_product</name>
        <label>show product</label>
        <locationX>739</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>loopthru</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!textfield}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Userinfo</startElementReference>
    <status>Active</status>
    <variables>
        <name>collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Contactdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactentitle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactEntitlement__c</objectType>
    </variables>
    <variables>
        <name>current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactEntitlement__c</objectType>
    </variables>
    <variables>
        <name>entitlements</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>textfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Userdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
