force-app/main/default/flows/Update_When_Ticket_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Advise_Case_Owner_Of_Update</name>
        <label>Advise Case Owner Of Update</label>
        <locationX>1982</locationX>
        <locationY>1353</locationY>
        <actionName>Case.Support_Internal_Dev_Case_Updated_By_Customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_CJL_of_inactive_User</name>
        <label>Alert CJL of inactive User</label>
        <locationX>291</locationX>
        <locationY>1363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Case com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Chris.Lewis@theaccessgroup.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Comment On Case For Inactive User https://accessgroup.my.salesforce.com/{!FoundCase.Id}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_CJL_of_inactive_User_0</name>
        <label>Alert CJL of inactive User</label>
        <locationX>2135</locationX>
        <locationY>1115</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Update on Dev case {!FoundCase.Id} this case has no Queue Email or Preivous Owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case Update on case in Dev Queue with no Email or Previous Owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Chris.Lewis@theaccessgroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_CJL_of_inactive_User_0_0</name>
        <label>Owner</label>
        <locationX>1700</locationX>
        <locationY>1577</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Case {!FoundCase.CaseNumber} has been updated by either the customer or Dev, as this case has no contactable previous owner you have been notified, please check and see what action if any needs to be taken</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A Dev Case has been updated in {!QueueData.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>QueueData.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_Update_Dev_Queue</name>
        <label>Case Update Dev Queue</label>
        <locationX>1419</locationX>
        <locationY>1502</locationY>
        <actionName>Case.Support_Case_Updated_Dev_Queue</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_customer_with_community</name>
        <label>Email customer with community</label>
        <locationX>1792</locationX>
        <locationY>851</locationY>
        <actionName>Case.Case_Closed_comment_with_community_login</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_customer_without_community</name>
        <label>Email customer without community</label>
        <locationX>1915</locationX>
        <locationY>778</locationY>
        <actionName>Case.Case_Closed_comment_without_community_login</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>123</locationX>
        <locationY>1640</locationY>
        <actionName>Case.Support_Case_Updated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_0</name>
        <label>Send Email Alert</label>
        <locationX>135</locationX>
        <locationY>1468</locationY>
        <actionName>Case.Support_Case_Updated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_for_Emails</name>
        <label>Send Email Alert for Emails</label>
        <locationX>263</locationX>
        <locationY>1732</locationY>
        <actionName>Case.Support_Internal_Case_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InputEmailMessage.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Case_Comment</name>
        <label>Get Case Comment</label>
        <locationX>624</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>MessageFromCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCaseComment.CommentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customername</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCaseComment.CreatorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Commentor_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Email_Comment</name>
        <label>Get Email Comment</label>
        <locationX>2016</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Last_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if status is resolved</description>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>1282</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Customer_Outstanding_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Status_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Customer_Outstanding_0_0</targetReference>
            </connector>
            <label>Current Status Resolved</label>
        </rules>
        <rules>
            <name>Current_Status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_assigned</targetReference>
            </connector>
            <label>Current Status Closed</label>
        </rules>
        <rules>
            <name>Current_Status_Customer_Outstanding</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Fix Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Customer_Outstanding_0</targetReference>
            </connector>
            <label>Current Status Customer Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if status is resolved</description>
        <name>Check_Case_Status_0</name>
        <label>Check Case Status</label>
        <locationX>470</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Is_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Status_Resolved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Customer_Outstanding_0_0_0_0</targetReference>
            </connector>
            <label>Current Status Resolved</label>
        </rules>
        <rules>
            <name>Current_Status_Customer_Outstanding_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Fix Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Customer_Outstanding_0_0_0</targetReference>
            </connector>
            <label>Current Status Customer Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User_or_Not</name>
        <label>Community User or Not</label>
        <locationX>1783</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Community_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_customer_with_community</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
        <rules>
            <name>Non_Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Community_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_customer_without_community</targetReference>
            </connector>
            <label>Non Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dev_Queue_Or_User</name>
        <label>Dev Queue Or User</label>
        <locationX>751</locationX>
        <locationY>1217</locationY>
        <defaultConnector>
            <targetReference>IsUserNotQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Dev_Queue_With_Original_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Case_Owner__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>zdev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Jira_Case_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Owner_Info</targetReference>
            </connector>
            <label>Dev Queue With Original Owner</label>
        </rules>
        <rules>
            <name>Dev_Queue_Blank_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Case_Owner__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>zdev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Jira_Case_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueueData</targetReference>
            </connector>
            <label>Dev Queue Blank Owner</label>
        </rules>
        <rules>
            <name>Case_Development_Outstanding</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Support_OS</targetReference>
            </connector>
            <label>Case Development Outstanding No Owner</label>
        </rules>
        <rules>
            <name>Case_Development_Oustanding_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Owner_And_Status</targetReference>
            </connector>
            <label>Case Development Oustanding Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Or_External</name>
        <label>Internal Or External</label>
        <locationX>770</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommentCreatorUser.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_assigned</name>
        <label>Is Contact assigned</label>
        <locationX>1560</locationX>
        <locationY>598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Update</name>
        <label>Is Self Update?</label>
        <locationX>56</locationX>
        <locationY>1073</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotSelf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InputFeedItem.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User</targetReference>
            </connector>
            <label>NotSelf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Update_0</name>
        <label>Is Self Update?</label>
        <locationX>251</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotSelf_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InputCaseComment.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Comment</targetReference>
            </connector>
            <label>NotSelf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Update_0_0</name>
        <label>Is Self Update?</label>
        <locationX>2175</locationX>
        <locationY>933</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_To_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputEmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FoundCase.ContactEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEmailMessage.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_first_response_milestone</targetReference>
            </connector>
            <label>Email To Customer</label>
        </rules>
        <rules>
            <name>InternalUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputEmailMessage.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <label>Internal</label>
        </rules>
        <rules>
            <name>NotSelf_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputEmailMessage.FromAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>support.access@theaccessgroup.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Comment</targetReference>
            </connector>
            <label>NotSelf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Update_0_0_0</name>
        <label>Is Self Update?</label>
        <locationX>2257</locationX>
        <locationY>1081</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotSelf_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InputTask.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User</targetReference>
            </connector>
            <label>NotSelf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_Case</name>
        <label>Is This A Case</label>
        <locationX>50</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Update</targetReference>
            </connector>
            <label>IsCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_Case_0</name>
        <label>Is This A Case</label>
        <locationX>150</locationX>
        <locationY>891</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCase_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Update_0</targetReference>
            </connector>
            <label>IsCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_Case_0_0</name>
        <label>Is This A Case</label>
        <locationX>2167</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCase_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Update_0_0</targetReference>
            </connector>
            <label>IsCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_Case_0_0_0</name>
        <label>Is This A Case</label>
        <locationX>2257</locationX>
        <locationY>598</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCase_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Update_0_0_0</targetReference>
            </connector>
            <label>IsCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserNotQueue</name>
        <label>Is User Not Queue</label>
        <locationX>758</locationX>
        <locationY>1539</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005580000028HTw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Type</targetReference>
            </connector>
            <label>IsUser Active</label>
        </rules>
        <rules>
            <name>IsUser_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005580000028HTw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CJL_of_inactive_User</targetReference>
            </connector>
            <label>IsUser Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Case_Update</name>
        <label>Jira Case Update</label>
        <locationX>837</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Jira_Case_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsJiraUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User</targetReference>
            </connector>
            <label>Is Jira Case Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>703</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FeedItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFeedItem.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Feed_From_Case</targetReference>
            </connector>
            <label>FeedItem</label>
        </rules>
        <rules>
            <name>CaseComment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCaseComment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCommentFromCase</targetReference>
            </connector>
            <label>CaseComment</label>
        </rules>
        <rules>
            <name>EmailMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputEmailMessage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsEmailForCase</targetReference>
            </connector>
            <label>EmailMessage</label>
        </rules>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsTaskForCase</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Owner_Active</name>
        <label>Original Owner Active</label>
        <locationX>1404</locationX>
        <locationY>1119</locationY>
        <defaultConnector>
            <targetReference>Alert_CJL_of_inactive_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Owner_Blank_No_Queue_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueData.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CJL_of_inactive_User_0</targetReference>
            </connector>
            <label>Owner Blank &amp; No Queue Email</label>
        </rules>
        <rules>
            <name>Owner_Blank_With_Queue_E_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Jira_Original_Case_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueData.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CJL_of_inactive_User_0_0</targetReference>
            </connector>
            <label>Owner Blank With Queue E-mail</label>
        </rules>
        <rules>
            <name>Is_Jira_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Jira_Case_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JIRACaseOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advise_Case_Owner_Of_Update</targetReference>
            </connector>
            <label>Is Jira Update</label>
        </rules>
        <rules>
            <name>Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRACaseOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_Dev_Queue</targetReference>
            </connector>
            <label>Owner Active</label>
        </rules>
        <rules>
            <name>Owner_Inactive_With_Queue_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRACaseOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueData.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CJL_of_inactive_User_0_0</targetReference>
            </connector>
            <label>Owner Inactive With Queue Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Type</name>
        <label>Update Type</label>
        <locationX>513</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Alert_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>Case Comment</label>
        </rules>
        <rules>
            <name>Email_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_for_Emails</targetReference>
            </connector>
            <label>Email Update</label>
        </rules>
    </decisions>
    <formulas>
        <description>Trim Text Body</description>
        <name>TextBodyTrimmed</name>
        <dataType>String</dataType>
        <expression>LEFT({!InputEmailMessage.TextBody},250)</expression>
    </formulas>
    <interviewLabel>Update When Ticket Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update When Ticket Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commentor_Data</name>
        <label>Get Commentor Data</label>
        <locationX>784</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Internal_Or_External</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCaseComment.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CommentCreatorUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1567</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Community_User_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Owner_Info</name>
        <label>Get Original Owner Info</label>
        <locationX>1204</locationX>
        <locationY>1408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Jira_Original_Case_Owner__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>JIRACaseOwner.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JIRACaseOwner.IsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetQueueData</name>
        <label>GetQueueData</label>
        <locationX>1204</locationX>
        <locationY>1111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueData.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QueueData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Is_Feed_From_Case</name>
        <label>Is Feed From Case</label>
        <locationX>59</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_A_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputFeedItem.ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>FoundCase.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Case_Owner__c</assignToReference>
            <field>Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Jira_Original_Case_Owner__c</assignToReference>
            <field>Jira_Original_Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Is_User</name>
        <label>Is User</label>
        <locationX>938</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dev_Queue_Or_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserID.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID.IsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IsCommentFromCase</name>
        <label>Is Comment From Case</label>
        <locationX>152</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_A_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCaseComment.ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>FoundCase.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Case_Owner__c</assignToReference>
            <field>Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Jira_Original_Case_Owner__c</assignToReference>
            <field>Jira_Original_Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Resolved__c</assignToReference>
            <field>Resolved__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Solution__c</assignToReference>
            <field>Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IsEmailForCase</name>
        <label>Is E-mail For Case</label>
        <locationX>2173</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_A_Case_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputEmailMessage.ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>FoundCase.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Case_Owner__c</assignToReference>
            <field>Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.ContactEmail</assignToReference>
            <field>ContactEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Jira_Original_Case_Owner__c</assignToReference>
            <field>Jira_Original_Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.OwnerId</assignToReference>
            <field>OwnerId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Resolved__c</assignToReference>
            <field>Resolved__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Solution__c</assignToReference>
            <field>Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IsTaskForCase</name>
        <label>Is Task For Case</label>
        <locationX>2263</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_A_Case_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>FoundCase.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Case_Owner__c</assignToReference>
            <field>Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Jira_Original_Case_Owner__c</assignToReference>
            <field>Jira_Original_Case_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCase.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Customer_Outstanding_0</name>
        <label>Set Case Support Outstanding</label>
        <locationX>1064</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Comment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Customer_Outstanding_0_0</name>
        <label>Set Case Support Outstanding</label>
        <locationX>1220</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Comment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Customer_Outstanding_0_0_0</name>
        <label>Set Case Customer Outstanding</label>
        <locationX>305</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Customer_Outstanding_0_0_0_0</name>
        <label>Set Case Customer Outstanding</label>
        <locationX>552</locationX>
        <locationY>777</locationY>
        <connector>
            <targetReference>Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Customer_Outstanding_0_0_0_0_0</name>
        <label>Set Case Support Outstanding</label>
        <locationX>1004</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Comment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Last_Email</name>
        <label>Set Case Last Email</label>
        <locationX>2014</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Email__c</field>
            <value>
                <elementReference>TextBodyTrimmed</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Change case owner and status to Support OS and back to agent</description>
        <name>Set_Case_Owner_And_Status</name>
        <label>Set Case Owner And Status</label>
        <locationX>216</locationX>
        <locationY>1129</locationY>
        <connector>
            <targetReference>Send_Email_Alert_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FoundCase.Jira_Original_Case_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set to Support OS</description>
        <name>Set_Support_OS</name>
        <label>Set Support OS</label>
        <locationX>302</locationX>
        <locationY>1229</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Support Outstanding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>453</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Jira_Case_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Complete First Response Milestone</description>
        <name>Complete_first_response_milestone</name>
        <label>Complete first response milestone</label>
        <locationX>1287</locationX>
        <locationY>957</locationY>
        <flowName>Support_Profiles_Update_Milestones</flowName>
        <inputAssignments>
            <name>IncommingCase</name>
            <value>
                <elementReference>FoundCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateAction</name>
            <value>
                <stringValue>First Response</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseCommentEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi {!UserID.FirstName}! &lt;p&gt;
{!CommentCreatorUser.FirstName} has left a comment on your case &lt;a href=&quot;https://accessgroup.my.salesforce.com/{!FoundCase.Id}&quot;&gt;{!FoundCase.CaseNumber}&lt;/a&gt;&lt;p&gt;
The comment is as follows:&lt;p&gt;
{!InputCaseComment.CommentBody}
&lt;p&gt;Please action this case accordingly</text>
    </textTemplates>
    <variables>
        <name>CommentCreatorUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CreatedCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <description>Customer Name</description>
        <name>Customername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case item searched for using parent ID</description>
        <name>FoundCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FoundContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Case Comment Item</description>
        <name>InputCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>InputEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Incomming Feed Item</description>
        <name>InputFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <description>Incomming Task</description>
        <name>InputTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsJiraUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JIRACaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>MessageFromCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User ID of Case Owner</description>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
